Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: uv run pyright
    dprint:
      glob: "*.{md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema
    kpops-docs-cli:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: |
        .gitignore
        hooks/gen_docs/gen_docs_components.py
        docs/docs/resources/pipeline-defaults/headers/*.yaml
        docs/docs/resources/pipeline-components/headers/*.yaml
        docs/docs/resources/pipeline-components/sections/*.yaml
        docs/docs/resources/pipeline-components/dependencies/*.yaml
        kpops/cli/main.py
        kpops/components/*.py
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

lefthook.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/evilmartians/lefthook/master/schema.json

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    basedpyright:
      glob: "*.py"
      run: uv run basedpyright
    dprint:
      glob: "*.{json,jsonc,yaml,yml,md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema && git add -u docs/docs/schema
    kpops-docs-cli:
      glob: "{uv.lock,kpops/cli/main.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: "{\
        .gitignore,\
        uv.lock,\
        hooks/gen_docs/gen_docs_components.py,\
        docs/docs/resources/pipeline-defaults/headers/*.yaml,\
        docs/docs/resources/pipeline-components/headers/*.yaml,\
        docs/docs/resources/pipeline-components/sections/*.yaml,\
        docs/docs/resources/pipeline-components/dependencies/*.yaml,\
        kpops/components/*.py\
        }"
      # .gitignore -- indicates whether the script is ran with `--all-files`
      # hooks/gen_docs/gen_docs_components.py -- hook's behavior is possibly changed
      # docs/.../.yaml -- examples changed or dependencies edited
      # kpops/components/... -- KPOps components possibly changed
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

Deployed 8a0fc0d1 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-defaults/defaults-producer-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/pipeline-defaults/headers/defaults-producer-app.yaml
Due: dprint

docs: improve links for shared component behavior
  docs/docs/user/core-concepts/components/consumer-app.md
  docs/docs/user/core-concepts/components/helm-app.md
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/components/streams-app.md
Due: dprint

Deployed 1a27ddb8 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/search/search_index.json
  dev/user/core-concepts/components/consumer-app/index.html
  dev/user/core-concepts/components/helm-app/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
Due: dprint

chore: apply feedback
  tests/components/streams_bootstrap/test_consumer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
Due: ruff-check, ruff-format, pyright, basedpyright

Deployed d3528795 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat: add consumer app (#644)
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/headers/consumer-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/to-consumer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-streams-app.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/components/consumer-app.md
  docs/docs/user/core-concepts/components/helm-app.md
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/components/streams-app.md
  docs/mkdocs.yml
  kpops/components/common/app_type.py
  kpops/components/streams_bootstrap/__init__.py
  kpops/components/streams_bootstrap/common/__init__.py
  kpops/components/streams_bootstrap/common/model.py
  kpops/components/streams_bootstrap/consumer/__init__.py
  kpops/components/streams_bootstrap/consumer/consumer_app.py
  kpops/components/streams_bootstrap/consumer/model.py
  tests/api/test_registry.py
  tests/components/streams_bootstrap/test_consumer_app.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Bump version 10.7.1 → 10.8.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 49ca37a2 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: dprint

Upgrade actions using deprecated Node.js 20
  .github/workflows/_lint-gh-ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/update-gh-pages.yaml
Due: dprint

Upgrade actions using deprecated Node.js 20
  .github/actions/update-docs/action.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
Due: dprint

Upgrade actions using deprecated Node.js 20
  .github/workflows/ci.yaml
Due: dprint

Use stable
  .github/workflows/_lint-gh-ci.yaml
  .github/workflows/release.yaml
Due: dprint

Upgrade actions using deprecated Node.js 20 (#645)
  .github/actions/update-docs/action.yml
  .github/workflows/_lint-gh-ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/update-gh-pages.yaml
Due: dprint

Deployed dc1c51d2 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

feat(kafka-connect): reset connector using REST API, remove custom resetter
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

make helm timeout configurable
  docs/docs/schema/config.json
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/cleaner.py
  kpops/components/base_components/helm_app.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

unrelated fix
  tests/component_handlers/helm_wrapper/test_helm_diff.py
Due: ruff-check, ruff-format, pyright, basedpyright

docs
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
Due: dprint, kpops-docs-components

fix default timeout location
  docs/docs/schema/config.json
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/cleaner.py
  kpops/components/base_components/helm_app.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

docs
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  tests/cli/snapshots/test_init/test_init_project_include_optional/config.yaml
Due: dprint

Deployed 44475ed7 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
Due: dprint

tests
  tests/components/test_helm_app.py
  tests/test_kpops_config.py
Due: ruff-check, ruff-format, pyright, basedpyright

make force configurable globally
  docs/docs/schema/config.json
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/helm_app.py
  tests/components/test_helm_app.py
  tests/test_kpops_config.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

fix
  docs/docs/schema/config.json
  kpops/component_handlers/helm_wrapper/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

fix
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
Due: dprint

snapshot
  tests/cli/snapshots/test_init/test_init_project_include_optional/config.yaml
Due: dprint

Deployed fccfe253 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/user/core-concepts/variables/environment_variables/index.html
Due: dprint

Update kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

fix
  tests/components/test_helm_app.py
Due: ruff-check, ruff-format, pyright, basedpyright

Potential fix for pull request finding
  kpops/components/base_components/cleaner.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

add helm version info in to_command method
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Deployed 33e393f5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

add test
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

fix
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

fix
  docs/docs/schema/config.json
Due: dprint
