Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

uv-lock:
  run: uv lock --check

ruff-check:
  run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
  stage_fixed: true

pyright:
  run: uv run pyright

dprint:
  run: dprint fmt

kpops-schema:
  run: python -m hooks.gen_schema

kpops-docs-cli:
  run: python -m hooks.gen_docs.gen_docs_cli_usage

kpops-docs-env-vars:
  run: python -m hooks.gen_docs.gen_docs_env_vars

kpops-docs-components:
  run: python -m hooks.gen_docs.gen_docs_components {staged_files}

basedpyright:
  run: uv run basedpyright

refactor: update example pipelines to streams-bootstrap 7.5
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
Due: dprint

test: update snapshots
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/test_example.py
Due: ruff-check, ruff-format, pyright, dprint, basedpyright

Deployed 881154a6 to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/examples/defaults/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/examples/atm-fraud-pipeline/index.html
  main/user/getting-started/quick-start/index.html
  main/user/getting-started/setup/index.html
Due: dprint

test: update kpops-examples (#675)
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/test_example.py
Due: ruff-check, ruff-format, pyright, dprint, basedpyright

chore(streams-bootstrap)!: remove deprecated v2 components
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/migration-guide/v11-v12.md
  docs/mkdocs.yml
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/__init__.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/__init__.py
  kpops/components/streams_bootstrap_v2/producer/model.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/__init__.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  pyproject.toml
  tests/api/test_registry.py
  tests/components/resources/pipelines/test-distributed-defaults/pipeline-deep/defaults.yaml
  tests/components/streams_bootstrap_v2/__init__.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed df0cf64e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/search/search_index.json
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
Due: dprint

chore(streams-bootstrap)!: remove deprecated v2 components (#676)
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/migration-guide/v11-v12.md
  docs/mkdocs.yml
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/__init__.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/__init__.py
  kpops/components/streams_bootstrap_v2/producer/model.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/__init__.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  pyproject.toml
  tests/api/test_registry.py
  tests/components/resources/pipelines/test-distributed-defaults/pipeline-deep/defaults.yaml
  tests/components/streams_bootstrap_v2/__init__.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

docs: fix typo
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/values-consumer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-streams-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/common/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

docs: apply rename FromSection "role" -> "label"
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/helm-app.yaml
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer-app.yaml
  docs/docs/resources/pipeline-components/sections/from_.yaml
  docs/docs/resources/pipeline-components/sections/to.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
Due: dprint, kpops-docs-components

Deployed d44ab0e9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/consumer-app.yaml
  dev/resources/pipeline-components/consumer-producer-app.yaml
  dev/resources/pipeline-components/helm-app.yaml
  dev/resources/pipeline-components/kafka-app.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/kubernetes-app.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/producer-app.yaml
  dev/resources/pipeline-components/sections/from_.yaml
  dev/resources/pipeline-components/sections/to.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-kafka-app.yaml
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/search/search_index.json
  dev/user/core-concepts/components/consumer-app/index.html
  dev/user/core-concepts/components/consumer-producer-app/index.html
  dev/user/core-concepts/components/helm-app/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
Due: dprint

chore: fix format of codeowners
  CODEOWNERS
Due: none

chore: fix format of codeowners (#680)
  CODEOWNERS
Due: none

Deployed 588d4b11 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

docs: make streams-bootstrap naming consistent
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/headers/consumer-app.yaml
  docs/docs/resources/pipeline-components/headers/consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/headers/producer-app.yaml
  docs/docs/resources/pipeline-components/headers/streams-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-streams-app.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/consumer/model.py
  kpops/components/streams_bootstrap/consumer_producer/model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 68f86792 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/consumer-app.yaml
  dev/resources/pipeline-components/consumer-producer-app.yaml
  dev/resources/pipeline-components/headers/consumer-app.yaml
  dev/resources/pipeline-components/headers/consumer-producer-app.yaml
  dev/resources/pipeline-components/headers/producer-app.yaml
  dev/resources/pipeline-components/headers/streams-app.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/producer-app.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-streams-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/pipeline-defaults/headers/defaults-streams-app.yaml
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/user/core-concepts/components/consumer-app/index.html
  dev/user/core-concepts/components/consumer-producer-app/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
Due: dprint

docs: standardize component docstring
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/headers/consumer-app.yaml
  docs/docs/resources/pipeline-components/headers/consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/headers/producer-app.yaml
  docs/docs/resources/pipeline-components/headers/streams-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/consumer/consumer_app.py
  kpops/components/streams_bootstrap/consumer_producer/consumer_producer_app.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed c05bd464 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/consumer-app.yaml
  dev/resources/pipeline-components/consumer-producer-app.yaml
  dev/resources/pipeline-components/headers/consumer-app.yaml
  dev/resources/pipeline-components/headers/consumer-producer-app.yaml
  dev/resources/pipeline-components/headers/producer-app.yaml
  dev/resources/pipeline-components/headers/streams-app.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/producer-app.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/user/core-concepts/components/consumer-app/index.html
  dev/user/core-concepts/components/consumer-producer-app/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
Due: dprint

chore: cleanup Pyright pragmas
  kpops/components/streams_bootstrap/consumer_producer/consumer_producer_app.py
  kpops/components/streams_bootstrap/consumer_producer/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

docs: make streams-bootstrap docstrings consistent
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/consumer/model.py
  kpops/components/streams_bootstrap/consumer_producer/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed c3d8c32b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

test: update log assertions
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, basedpyright

Deployed 7804acff to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/migration-guide/v11-v12/index.html
Due: dprint

refactor: use standard ANSI colors
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/utils/logging.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

fix: reset schemas
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
Due: dprint

docs: migrate from mkdocs to zensical
  .github/workflows/ci.yaml
  docs/docs/overrides/home.html
  docs/mkdocs.yml
  justfile
  pyproject.toml
  uv.lock
Due: uv-lock, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

fix: improve contrast
  docs/docs/stylesheets/extra.css
Due: dprint

fix: improve landing page layout
  docs/docs/overrides/home.html
Due: none

Deployed 2a8eb27a to dev with Zensical 0.0.64 and mike 2.2.0+zensical-0.1.0
  dev/index.html
  dev/overrides/home.html
  dev/stylesheets/extra.css
Due: dprint

style: update copyright notice
  LICENSE
  docs/mkdocs.yml
Due: dprint

fix: cleanup extensions and resolve minor issues
  docs/docs/stylesheets/extra.css
  docs/docs/user/getting-started/setup.md
  docs/mkdocs.yml
  pyproject.toml
  uv.lock
Due: uv-lock, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

Deployed a2c00ce5 to dev with Zensical 0.0.64 and mike 2.2.0+zensical-0.1.0
  dev/search.json
  dev/stylesheets/extra.css
  dev/user/getting-started/setup/index.html
Due: dprint

feat: add log columns for pipeline and component name (#678)
  docs/docs/user/migration-guide/v11-v12.md
  kpops/api/operations.py
  kpops/component_handlers/helm/helm_diff.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/topic/handler.py
  kpops/pipeline.py
  kpops/utils/logging.py
  tests/component_handlers/helm/test_helm_diff.py
  tests/component_handlers/kafka_connect/test_kafka_connect_handler.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/pipeline/conftest.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_run_component.py
  tests/utils/test_logging.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Path conditions:
  uv-lock: any of: {pyproject.toml,uv.lock}
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  dprint: (any of: *.{md,toml,css}) or (any of: *.{json,jsonc,yaml,yml,md,toml,css})
  kpops-schema: (any of: {kpops/**/*.py,hooks/gen_schema.py}) or (any of: {uv.lock,kpops/**/*.py,hooks/gen_schema.py})
  kpops-docs-cli: (any of: {kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}) or (any of: {uv.lock,kpops/cli/main.py,hooks/gen_docs/gen_docs_cli_usage.py})
  kpops-docs-env-vars: (any of: {kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}) or (any of: {uv.lock,kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py})
  kpops-docs-components: (any of: .gitignore
hooks/gen_docs/gen_docs_components.py
docs/docs/resources/pipeline-defaults/headers/*.yaml
docs/docs/resources/pipeline-components/headers/*.yaml
docs/docs/resources/pipeline-components/sections/*.yaml
docs/docs/resources/pipeline-components/dependencies/*.yaml
kpops/cli/main.py
kpops/components/*.py) or (any of: {.gitignore,uv.lock,hooks/gen_docs/gen_docs_components.py,docs/docs/resources/pipeline-defaults/headers/*.yaml,docs/docs/resources/pipeline-components/headers/*.yaml,docs/docs/resources/pipeline-components/sections/*.yaml,docs/docs/resources/pipeline-components/dependencies/*.yaml,kpops/components/*.py})
  basedpyright: any of: *.py
