Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: uv run pyright
    dprint:
      glob: "*.{md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema
    kpops-docs-cli:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: |
        .gitignore
        hooks/gen_docs/gen_docs_components.py
        docs/docs/resources/pipeline-defaults/headers/*.yaml
        docs/docs/resources/pipeline-components/headers/*.yaml
        docs/docs/resources/pipeline-components/sections/*.yaml
        docs/docs/resources/pipeline-components/dependencies/*.yaml
        kpops/cli/main.py
        kpops/components/*.py
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

Apply changelog fix
  .github/workflows/release.yaml
Due: none

Add template workflow for python-uv-release
  .github/workflows/python-uv-release.yaml
  .github/workflows/release.yaml
Due: none

Update uv lock
  uv.lock
Due: uv-lock

Fix workflow path
  .github/workflows/release.yaml
Due: none

Fix CI release and changelog (#590)
  .github/workflows/python-uv-release.yaml
  .github/workflows/release.yaml
  uv.lock
Due: uv-lock

Bump version 9.2.1-dev → 9.2.1
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

Deployed 70f52df2 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Deployed 86faf36c to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

Use Pydantic `model_validate` to avoid Pyright warnings (#586)
  tests/component_handlers/kubernetes/model.py
  tests/component_handlers/topic/test_utils.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/test_base_defaults_component.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_sink_connector.py
Due: ruff-check, ruff-format, pyright

Fix commit message for releases
  .github/workflows/python-uv-release.yaml
Due: none

Delete custom changelog config
  cliff.toml
Due: dprint

Split long glob across multiple lines
  lefthook.yaml
Due: none

Fix release commit message (#591)
  .github/workflows/python-uv-release.yaml
  cliff.toml
Due: dprint

Split long command
  .github/workflows/ci.yaml
Due: none

Fix
  .github/workflows/ci.yaml
Due: none

Deployed a51ff4d9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

Use trusted publishing for PYPI
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  pyproject.toml
Due: uv-lock, dprint

Configure PyPI trusted publishing (#592)
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  pyproject.toml
Due: uv-lock, dprint

Migrate pre-commit hooks to lefthook (#584)
  .github/workflows/ci.yaml
  .gitignore
  .pre-commit-config.yaml
  docs/docs/developer/auto-generation.md
  docs/docs/developer/contributing.md
  dprint.json
  hooks/__init__.py
  hooks/gen_docs/gen_docs_components.py
  lefthook.yaml
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint

Deployed 59765dce to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/auto-generation/index.html
  main/developer/contributing/index.html
  main/search/search_index.json
Due: none

Only allow strings as command line args
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

chore: add a test using the symlinked pipeline
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright

chore: add a symlinked pipeline to test the correct behaviour
  tests/pipeline/resources/pipeline-symlinked/pipeline.yaml
Due: none

chore: include other combinations of symlinks
  tests/pipeline/resources/pipeline-folders-with-symlinks/pipeline-1/pipeline.yaml
  tests/pipeline/resources/pipeline-folders-with-symlinks/pipeline-2
  tests/pipeline/resources/pipeline-folders-with-symlinks/pipeline-3/pipeline.yaml
  tests/pipeline/resources/symlinked-folder
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright

feat: support symlinked pipelines to avoid repetition
  kpops/cli/utils.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

feat: support symbolic linked pipelines to avoid repetition (#580)
  kpops/cli/utils.py
  tests/pipeline/resources/pipeline-folders-with-symlinks/pipeline-1/pipeline.yaml
  tests/pipeline/resources/pipeline-folders-with-symlinks/pipeline-2
  tests/pipeline/resources/pipeline-folders-with-symlinks/pipeline-3/pipeline.yaml
  tests/pipeline/resources/pipeline-symlinked/pipeline.yaml
  tests/pipeline/resources/symlinked-folder
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

fix(lint/format): apply ruff
  kpops/cli/utils.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

fix(test): fix simple symlink test, disable others for now
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright

fix: address CI warnings introduced by #580 (#594)
  kpops/cli/utils.py
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

Deployed 12105b8d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed 43720042 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

test: expand coverage and update snapshots
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: none

feat(streams-bootstrap): allow float values in command line
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

feat(streams-bootstrap): allow float values in command line (#593)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

Deployed efa4b323 to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/defaults.json
  main/schema/pipeline.json
Due: none

feat(dprint): add JSON and YAML formatters
  dprint.json
  dprint.jsonc
Due: none

style: format
  .github/pyright-matcher.json
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/update-gh-pages.yaml
  action.yaml
  config.yaml
  lefthook.yaml
  tests/component_handlers/resources/kafka_rest_proxy_responses/broker_response.json
  tests/component_handlers/resources/kafka_rest_proxy_responses/cluster-info.json
  tests/component_handlers/resources/kafka_rest_proxy_responses/get_default_topic_response.json
  tests/component_handlers/resources/kafka_rest_proxy_responses/get_topic_response.json
  tests/component_handlers/resources/kafka_rest_proxy_responses/topic_config_response.json
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
  tests/pipeline/resources/manifest-pipeline/pipeline.yaml
  tests/pipeline/resources/name_prefix_concatenation/pipeline.yaml
  tests/pipeline/resources/parallel-pipeline/pipeline.yaml
  tests/pipeline/resources/pipeline-with-short-topics/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/pipeline.yaml
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
Due: none

feat(lefthook): update dprint glob
  lefthook.yaml
Due: none
