Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: uv run pyright
    dprint:
      glob: "*.{md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema
    kpops-docs-cli:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: |
        .gitignore
        hooks/gen_docs/gen_docs_components.py
        docs/docs/resources/pipeline-defaults/headers/*.yaml
        docs/docs/resources/pipeline-components/headers/*.yaml
        docs/docs/resources/pipeline-components/sections/*.yaml
        docs/docs/resources/pipeline-components/dependencies/*.yaml
        kpops/cli/main.py
        kpops/components/*.py
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

lefthook.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/evilmartians/lefthook/master/schema.json

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    basedpyright:
      glob: "*.py"
      run: uv run basedpyright
    dprint:
      glob: "*.{json,jsonc,yaml,yml,md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema && git add -u docs/docs/schema
    kpops-docs-cli:
      glob: "{uv.lock,kpops/cli/main.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: "{\
        .gitignore,\
        uv.lock,\
        hooks/gen_docs/gen_docs_components.py,\
        docs/docs/resources/pipeline-defaults/headers/*.yaml,\
        docs/docs/resources/pipeline-components/headers/*.yaml,\
        docs/docs/resources/pipeline-components/sections/*.yaml,\
        docs/docs/resources/pipeline-components/dependencies/*.yaml,\
        kpops/components/*.py\
        }"
      # .gitignore -- indicates whether the script is ran with `--all-files`
      # hooks/gen_docs/gen_docs_components.py -- hook's behavior is possibly changed
      # docs/.../.yaml -- examples changed or dependencies edited
      # kpops/components/... -- KPOps components possibly changed
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

fix: add connector failed state
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed ace7e834 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

fix: use correct HTTP status for connector stop
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Deployed 9e820022 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

refactor: always try resume connector if new state is running
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor: do not expose connector state stopped
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Deployed 233d1d90 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

test: rename parameter for current connector state
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: add failing test
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

fix: uppercase enum values
  kpops/component_handlers/kafka_connect/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor: convert enum to API value
  kpops/component_handlers/kafka_connect/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

test: fix enum conversion
  kpops/component_handlers/kafka_connect/model.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Deployed 4838e7b5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

refactor: remove unnecessary logs
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

docs: add missing param docs
  kpops/component_handlers/kafka_connect/connect_wrapper.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

fix: serialize JSON response in exception handler
  kpops/component_handlers/utils/exception.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

fix: add missing return after retry
  kpops/component_handlers/kafka_connect/connect_wrapper.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

test: refactor and speedup
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: update wrong test
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: rename tests
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: rename and refactor tests
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: speed up tests
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: use non-asyncio pytest fixture
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: refactor test
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

refactor: use caplog fixture instead of custom mock for logs
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: remove flaky decorator for Windows
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

feat: log connector state for create dry-run
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

feat(kafka-connect): set connector state (#616)
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/utils/exception.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/conftest.py
  tests/pipeline/test_clean.py
  tests/pipeline/test_deploy.py
  tests/pipeline/test_destroy.py
  tests/pipeline/test_reset.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 85785800 to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-components/dependencies/kpops_structure.yaml
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: dprint

Bump version 10.0.4 → 10.1.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 3c44b7ef to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: dprint

test: add failing test case for connector state enum
  tests/pipeline/resources/kafka-connect-sink-config/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, dprint, basedpyright

fix: parse enum correctly
  kpops/components/base_components/pipeline_component.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

fix(kafka-connector): parse enum correctly (#619)
  kpops/components/base_components/pipeline_component.py
  tests/pipeline/resources/kafka-connect-sink-config/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Bump version 10.1.0 → 10.1.1
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed cbe4c6fd to 10.1 with MkDocs 1.6.1 and mike 2.1.3
  10.1/search/search_index.json
  10.1/sitemap.xml
  10.1/sitemap.xml.gz
  10.1/user/changelog/index.html
Due: dprint

Deployed 05aaea44 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed cbe4c6fd to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: dprint
