Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: uv run pyright
    dprint:
      glob: "*.{md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema
    kpops-docs-cli:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: |
        .gitignore
        hooks/gen_docs/gen_docs_components.py
        docs/docs/resources/pipeline-defaults/headers/*.yaml
        docs/docs/resources/pipeline-components/headers/*.yaml
        docs/docs/resources/pipeline-components/sections/*.yaml
        docs/docs/resources/pipeline-components/dependencies/*.yaml
        kpops/cli/main.py
        kpops/components/*.py
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

lefthook.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/evilmartians/lefthook/master/schema.json

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    basedpyright:
      glob: "*.py"
      run: uv run basedpyright
    dprint:
      glob: "*.{json,jsonc,yaml,yml,md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema && git add -u docs/docs/schema
    kpops-docs-cli:
      glob: "{uv.lock,kpops/cli/main.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: "{\
        .gitignore,\
        uv.lock,\
        hooks/gen_docs/gen_docs_components.py,\
        docs/docs/resources/pipeline-defaults/headers/*.yaml,\
        docs/docs/resources/pipeline-components/headers/*.yaml,\
        docs/docs/resources/pipeline-components/sections/*.yaml,\
        docs/docs/resources/pipeline-components/dependencies/*.yaml,\
        kpops/components/*.py\
        }"
      # .gitignore -- indicates whether the script is ran with `--all-files`
      # hooks/gen_docs/gen_docs_components.py -- hook's behavior is possibly changed
      # docs/.../.yaml -- examples changed or dependencies edited
      # kpops/components/... -- KPOps components possibly changed
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

Deployed 8d4852c0 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

refactor: simplify Pydantic field definition
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/models/from_section.py
  kpops/components/common/kubernetes_model.py
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/manifests/strimzi/kafka_topic.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

refactor: simplify Pydantic field definition
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap_v2/base.py
  tests/cli/test_schema_generation.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

refactor: simplify Pydantic field definition
  kpops/component_handlers/helm_wrapper/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Deployed e4cc3512 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

ci: bump release workflow
  .github/workflows/release.yaml
Due: dprint

Deployed b8983044 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed d94415f2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/producer-app.yaml
  dev/resources/pipeline-components/sections/values-producer-app.yaml
  dev/resources/pipeline-components/sections/values-streams-app.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-producer-app.yaml
  dev/resources/pipeline-defaults/defaults-streams-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
Due: dprint

Deployed 6e9a14a2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/producer-app.yaml
  dev/resources/pipeline-components/sections/values-producer-app.yaml
  dev/resources/pipeline-components/sections/values-streams-app.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-producer-app.yaml
  dev/resources/pipeline-defaults/defaults-streams-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
Due: dprint

docs: update examples for streams-bootstrap v3 (#636)
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-streams-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 14b41e49 to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-components/pipeline.yaml
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-components/producer-app.yaml
  main/resources/pipeline-components/sections/values-producer-app.yaml
  main/resources/pipeline-components/sections/values-streams-app.yaml
  main/resources/pipeline-components/streams-app.yaml
  main/resources/pipeline-defaults/defaults-producer-app.yaml
  main/resources/pipeline-defaults/defaults-streams-app.yaml
  main/resources/pipeline-defaults/defaults.yaml
  main/resources/pipeline-defaults/defaults/index.html
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/user/core-concepts/components/producer-app/index.html
  main/user/core-concepts/components/streams-app/index.html
  main/user/core-concepts/defaults/index.html
Due: dprint

feat(streams-bootstrap): set default Kafka brokers from config (#637)
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-streams-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Bump version 10.4.2 → 10.5.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed d2f7ce1c to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-components/pipeline.yaml
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-components/producer-app.yaml
  main/resources/pipeline-components/sections/values-producer-app.yaml
  main/resources/pipeline-components/sections/values-streams-app.yaml
  main/resources/pipeline-components/streams-app.yaml
  main/resources/pipeline-defaults/defaults-producer-app.yaml
  main/resources/pipeline-defaults/defaults-streams-app.yaml
  main/resources/pipeline-defaults/defaults.yaml
  main/resources/pipeline-defaults/defaults/index.html
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/user/core-concepts/components/producer-app/index.html
  main/user/core-concepts/components/streams-app/index.html
  main/user/core-concepts/defaults/index.html
Due: dprint

Deployed 035d8815 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: dprint

Deployed c519946f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: dprint

fix(schema): fix attribute title
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 36338fe5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

refactor: rewrite defaults
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/model.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 4de57ea4 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

refactor: rewrite defaults
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 544e65a4 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

refactor: rewrite defaults
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/__init__.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kubernetes/pvc_handler.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/common/kubernetes_model.py
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/utils/gen_schema.py
  tests/component_handlers/schema_handler/test_schema_handler.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

chore: update basedpyright
  pyproject.toml
  tests/cli/test_schema_generation.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 56bf6238 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

refactor: improve typing
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/utils/pydantic.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

fix: hacky fix
  hooks/gen_docs/gen_docs_env_vars.py
Due: ruff-check, ruff-format, pyright, kpops-docs-env-vars, basedpyright

refactor: clean up
  hooks/gen_docs/gen_docs_env_vars.py
Due: ruff-check, ruff-format, pyright, kpops-docs-env-vars, basedpyright

revert: use default factory to hide from schema
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_connector.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 58f7f364 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

style: update comment
  hooks/gen_docs/gen_docs_env_vars.py
Due: ruff-check, ruff-format, pyright, kpops-docs-env-vars, basedpyright

style: expand comment about hack
  hooks/gen_docs/gen_docs_env_vars.py
Due: ruff-check, ruff-format, pyright, kpops-docs-env-vars, basedpyright

Deployed 8a0eaaad to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

refactor(schema): automatically assign field description from model `__doc__` (#638)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/component_handlers/__init__.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kubernetes/pvc_handler.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/common/kubernetes_model.py
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/model.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  kpops/manifests/strimzi/kafka_topic.py
  kpops/utils/gen_schema.py
  kpops/utils/pydantic.py
  pyproject.toml
  tests/cli/test_schema_generation.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Bump version 10.5.0 → 10.6.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed e29d711b to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: dprint
