Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: uv run pyright
    dprint:
      glob: "*.{md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema
    kpops-docs-cli:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: |
        .gitignore
        hooks/gen_docs/gen_docs_components.py
        docs/docs/resources/pipeline-defaults/headers/*.yaml
        docs/docs/resources/pipeline-components/headers/*.yaml
        docs/docs/resources/pipeline-components/sections/*.yaml
        docs/docs/resources/pipeline-components/dependencies/*.yaml
        kpops/cli/main.py
        kpops/components/*.py
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

lefthook.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/evilmartians/lefthook/master/schema.json

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: uv run pyright
    dprint:
      glob: "*.{json,jsonc,yaml,yml,md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema && git add -u docs/docs/schema
    kpops-docs-cli:
      glob: "{uv.lock,kpops/cli/main.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: "{\
        .gitignore,\
        uv.lock,\
        hooks/gen_docs/gen_docs_components.py,\
        docs/docs/resources/pipeline-defaults/headers/*.yaml,\
        docs/docs/resources/pipeline-components/headers/*.yaml,\
        docs/docs/resources/pipeline-components/sections/*.yaml,\
        docs/docs/resources/pipeline-components/dependencies/*.yaml,\
        kpops/components/*.py\
        }"
      # .gitignore -- indicates whether the script is ran with `--all-files`
      # hooks/gen_docs/gen_docs_components.py -- hook's behavior is possibly changed
      # docs/.../.yaml -- examples changed or dependencies edited
      # kpops/components/... -- KPOps components possibly changed
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

refactor: remove Pydantic Field `default=...`
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/model.py
  kpops/config/__init__.py
  tests/cli/test_schema_generation.py
  tests/utils/resources/nested_base_settings.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

test: use pytest fixture correctly
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright

refactor: use Pydantic `model_validate` where applicable
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/utils/cli_commands.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/component_handlers/topic/test_utils.py
  tests/components/test_kafka_connector.py
  tests/pipeline/test_components/components.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

refactor(helm-diff)!: configure on HelmApp component level (#601)
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-config/config.yaml
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/helm_app.py
  kpops/config/__init__.py
  tests/cli/snapshots/test_init/test_init_project_include_optional/config.yaml
  tests/components/conftest.py
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/test_kpops_config.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

test: use pytest fixture correctly
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: ruff-check, ruff-format, pyright

Deployed 5fb5280b to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-components/dependencies/kpops_structure.yaml
  main/resources/pipeline-config/config.yaml
  main/resources/variables/config_env_vars.env
  main/resources/variables/config_env_vars/index.html
  main/schema/config.json
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/user/core-concepts/config/index.html
  main/user/core-concepts/variables/environment_variables/index.html
Due: dprint

refactor: mark ComponentHandlers as `@final`
  kpops/component_handlers/__init__.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

chore: configure basedpyright
  pyproject.toml
Due: uv-lock, dprint

chore: override basedpyright config for tests
  pyproject.toml
Due: uv-lock, dprint

refactor: remove unnecessary pyright ignore pragmas
  kpops/components/common/kubernetes_model.py
  tests/test_kpops_config.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

refactor: add missing type parameters
  tests/components/test_base_defaults_component.py
Due: ruff-check, ruff-format, pyright

refactor: add missing nx.Graph type param
  kpops/pipeline/__init__.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

fix: fix reported error about uninitialized instance attribute
  kpops/pipeline/__init__.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

refactor: add missing type params
  kpops/utils/dict_differ.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

refactor: fix reported errors & improve type hints
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/component_handlers/helm_wrapper/dry_run_handler.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kubernetes/pvc_handler.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/pipeline/__init__.py
  kpops/utils/dict_ops.py
  kpops/utils/gen_schema.py
  tests/pipeline/test_generate.py
  tests/utils/test_dict_ops.py
  tests/utils/test_doc_gen.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

docs: create migration guide for v10
  docs/docs/user/migration-guide/v9-v10.md
  docs/mkdocs.yml
Due: dprint

docs: fix typo
  docs/docs/user/migration-guide/v9-v10.md
Due: dprint

docs: fix defaults.yaml format
  docs/docs/user/migration-guide/v9-v10.md
Due: dprint

Deployed 06c5cc56 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/search/search_index.json
  dev/user/migration-guide/v9-v10/index.html
Due: dprint

fix: mark overrides
  kpops/api/logs.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

chore: ignore reportIncompatibleVariableOverride for PipelineComponent attrs
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/model.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

chore: report deprecated warnings about streams-bootstrap v2 as hints
  pyproject.toml
Due: uv-lock, dprint

test: fix parameter order
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: ruff-check, ruff-format, pyright

docs: create migration guide for v10 (#603)
  docs/docs/user/migration-guide/v9-v10.md
  docs/mkdocs.yml
Due: dprint

Bump version 9.4.1 → 10.0.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

Deployed b6efa687 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: dprint

ci: run docs on Python 3.12
  .github/workflows/ci.yaml
Due: dprint

style: format
  kpops/components/common/kubernetes_model.py
  tests/components/test_base_defaults_component.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

chore(basedpyright): remove unnecessary type ignore pragmas
  kpops/component_handlers/kubernetes/pvc_handler.py
  kpops/config/__init__.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

fix(basedpyright): configure CLI to not fail on warnings
  pyproject.toml
Due: uv-lock, dprint

fix(python311): import `@override` from typing_extensions
  kpops/api/logs.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

chore(basedpyright): ignore reportUnusedCallResult for hooks
  pyproject.toml
Due: uv-lock, dprint

refactor: annotate Pydantic model_config as ClassVar
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/topic/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/model.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/config/__init__.py
  kpops/manifests/kubernetes.py
  kpops/manifests/strimzi/kafka_topic.py
  kpops/pipeline/__init__.py
  kpops/utils/pydantic.py
  tests/cli/test_schema_generation.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

refactor: add missing type annotation
  kpops/api/logs.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

chore(basedpyright): set allowed untyped libraries
  pyproject.toml
Due: uv-lock, dprint

refactor: handle reportUnusedCallResult
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/utils/exception.py
  kpops/pipeline/__init__.py
  kpops/utils/cli_commands.py
  kpops/utils/json.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars
