Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

uv-lock:
  run: uv lock --check

ruff-check:
  run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
  stage_fixed: true

pyright:
  run: uv run pyright

dprint:
  run: dprint fmt

kpops-schema:
  run: python -m hooks.gen_schema

kpops-docs-cli:
  run: python -m hooks.gen_docs.gen_docs_cli_usage

kpops-docs-env-vars:
  run: python -m hooks.gen_docs.gen_docs_env_vars

kpops-docs-components:
  run: python -m hooks.gen_docs.gen_docs_components {staged_files}

basedpyright:
  run: uv run basedpyright

fix(streams-bootstrap): exclude cleaner override from generate output
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

refactor(cleaner): drop parent diff_config & remove cleaner override
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/base.py
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

refactor: drop cleaner override attr
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 961ce4a0 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: dprint

refactor: delete custom serializer
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

test: remove leftover cleaner override
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
Due: dprint

fix(cleaner): enrich on init (#608)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/kafka_app.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 63f15597 to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: dprint

Bump version 10.0.0 → 10.0.1
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed a3ad3338 to 10.0 with MkDocs 1.6.1 and mike 2.1.3
  10.0/developer/api/index.html
  10.0/schema/defaults.json
  10.0/schema/pipeline.json
  10.0/search/search_index.json
  10.0/sitemap.xml
  10.0/sitemap.xml.gz
  10.0/user/changelog/index.html
Due: dprint

Deployed a3ad3338 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: dprint

fix: hide _cleaner & _resetter from generate output
  kpops/components/base_components/kafka_connector.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

fix: hide _cleaner & _resetter from generate output (#610)
  kpops/components/base_components/kafka_connector.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Bump version 10.0.1 → 10.0.2
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 56aeb058 to 10.0 with MkDocs 1.6.1 and mike 2.1.3
  10.0/search/search_index.json
  10.0/user/changelog/index.html
Due: dprint

Deployed 56aeb058 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: dprint

refactor(pydantic): SkipGenerate type
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/utils/pydantic.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

chore: update comment
  kpops/utils/pydantic.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor(api): improve typing
  kpops/api/__init__.py
  kpops/config/__init__.py
  kpops/utils/pydantic.py
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor(cli): use annotated for typer
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor(review): inherit from SerializeAsOptionalModel
  kpops/components/base_components/pipeline_component.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

refactor(api): improve typing (#612)
  kpops/api/__init__.py
  kpops/config/__init__.py
  kpops/utils/pydantic.py
  tests/pipeline/test_generate.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor(pydantic): create `SkipGenerate` type (#611)
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/utils/pydantic.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 8a3f47c7 to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/api/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: dprint

refactor(cli): use annotated for typer option
  kpops/cli/main.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor(cli): use annotated for typer option (#613)
  kpops/cli/main.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

fix(kafka-connector): destroy connector on reset
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

fix(kafka-connector): destroy connector on reset (#615)
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Bump version 10.0.2 → 10.0.3
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

Deployed 429422ee to 10.0 with MkDocs 1.6.1 and mike 2.1.3
  10.0/developer/api/index.html
  10.0/search/search_index.json
  10.0/sitemap.xml
  10.0/sitemap.xml.gz
  10.0/user/changelog/index.html
Due: dprint

Deployed 429422ee to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: dprint

feat(kafka-connector): add initial state option
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

feat(kafka-connect): send initial_state on connector create
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

test: use enum for HTTP response codes
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: ruff-check, ruff-format, pyright, basedpyright

refactor(kafka-connect): remove None case for get connector
  kpops/component_handlers/kafka_connect/connect_wrapper.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor(kafka-connect): set client base url
  kpops/component_handlers/kafka_connect/connect_wrapper.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor(kafka-connect): set headers globally for client
  kpops/component_handlers/kafka_connect/connect_wrapper.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

test: update snapshots
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Due: dprint

refactor(kafka-connect): use connector config Pydantic model for response
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Path conditions:
  uv-lock: any of: {pyproject.toml,uv.lock}
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  dprint: (any of: *.{md,toml,css}) or (any of: *.{json,jsonc,yaml,yml,md,toml,css})
  kpops-schema: (any of: {kpops/**/*.py,hooks/gen_schema.py}) or (any of: {uv.lock,kpops/**/*.py,hooks/gen_schema.py})
  kpops-docs-cli: (any of: {kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}) or (any of: {uv.lock,kpops/cli/main.py,hooks/gen_docs/gen_docs_cli_usage.py})
  kpops-docs-env-vars: (any of: {kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}) or (any of: {uv.lock,kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py})
  kpops-docs-components: (any of: .gitignore
hooks/gen_docs/gen_docs_components.py
docs/docs/resources/pipeline-defaults/headers/*.yaml
docs/docs/resources/pipeline-components/headers/*.yaml
docs/docs/resources/pipeline-components/sections/*.yaml
docs/docs/resources/pipeline-components/dependencies/*.yaml
kpops/cli/main.py
kpops/components/*.py) or (any of: {.gitignore,uv.lock,hooks/gen_docs/gen_docs_components.py,docs/docs/resources/pipeline-defaults/headers/*.yaml,docs/docs/resources/pipeline-components/headers/*.yaml,docs/docs/resources/pipeline-components/sections/*.yaml,docs/docs/resources/pipeline-components/dependencies/*.yaml,kpops/components/*.py})
  basedpyright: any of: *.py
