Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

uv-lock:
  run: uv lock --check

ruff-check:
  run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
  stage_fixed: true

pyright:
  run: uv run pyright

dprint:
  run: dprint fmt

kpops-schema:
  run: python -m hooks.gen_schema

kpops-docs-cli:
  run: python -m hooks.gen_docs.gen_docs_cli_usage

kpops-docs-env-vars:
  run: python -m hooks.gen_docs.gen_docs_env_vars

kpops-docs-components:
  run: python -m hooks.gen_docs.gen_docs_components {staged_files}

basedpyright:
  run: uv run basedpyright

Deployed df4eff4b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/search/search_index.json
  dev/user/migration-guide/v10-v11/index.html
Due: dprint

docs: remove stale Kafka Connector version fragment
  docs/docs/resources/pipeline-components/sections/version-kafka-connector.yaml
Due: dprint, kpops-docs-components

Deployed 23ce2267 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/sections/version-kafka-connector.yaml
Due: dprint

docs: mention connector resetter removed fields
  docs/docs/user/migration-guide/v10-v11.md
Due: dprint

Deployed 81b1c60f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/search/search_index.json
  dev/user/migration-guide/v10-v11/index.html
Due: dprint

test: improve Helm mock
  tests/components/test_kafka_connector.py
  tests/pipeline/test_clean.py
  tests/pipeline/test_reset.py
Due: ruff-check, ruff-format, pyright, basedpyright

refactor(helm): rename client wrapper consistently (#664)
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/component_handlers/helm/__init__.py
  kpops/component_handlers/helm/dry_run_handler.py
  kpops/component_handlers/helm/exception.py
  kpops/component_handlers/helm/helm.py
  kpops/component_handlers/helm/helm_diff.py
  kpops/component_handlers/helm/model.py
  kpops/component_handlers/helm/utils.py
  kpops/components/base_components/cleaner.py
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/config/__init__.py
  kpops/utils/dict_differ.py
  tests/api/test_handlers.py
  tests/component_handlers/helm/__init__.py
  tests/component_handlers/helm/test_dry_run_handler.py
  tests/component_handlers/helm/test_helm.py
  tests/component_handlers/helm/test_helm_diff.py
  tests/component_handlers/helm/test_utils.py
  tests/components/streams_bootstrap/test_consumer_app.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_connector.py
  tests/components/test_kubernetes_app.py
  tests/pipeline/test_clean.py
  tests/pipeline/test_manifest.py
  tests/pipeline/test_reset.py
  tests/utils/test_diff.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

chore: add tobbber as codeowner
  CODEOWNERS
Due: none

chore: add tobbber as codeowner (#666)
  CODEOWNERS
Due: none

docs: create migration guide for v11 (#665)
  docs/docs/resources/pipeline-components/sections/version-kafka-connector.yaml
  docs/docs/user/migration-guide/v10-v11.md
  docs/mkdocs.yml
Due: dprint, kpops-docs-components

chore(release): 10.9.0 → 11.0.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

feat: expose operations in public Pipeline API
  kpops/api/__init__.py
  kpops/pipeline/__init__.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

test: use Pipeline API for testing
  tests/api/test_run_component.py
  tests/components/conftest.py
  tests/components/test_kubernetes_app.py
  tests/conftest.py
  tests/pipeline/test_clean.py
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components, basedpyright

test(components): set module fixture scope
  tests/components/conftest.py
  tests/components/test_kubernetes_app.py
Due: ruff-check, ruff-format, pyright, basedpyright

style: cleanup comments
  tests/conftest.py
Due: ruff-check, ruff-format, pyright, basedpyright

build: update package version in uv.lock
  uv.lock
Due: uv-lock, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

ci(bump-version): update uv.lock
  .bumpversion.cfg
  .bumpversion.toml
  .github/workflows/ci.yaml
Due: dprint

test: move
  tests/pipeline/test_run_component.py
Due: ruff-check, ruff-format, pyright, basedpyright

test(pipeline): rewrite using new Pipeline API
  tests/pipeline/conftest.py
  tests/pipeline/resources/simple-pipeline/pipeline.yaml
  tests/pipeline/test_clean.py
  tests/pipeline/test_deploy.py
  tests/pipeline/test_destroy.py
  tests/pipeline/test_reset.py
Due: ruff-check, ruff-format, pyright, dprint, basedpyright

test: improve isolation
  tests/api/test_handlers.py
  tests/conftest.py
Due: ruff-check, ruff-format, pyright, basedpyright

test: cleanup fixtures
  tests/cli/test_init.py
  tests/conftest.py
  tests/pipeline/test_example.py
  tests/pipeline/test_generate.py
  tests/test_kpops_config.py
Due: ruff-check, ruff-format, pyright, basedpyright

ci(bump-version): update uv.lock (#668)
  .bumpversion.cfg
  .bumpversion.toml
  .github/workflows/ci.yaml
  uv.lock
Due: uv-lock, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

Deployed 5192647e to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: dprint

refactor: apply review feedback
  kpops/api/__init__.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

feat: expose operations in public Pipeline API (#667)
  kpops/api/__init__.py
  kpops/pipeline/__init__.py
  tests/api/test_handlers.py
  tests/cli/test_init.py
  tests/components/conftest.py
  tests/components/test_kubernetes_app.py
  tests/conftest.py
  tests/pipeline/conftest.py
  tests/pipeline/resources/simple-pipeline/pipeline.yaml
  tests/pipeline/test_clean.py
  tests/pipeline/test_deploy.py
  tests/pipeline/test_destroy.py
  tests/pipeline/test_example.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_reset.py
  tests/pipeline/test_run_component.py
  tests/test_kpops_config.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Deployed 3c44a4e0 to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/api/index.html
  main/objects.inv
  main/search/search_index.json
Due: dprint

chore(ruff): mark kpops as explicit namespace package
  pyproject.toml
Due: uv-lock, dprint

refactor: flatten pipeline and config modules
  kpops/config.py
  kpops/pipeline.py
Due: ruff-check, ruff-format, pyright, basedpyright

refactor: re-export operations as kpops.api
  kpops/api/__init__.py
  kpops/api/operations.py
  tests/api/test_handlers.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

ci: add ty step
  .github/pyright-matcher.json
  .github/workflows/ci.yaml
Due: dprint

chore(dev): update ty
  pyproject.toml
  uv.lock
Due: uv-lock, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

style(pydoc): fix parameter name
  kpops/api/operations.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

refactor: restructure package (#669)
  kpops/api/__init__.py
  kpops/api/operations.py
  kpops/config.py
  kpops/pipeline.py
  pyproject.toml
  tests/api/test_handlers.py
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, basedpyright

Path conditions:
  uv-lock: any of: {pyproject.toml,uv.lock}
  ruff-check: any of: *.py
  ruff-format: any of: *.py
  pyright: any of: *.py
  dprint: (any of: *.{md,toml,css}) or (any of: *.{json,jsonc,yaml,yml,md,toml,css})
  kpops-schema: (any of: {kpops/**/*.py,hooks/gen_schema.py}) or (any of: {uv.lock,kpops/**/*.py,hooks/gen_schema.py})
  kpops-docs-cli: (any of: {kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}) or (any of: {uv.lock,kpops/cli/main.py,hooks/gen_docs/gen_docs_cli_usage.py})
  kpops-docs-env-vars: (any of: {kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}) or (any of: {uv.lock,kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py})
  kpops-docs-components: (any of: .gitignore
hooks/gen_docs/gen_docs_components.py
docs/docs/resources/pipeline-defaults/headers/*.yaml
docs/docs/resources/pipeline-components/headers/*.yaml
docs/docs/resources/pipeline-components/sections/*.yaml
docs/docs/resources/pipeline-components/dependencies/*.yaml
kpops/cli/main.py
kpops/components/*.py) or (any of: {.gitignore,uv.lock,hooks/gen_docs/gen_docs_components.py,docs/docs/resources/pipeline-defaults/headers/*.yaml,docs/docs/resources/pipeline-components/headers/*.yaml,docs/docs/resources/pipeline-components/sections/*.yaml,docs/docs/resources/pipeline-components/dependencies/*.yaml,kpops/components/*.py})
  basedpyright: any of: *.py
