Repository bakdata/kpops: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: uv run pyright
    dprint:
      glob: "*.{md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema
    kpops-docs-cli:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: |
        .gitignore
        hooks/gen_docs/gen_docs_components.py
        docs/docs/resources/pipeline-defaults/headers/*.yaml
        docs/docs/resources/pipeline-components/headers/*.yaml
        docs/docs/resources/pipeline-components/sections/*.yaml
        docs/docs/resources/pipeline-components/dependencies/*.yaml
        kpops/cli/main.py
        kpops/components/*.py
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

lefthook.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/evilmartians/lefthook/master/schema.json

pre-commit:
  parallel: true
  commands:
    uv-lock:
      glob: "{pyproject.toml,uv.lock}"
      run: uv lock --check
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --force-exclude --config pyproject.toml --fix --show-fixes {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --force-exclude --config pyproject.toml {staged_files}
      stage_fixed: true
    pyright:
      glob: "*.py"
      run: uv run pyright
    dprint:
      glob: "*.{json,jsonc,yaml,yml,md,toml,css}"
      run: dprint fmt
    kpops-schema:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_schema.py}"
      run: python -m hooks.gen_schema && git add -u docs/docs/schema
    kpops-docs-cli:
      glob: "{uv.lock,kpops/cli/main.py,hooks/gen_docs/gen_docs_cli_usage.py}"
      run: python -m hooks.gen_docs.gen_docs_cli_usage
    kpops-docs-env-vars:
      glob: "{uv.lock,kpops/**/*.py,hooks/gen_docs/gen_docs_env_vars.py}"
      run: python -m hooks.gen_docs.gen_docs_env_vars
    kpops-docs-components:
      glob: "{\
        .gitignore,\
        uv.lock,\
        hooks/gen_docs/gen_docs_components.py,\
        docs/docs/resources/pipeline-defaults/headers/*.yaml,\
        docs/docs/resources/pipeline-components/headers/*.yaml,\
        docs/docs/resources/pipeline-components/sections/*.yaml,\
        docs/docs/resources/pipeline-components/dependencies/*.yaml,\
        kpops/components/*.py\
        }"
      # .gitignore -- indicates whether the script is ran with `--all-files`
      # hooks/gen_docs/gen_docs_components.py -- hook's behavior is possibly changed
      # docs/.../.yaml -- examples changed or dependencies edited
      # kpops/components/... -- KPOps components possibly changed
      run: python -m hooks.gen_docs.gen_docs_components {staged_files}

post-checkout:
  commands:
    dependencies:
      glob: "uv.lock"
      run: uv sync

chore(dprint): update formatting plugins
  dprint.jsonc
Due: dprint

ci: run lint job only for target Python version on Linux
  .github/workflows/ci.yaml
Due: dprint

ci: run lint job only for target Python version on Linux (#596)
  .github/workflows/ci.yaml
Due: dprint

style: format YAML & JSON (#595)
  .github/pyright-matcher.json
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/update-gh-pages.yaml
  action.yaml
  config.yaml
  dprint.json
  dprint.jsonc
  lefthook.yaml
  tests/component_handlers/resources/kafka_rest_proxy_responses/broker_response.json
  tests/component_handlers/resources/kafka_rest_proxy_responses/cluster-info.json
  tests/component_handlers/resources/kafka_rest_proxy_responses/get_default_topic_response.json
  tests/component_handlers/resources/kafka_rest_proxy_responses/get_topic_response.json
  tests/component_handlers/resources/kafka_rest_proxy_responses/topic_config_response.json
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
  tests/pipeline/resources/manifest-pipeline/pipeline.yaml
  tests/pipeline/resources/name_prefix_concatenation/pipeline.yaml
  tests/pipeline/resources/parallel-pipeline/pipeline.yaml
  tests/pipeline/resources/pipeline-with-short-topics/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/pipeline.yaml
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
Due: dprint

feat: support custom namespace configuration for `KafkaTopic`s
  docs/docs/schema/config.json
  kpops/config/__init__.py
  kpops/manifests/strimzi/kafka_topic.py
  tests/manifests/strimzi/test_kafka_topic.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

fix: exclude `None` from Kubernetes `ObjectMeta`
  kpops/manifests/kubernetes.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

test: remove obsolete test case
  tests/manifests/test_kubernetes_model.py
Due: ruff-check, ruff-format, pyright

chore: skip setting the namespace when `None` so value does not get manifested
  kpops/manifests/kubernetes.py
  kpops/manifests/strimzi/kafka_topic.py
  tests/manifests/strimzi/test_kafka_topic.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

Revert "test: remove obsolete test case"
  tests/manifests/test_kubernetes_model.py
Due: ruff-check, ruff-format, pyright

fix: apply rename of strimzi_topic.label to warning
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/config/__init__.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

chore: simplify object generation in case of no namespace defined
  kpops/manifests/strimzi/kafka_topic.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

chore: remove alias as is the same as the actual name (redundant)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/config/__init__.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

ci: fail if generated schema differs
  .github/workflows/ci.yaml
Due: dprint

ci: fix generate schema call
  .github/workflows/ci.yaml
Due: dprint

feat: support custom namespace configuration for `StrimziKafkaTopic` (#581)
  .github/workflows/ci.yaml
  docs/docs/schema/config.json
  kpops/config/__init__.py
  kpops/manifests/strimzi/kafka_topic.py
  tests/manifests/strimzi/test_kafka_topic.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars

Deployed 3f08dcd8 to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/config.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: dprint

Bump version 9.2.1 → 9.3.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

Deployed c43b591f to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: dprint

Update JMX rule specification
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

Update JMX rule specification
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
Due: dprint

Deployed 4c34e2ab to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: dprint

Update JMX rule specification
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

Deployed b9629554 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

Deployed d979f468 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

Deployed 7c44b0fb to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

Deployed ad9e2ab7 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

Deployed 1b389b92 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: dprint

Add feedback
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-check, ruff-format, pyright, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

Update docs
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
Due: dprint

Deployed 462dc2e6 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: dprint

Update default streams-bootstrap version
  kpops/components/streams_bootstrap/base.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_command/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_deploy_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-check, ruff-format, pyright, dprint, kpops-schema, kpops-docs-cli, kpops-docs-env-vars, kpops-docs-components

Update default streams-bootstrap version
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
Due: dprint

test: update streams-bootstrap version
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/pipeline/resources/custom-config/defaults.yaml
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink-config/defaults.yaml
  tests/pipeline/resources/manifest-pipeline/defaults.yaml
  tests/pipeline/resources/pipeline-component-should-have-prefix/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-short-topics/defaults.yaml
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/resources/temp-trim-release-name/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/test_manifest.py
Due: ruff-check, ruff-format, pyright, dprint

Update manifest snapshots
  tests/pipeline/snapshots/test_manifest/test_deploy_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_command/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_deploy_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: dprint
