Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Add migration guide v7-v8
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/user/migration-guide/v7-v8.md
  docs/mkdocs.yml
Due: dprint

Add migration guide v7-v8
  docs/docs/user/migration-guide/v7-v8.md
Due: dprint

Update files
  docs/docs/user/migration-guide/v7-v8.md
Due: dprint

Deployed a66503d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

add docs
  docs/docs/schema/defaults.json
  docs/docs/user/core-concepts/components/streams-bootstrap.md
  docs/docs/user/migration-guide/v7-v8.md
  kpops/components/base_components/kafka_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

remove Kafka App from docs
  docs/mkdocs.yml
Due: none

remove Kafka App from docs
  docs/docs/user/core-concepts/components/kafka-app.md
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/components/streams-app.md
  docs/docs/user/core-concepts/defaults.md
Due: dprint

Deployed b47f850 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

address reviews
  docs/docs/user/migration-guide/v7-v8.md
Due: dprint

Deployed 40d6d46 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/migration-guide/v7-v8/index.html
Due: none

Deployed 40d6d46 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Deployed 7db2d9f to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v7-v8/index.html
Due: none

Deployed 0db06cd to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v7-v8/index.html
Due: none

Deployed 0db06cd to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Make KafkaApp responsible of deploying/cleaning streams bootstrap components (#522)
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  kpops/components/base_components/kafka_app.py
  kpops/components/common/streams_bootstrap.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/components/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Add support for streams-bootstrap v3 (#519)
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/app_type.py
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap_v3/__init__.py
  kpops/components/streams_bootstrap_v3/base.py
  kpops/components/streams_bootstrap_v3/model.py
  kpops/components/streams_bootstrap_v3/producer/__init__.py
  kpops/components/streams_bootstrap_v3/producer/model.py
  kpops/components/streams_bootstrap_v3/producer/producer_app.py
  kpops/components/streams_bootstrap_v3/streams/__init__.py
  kpops/components/streams_bootstrap_v3/streams/model.py
  kpops/components/streams_bootstrap_v3/streams/streams_app.py
  tests/api/test_registry.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/components/streams_bootstrap_v3/__init__.py
  tests/components/streams_bootstrap_v3/test_producer_app.py
  tests/components/streams_bootstrap_v3/test_streams_app.py
  tests/components/streams_bootstrap_v3/test_streams_bootstrap.py
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/streams-bootstrap-v3/defaults.yaml
  tests/pipeline/resources/streams-bootstrap-v3/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap_v3/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_v3/manifest.yaml
  tests/pipeline/test_components/__init__.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Fix Pyright warning about type override without default value (#524)
  docs/docs/schema/defaults.json
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/common/streams_bootstrap.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v3/base.py
  kpops/components/streams_bootstrap_v3/model.py
  kpops/components/streams_bootstrap_v3/producer/model.py
  kpops/components/streams_bootstrap_v3/producer/producer_app.py
  kpops/components/streams_bootstrap_v3/streams/model.py
  kpops/components/streams_bootstrap_v3/streams/streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Rename role to label (#525)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/common/streams_bootstrap.py
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/components/streams_bootstrap_v3/test_producer_app.py
  tests/components/streams_bootstrap_v3/test_streams_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/resources/no-input-topic-pipeline/pipeline.yaml
  tests/pipeline/resources/pipeline-with-short-topics/defaults.yaml
  tests/pipeline/resources/pipeline-with-short-topics/pipeline.yaml
  tests/pipeline/resources/streams-bootstrap-v3/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap_v3/pipeline.yaml
  tests/pipeline/test_components/components.py
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Add migration guide v7-v8 (#529)
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/schema/defaults.json
  docs/docs/user/core-concepts/components/kafka-app.md
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/components/streams-app.md
  docs/docs/user/core-concepts/components/streams-bootstrap.md
  docs/docs/user/core-concepts/defaults.md
  docs/docs/user/migration-guide/v7-v8.md
  docs/mkdocs.yml
  kpops/components/base_components/kafka_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed dd6abe9 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

Bump version 7.1.0 → 8.0.0
  docs/docs/user/changelog.md
  pyproject.toml
Due: dprint

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
