Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args: [ --force-exclude, --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [ --force-exclude, --config, pyproject.toml ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: gen-docs-contributing
        name: gen-docs-contributing
        entry: python hooks/gen_docs/gen_docs_contributing.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: gen-docs-changelog
        name: gen-docs-changelog
        entry: python hooks/gen_docs/gen_docs_changelog.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

test
  .github/workflows/ci.yaml
Due: none

revert comment
  .github/workflows/ci.yaml
Due: none

update ci
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

set poetry version
  .github/workflows/publish.yaml
Due: none

update poetry
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

remove comment
  .github/workflows/ci.yaml
Due: none

WIP add `kpops enrich` command for consumption in editor plugin
  docs/docs/user/references/cli-commands.md
  hooks/gen_docs/gen_docs_cli_usage.py
  kpops/cli/main.py
  kpops/components/base_components/base_defaults_component.py
  kpops/pipeline.py
  kpops/utils/yaml.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Improve return type annotation
  kpops/components/base_components/base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Improve type annotation
  kpops/components/base_components/base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Improve function signature
  kpops/components/base_components/base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed af62b9d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Refactor to accept more than 2 defaults files
  kpops/components/base_components/base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Refactor using tuple comprehension
  kpops/components/base_components/base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Rename tuple parameter to plural
  kpops/components/base_components/base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 99b2f7d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Simplify loading of defaults (#435)
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/pipeline_component.py
  tests/components/test_base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 208cb7b to main with MkDocs 1.5.3 and mike 1.1.2
  main/resources/pipeline-components/dependencies/kpops_structure.yaml
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add custom PascalCase to snake_case converter
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add test
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add note
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update poetry publish workflow version to latest (#430)
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

Deployed ad11fde to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

feat: kpops-init creates a config.yaml
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/utils/cli_commands.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Distribute defaults across multiple files
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  kpops/cli/main.py
  kpops/components/base_components/base_defaults_component.py
  kpops/config.py
  kpops/pipeline.py
  tests/components/resources/pipelines/pipeline-1/defaults.yaml
  tests/components/resources/pipelines/pipeline-1/pipeline.yaml
  tests/components/resources/pipelines/pipeline-1/pipeline_development.yaml
  tests/components/resources/pipelines/pipeline-2/defaults.yaml
  tests/components/resources/pipelines/pipeline-2/pipeline.yaml
  tests/components/resources/pipelines/pipeline-2/pipeline_development.yaml
  tests/components/test_base_defaults_component.py
  tests/defaults.yaml
  tests/pipeline/resources/custom-config/defaults.yaml
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/first-pipeline/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink-config/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink/defaults.yaml
  tests/pipeline/resources/pipeline-component-should-have-prefix/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/pipeline.yaml
  tests/pipeline/snapshots/snap_test_generate.py
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Update files
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  kpops/cli/main.py
  kpops/config.py
  tests/pipeline/resources/first-pipeline/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink-config/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink/defaults.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Update files
  kpops/cli/main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 7e15c27 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/references/cli-commands/index.html
Due: none

Deployed 86f8db9 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/references/cli-commands/index.html
Due: none

Remove --defaults flag and fix tests
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/components/base_components/base_defaults_component.py
  kpops/config.py
  tests/cli/test_handlers.py
  tests/cli/test_kpops_config.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/resources/pipelines/pipeline-1/defaults.yaml
  tests/components/resources/pipelines/pipeline-2/defaults.yaml
  tests/components/test_base_defaults_component.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/components/test_streams_bootstrap.py
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/snapshots/snap_test_manifest.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Add parallel flag support
  action.yaml
  tests/pipeline/resources/example-migrate/config.yaml
Due: none

Delete unused
  tests/pipeline/resources/example-migrate/config.yaml
Due: none
