Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Skip serialization step for cleaner instantiation
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Add failing test
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Try refactor to include serializer function
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Cosmetic
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Implement and explain workaround in test
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 32de61b6 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Apply workaround
  kpops/components/common/kubernetes_model.py
  kpops/utils/pydantic.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed bf2f6b66 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Link to upstream issue with potential solution for `exclude_none`
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 3ad6c9cf to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add documentation for operation-mode in KPOps
  docs/docs/user/core-concepts/operation-mode.md
Due: dprint

Deployed 731d37c2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/operation-mode/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Validate `None` to default
  kpops/utils/pydantic.py
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add topic manifatation of ProducerApps for reset command
  kpops/components/streams_bootstrap/producer/producer_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

update snapshot files
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_python_api/manifest.yaml
Due: none

Address reviews
  docs/docs/user/core-concepts/operation-mode.md
Due: dprint

Expand test
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed ee56c23e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/operation-mode/index.html
Due: none

Serialize StreamsBootstrapValues correctly
  kpops/components/streams_bootstrap/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed afd6ac23 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/operation-mode/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Add test for exclude_by_value
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 549697c1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Inherit from SerializeAsOptionalModel
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed e55dfc93 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Extend snapshot test with affinity
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: none

Update snapshot
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: none

Deployed ec8841fe to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add topic manifestation of ProducerApps for reset command (#566)
  kpops/components/streams_bootstrap/producer/producer_app.py
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_python_api/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed b045250e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed 68cf4ee2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/operation-mode/index.html
Due: none

Deployed 9956ce53 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Deployed 5834f3e0 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/operation-mode/index.html
Due: none

Add Kubernetes affinity and tolerations to streams-bootstrap v2 values
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap_v2/base.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 6abf36d5 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/operation-mode/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Add Kubernetes affinity and tolerations to streams-bootstrap v2 values (#567)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap_v2/base.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
