Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff:
  name: ruff
  entry: ruff check .
  args:
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Revert "Revert "Print details on connector name mismatch error (#369)""
  .gitignore
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_connector.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults_development.yaml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Revert "Revert "Enable transparent OS environment lookups from internal environment (#368)""
  kpops/utils/environment.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Revert "Revert "Bump version 2.0.9 → 2.0.10""
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Update docs dependencies
  poetry.lock
Due: none

Migrate to new builtin extension
  docs/mkdocs.yml
Due: none

Revert "Update docs dependencies"
  poetry.lock
Due: none

Update mkdocs dependencies
  poetry.lock
Due: none

fix(docs): indent lists in setup
  docs/docs/user/getting-started/setup.md
Due: dprint

fix(docs): indent lists in quick-start
  docs/docs/user/getting-started/quick-start.md
Due: dprint

fix(docs): indent lists with 4 spaces in teardown
  docs/docs/user/getting-started/teardown.md
Due: dprint

fix(docs): indent lists with 4 spaces in example
  docs/docs/user/examples/atm-fraud-pipeline.md
Due: dprint

ci(dprint): ignore lists
  docs/docs/user/examples/atm-fraud-pipeline.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/getting-started/teardown.md
Due: dprint

ci(dprint): add ignores
  docs/docs/user/examples/atm-fraud-pipeline.md
Due: dprint

Migrate deprecated mkdocs-material-extensions (#378)
  docs/mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

chore: update ci
  poetry.lock
  pyproject.toml
Due: none

fix: wrong pragma
  docs/docs/user/getting-started/teardown.md
Due: dprint

Deployed d28a67a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

fix: problem matcher WIP
  .github/pyright-matcher.json
Due: none

Add mkdocs-exclude-search
  poetry.lock
  pyproject.toml
Due: none

Exclude resources from search
  docs/mkdocs.yml
Due: none

Revert "Fix links in component hierarchy diagram"
  docs/docs/resources/architecture/components-hierarchy.md
Due: dprint

Deployed da04639 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
Due: none

Fix docs setup page list indentation (#377)
  docs/docs/user/examples/atm-fraud-pipeline.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/getting-started/setup.md
  docs/docs/user/getting-started/teardown.md
Due: dprint

Deployed 65b5b02 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/examples/atm-fraud-pipeline/index.html
  main/user/getting-started/quick-start/index.html
  main/user/getting-started/setup/index.html
  main/user/getting-started/teardown/index.html
Due: none

feat: kpops init creates empty files
  kpops/cli/main.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Exclude resources from docs search (#371)
  docs/mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

Deployed b6743bb to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Save progress
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/pipeline_generator/pipeline.py
  test.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Create HelmApp component (#370)
  docs/docs/developer/auto-generation.md
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/headers/helm-app.yaml
  docs/docs/resources/pipeline-components/helm-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/app-helm-app.yaml
  docs/docs/resources/pipeline-components/sections/repo_config-helm-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-helm-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-helm-app.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-kubernetes-app.yaml
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/components/kafka-app.md
  docs/docs/user/core-concepts/components/kubernetes-app.md
  docs/docs/user/references/cli-commands.md
  docs/mkdocs.yml
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  kpops/components/__init__.py
  kpops/components/base_components/__init__.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  tests/cli/test_registry.py
  tests/components/test_helm_app.py
  tests/components/test_kubernetes_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

feat: collect config fields WIP
  kpops/cli/main.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 2.0.10 → 2.0.11
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 8444741 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

test: update snapshot of example
  tests/pipeline/snapshots/snap_test_example.py
Due: ruff

test: update test pipeline snapshot
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
