Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python -m hooks.gen_schema
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python -m hooks.gen_docs.gen_docs_cli_usage
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python -m hooks.gen_docs.gen_docs_env_vars
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python -m hooks.gen_docs.gen_docs_components
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Deployed 8d4e2782 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

test(streams-bootstrap): create failing test case
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix(schema): set correct type for secretFilesRefs
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed c16354e3 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

fix(streams-bootstrap): set correct type for secretFilesRefs (#640)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 10.6.0 → 10.6.1
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed ac62fafe to 10.6 with MkDocs 1.6.1 and mike 2.1.3
  10.6/schema/defaults.json
  10.6/schema/pipeline.json
  10.6/search/search_index.json
  10.6/sitemap.xml
  10.6/sitemap.xml.gz
  10.6/user/changelog/index.html
Due: none

Deployed 53605495 to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed ac62fafe to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

chore: bump `helm` support to `4.x`
  kpops/component_handlers/helm_wrapper/helm.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: bump Helm support to `4.x` (#642)
  kpops/component_handlers/helm_wrapper/helm.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: update the manifests to include `enabled` flag
  tests/components/streams_bootstrap/test_streams_app.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

feat: support disabling components
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: include test to cover disabling components in a pipeline
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/pipeline_production.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 1a8a86cb to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

feat: support disabling components from pipelines (#641)
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline/__init__.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/pipeline_production.yaml
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 10.6.1 → 10.7.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 04ac9425 to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-components/dependencies/kpops_structure.yaml
  main/schema/defaults.json
  main/schema/pipeline.json
Due: none

Deployed f946c987 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

refactor(pipeline): avoid spawning unguarded coroutines
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix(pipeline): avoid spawning unguarded coroutines (#643)
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 1b932c97 to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/api/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Bump version 10.7.0 → 10.7.1
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 4e034233 to 10.7 with MkDocs 1.6.1 and mike 2.1.3
  10.7/developer/api/index.html
  10.7/search/search_index.json
  10.7/sitemap.xml
  10.7/sitemap.xml.gz
  10.7/user/changelog/index.html
Due: none

Deployed 4e034233 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

chore: extract jmx components
  kpops/components/streams_bootstrap/common/__init__.py
  kpops/components/streams_bootstrap/common/jmx.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: extract more components
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/common/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

feat: add consumer app
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/app_type.py
  kpops/components/streams_bootstrap/__init__.py
  kpops/components/streams_bootstrap/consumer/__init__.py
  kpops/components/streams_bootstrap/consumer/consumer_app.py
  kpops/components/streams_bootstrap/consumer/model.py
  tests/api/test_registry.py
  tests/components/streams_bootstrap/test_consumer_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed bdf59182 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

fix: update config ref
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/consumer/consumer_app.py
  kpops/components/streams_bootstrap/consumer/model.py
  tests/components/streams_bootstrap/test_consumer_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 7200235e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

chore: cleanup
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/consumer/consumer_app.py
  kpops/components/streams_bootstrap/consumer/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 3612136e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

docs: add new component headers to allow auto-generation
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/headers/consumer-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/to-consumer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-streams-app.yaml
Due: gen-docs-components

Deployed 8312cff8 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/consumer-app.yaml
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/headers/consumer-app.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/sections/to-consumer-app.yaml
  dev/resources/pipeline-components/sections/values-consumer-app.yaml
  dev/resources/pipeline-defaults/defaults-consumer-app.yaml
  dev/resources/pipeline-defaults/defaults-producer-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/pipeline-defaults/headers/defaults-consumer-app.yaml
  dev/resources/pipeline-defaults/headers/defaults-producer-app.yaml
  dev/resources/pipeline-defaults/headers/defaults-streams-app.yaml
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/defaults/index.html
Due: none

docs: add component page
  docs/docs/user/core-concepts/components/consumer-app.md
  docs/mkdocs.yml
Due: dprint

docs: update components hierarchy diagram
  docs/docs/resources/architecture/components-hierarchy.md
Due: dprint

docs: fix typo
  docs/docs/resources/pipeline-defaults/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-producer-app.yaml
Due: gen-docs-components

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
