Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args: [ --force-exclude, --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [ --force-exclude, --config, pyproject.toml ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: gen-docs-contributing
        name: gen-docs-contributing
        entry: python hooks/gen_docs/gen_docs_contributing.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: gen-docs-changelog
        name: gen-docs-changelog
        entry: python hooks/gen_docs/gen_docs_changelog.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Migrate snapshottest to pytest-snapshot
  tests/pipeline/snapshots/__init__.py
  tests/pipeline/snapshots/snap_test_generate.py
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Refactor test
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/test_example.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Migrate snapshottest to pytest-snapshot
  tests/cli/snapshots/__init__.py
  tests/cli/snapshots/test_schema_generation/test_gen_pipeline_schema_only_custom_module/schema.json
  tests/cli/test_schema_generation.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Fix test
  kpops/cli/registry.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Remove `--name` flag from `kpops init`
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Revert ignore comments changes
  kpops/cli/main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 61c9903 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Set supported Python cutoff to 3.11 (#466)
  poetry.lock
  pyproject.toml
Due: none

Bump version 4.0.0 → 4.0.1
  docs/docs/user/changelog.md
  kpops/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 8a2b3475 to 4.0 with MkDocs 1.5.3 and mike 1.1.2
  4.0/search/search_index.json
  4.0/sitemap.xml
  4.0/sitemap.xml.gz
  4.0/user/changelog/index.html
Due: none

Deployed 96832e0 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 8a2b347 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Update mkdocs-macros-plugin
  poetry.lock
  pyproject.toml
Due: none

Revert "Update mkdocs-macros-plugin"
  poetry.lock
  pyproject.toml
Due: none

Update Pyright
  poetry.lock
  pyproject.toml
Due: none

Add support for Python 3.12 (#467)
  .github/workflows/ci.yaml
  kpops/cli/registry.py
  poetry.lock
  pyproject.toml
  tests/cli/snapshots/__init__.py
  tests/cli/snapshots/test_schema_generation/test_gen_pipeline_schema_only_custom_module/schema.json
  tests/cli/test_schema_generation.py
  tests/pipeline/snapshots/__init__.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_generate.py
  tests/pipeline/snapshots/snap_test_manifest.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_python_api/resources
  tests/pipeline/test_example.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 0c69059 to main with MkDocs 1.5.3 and mike 1.1.2
  main/resources/examples/defaults/index.html
  main/resources/examples/pipeline/index.html
  main/sitemap.xml.gz
Due: none

Ignore some new Pyright diagnostics
  kpops/cli/main.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/config.py
  kpops/utils/gen_schema.py
  tests/cli/test_kpops_config.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/test_topic.py
  tests/conftest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Set incompatible override diagnostics to produce warning instead of error
  pyproject.toml
Due: none

Remove exclude of snapshots from Pyright since those are not Python files anymore
  .pre-commit-config.yaml
Due: none

Fix Pyright diagnostics around `typing.Self` on Python 3.10
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/base_defaults_component.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update package classifiers for Python 3.12
  pyproject.toml
Due: none

Remove classifiers that are automatically assigned by Poetry
  pyproject.toml
Due: none

Update Pyright (#468)
  .pre-commit-config.yaml
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kubernetes/model.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/components/base_components/base_defaults_component.py
  kpops/config.py
  kpops/utils/gen_schema.py
  poetry.lock
  pyproject.toml
  tests/cli/test_kpops_config.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/test_topic.py
  tests/conftest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Remove package classifiers that are automatically assigned by Poetry (#469)
  pyproject.toml
Due: none

Deployed fd26737 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed 831d066 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Reference editor plugin for Neovim in docs (#464)
  docs/docs/resources/editor_integration/settings.json
  docs/docs/user/references/editor-integration.md
Due: dprint

Deployed 108b25c to main with MkDocs 1.5.3 and mike 1.1.2
  main/resources/editor_integration/settings.json
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/references/editor-integration/index.html
Due: none

Deployed 1716786 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/editor_integration/settings.json
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/references/editor-integration/index.html
Due: none

Remove `touch_yaml` function
  kpops/utils/cli_commands.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 4fbb674 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add case for default value being a BaseModel instance
  kpops/utils/cli_commands.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Fix return type and docstring
  kpops/utils/json.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add `kpops init` to the public API
  kpops/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add tests
  tests/utils/test_cli_commands.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 8fc749a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Delete unused function
  kpops/utils/cli_commands.py
  kpops/utils/yaml.py
  poetry.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed a61fbaf to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none
