Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Update codeowners (#504)
  CODEOWNERS
Due: none

Generate developer docs for Python API (#503)
  docs/docs/developer/api.md
  docs/mkdocs.yml
  kpops/api/__init__.py
  poetry.lock
  pyproject.toml
  tests/api/test_handlers.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Bump version 6.0.1 → 6.0.2
  docs/docs/user/changelog.md
  kpops/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Update files
  kpops/components/streams_bootstrap/__init__.py
  tests/components/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  kpops/components/streams_bootstrap/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/api/exception.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/kubernetes/utils.py
  kpops/components/streams_bootstrap/__init__.py
  tests/component_handlers/kubernetes/test_utils.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Remove image tag from connect
  kpops/api/exception.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/kubernetes/utils.py
  kpops/components/streams_bootstrap/__init__.py
  tests/component_handlers/kubernetes/test_utils.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  kpops/component_handlers/kubernetes/utils.py
  tests/component_handlers/kubernetes/test_utils.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

add type to test
  tests/component_handlers/kubernetes/test_utils.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 47d7244 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Update files
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kubernetes/utils.py
  kpops/components/streams_bootstrap/__init__.py
  tests/component_handlers/kubernetes/test_utils.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 1c3698e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Refactor debug log
  kpops/api/registry.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Rename TypeVar for plugins
  kpops/api/registry.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed e1f3edc to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Update test and pattern
  kpops/component_handlers/kubernetes/utils.py
  kpops/components/streams_bootstrap/__init__.py
  tests/components/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  docs/docs/schema/defaults.json
  kpops/components/streams_bootstrap/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed bb78dce to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add image tag field to streams-bootstrap app values (#499)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/__init__.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_streams_bootstrap.py
  tests/pipeline/resources/resetter_values/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 0c0a8db to main with MkDocs 1.5.3 and mike 1.1.2
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Improve dataclass instance check
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/dataclasses.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update test
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Try solve circular import
  hooks/gen_schema.py
  kpops/cli/main.py
  kpops/cli/utils.py
  kpops/components/base_components/base_defaults_component.py
  kpops/const/file_type.py
  kpops/utils/cli_commands.py
  tests/compiler/test_pipeline_name.py
  tests/components/test_base_defaults_component.py
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update test resources
  tests/pipeline/resources/component-type-substitution/infinite_pipeline.yaml
  tests/pipeline/resources/component-type-substitution/pipeline.yaml
  tests/pipeline/resources/custom-config/defaults.yaml
  tests/pipeline/resources/custom-config/pipeline.yaml
  tests/pipeline/resources/dotenv/config.yaml
  tests/pipeline/resources/env-specific-config-only/config_production.yaml
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
  tests/pipeline/resources/kafka-connect-sink/pipeline.yaml
  tests/pipeline/resources/multi-config/config.yaml
  tests/pipeline/resources/name_prefix_concatenation/pipeline.yaml
  tests/pipeline/resources/no-input-topic-pipeline/pipeline.yaml
  tests/pipeline/resources/no-topics-defaults/defaults.yaml
  tests/pipeline/resources/no-user-defined-components/pipeline.yaml
  tests/pipeline/resources/parallel-pipeline/config.yaml
  tests/pipeline/resources/parallel-pipeline/defaults.yaml
  tests/pipeline/resources/parallel-pipeline/pipeline.yaml
  tests/pipeline/resources/pipeline-component-should-have-prefix/defaults.yaml
  tests/pipeline/resources/pipeline-component-should-have-prefix/pipeline.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/pipeline.yaml
  tests/pipeline/resources/pipeline-with-envs/pipeline.yaml
  tests/pipeline/resources/pipeline-with-envs/pipeline_development.yaml
  tests/pipeline/resources/pipeline-with-illegal-kubernetes-name/pipeline.yaml
  tests/pipeline/resources/pipeline-with-inflate/pipeline.yaml
  tests/pipeline/resources/pipeline-with-loop/defaults.yaml
  tests/pipeline/resources/pipeline-with-loop/pipeline.yaml
  tests/pipeline/resources/pipeline-with-paths/pipeline.yaml
  tests/pipeline/resources/pipeline-with-short-topics/defaults.yaml
  tests/pipeline/resources/pipeline-with-short-topics/pipeline.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/config.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/pipeline.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/config.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/defaults.yaml
  tests/pipeline/resources/resetter_values/defaults.yaml
  tests/pipeline/resources/resetter_values/pipeline_connector_only.yaml
  tests/pipeline/resources/simple-pipeline/pipeline.yaml
  tests/pipeline/resources/temp-trim-release-name/defaults.yaml
  tests/pipeline/resources/temp-trim-release-name/pipeline.yaml
Due: none

Update test
  docs/docs/resources/variables/variable_substitution.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
