Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args:
          [
            --force-exclude,
            --config,
            pyproject.toml,
            --fix,
            --show-fixes,
            --exit-non-zero-on-fix,
          ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [--force-exclude, --config, pyproject.toml]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
      - id: gen-schema
        name: gen-schema
        entry: python -m hooks.gen_schema
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python -m hooks.gen_docs.gen_docs_cli_usage
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python -m hooks.gen_docs.gen_docs_env_vars
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python -m hooks.gen_docs.gen_docs_components
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: dprint
        name: dprint
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

refactor(kafka-connect): improve request logging and dry-run handling
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(kafka-connect): rename Kafka Connect API client
  kpops/component_handlers/kafka_connect/kafka_connect_api.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_kafka_connect_api.py
  tests/component_handlers/kafka_connect/test_kafka_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(kafka-connector): destroy after reset
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 42bf1d0b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

refactor: replace httpx with httpx2
  pyproject.toml
  uv.lock
Due: none

refactor: migrate to httpx2
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/component_handlers/utils/exception.py
  pyproject.toml
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: avoid importing type form pytest internals
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: configure httpx2 logging
  kpops/api/logs.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: rename Proxy wrapper to Kafka REST
  kpops/api/__init__.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/kafka_rest.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: update mocks
  tests/api/test_handlers.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(dev): update Ruff and BasedPyright
  pyproject.toml
  uv.lock
Due: none

refactor: resolve warnings
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/base.py
  kpops/core/operation.py
  kpops/core/registry.py
  kpops/manifests/argo.py
  kpops/utils/cli_commands.py
  pyproject.toml
  tests/component_handlers/helm_wrapper/test_helm_diff.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/conftest.py
  tests/manifests/strimzi/test_kafka_topic.py
  tests/pipeline/test_generate.py
  tests/test_kpops_config.py
  tests/utils/test_doc_gen.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

style: clean pyproject
  pyproject.toml
Due: none

refactor(kafka-connect): improve API response status checks
  kpops/component_handlers/kafka_connect/connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test(kafka-connect): add coverage for reset offset API
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(kafka-connector): remove offset_topic attribute
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/offset_topic-kafka-source-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-source-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/defaults.md
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Deployed 811b80ff to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/sections/offset_topic-kafka-source-connector.yaml
  dev/resources/pipeline-defaults/defaults-kafka-source-connector.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/defaults/index.html
Due: none

feat(kafka-connect): reset connector using REST API, remove custom resetter (#646)
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/offset_topic-kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/sections/resetter_values.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-source-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/defaults.md
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/pipeline/resources/resetter_values/defaults.yaml
  tests/pipeline/resources/resetter_values/pipeline.yaml
  tests/pipeline/resources/resetter_values/pipeline_connector_only.yaml
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Deployed c2347f1e to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  main/resources/pipeline-components/dependencies/kpops_structure.yaml
  main/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  main/resources/pipeline-components/kafka-connector.yaml
  main/resources/pipeline-components/kafka-sink-connector.yaml
  main/resources/pipeline-components/kafka-source-connector.yaml
  main/resources/pipeline-components/pipeline.yaml
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-components/sections/offset_topic-kafka-source-connector.yaml
  main/resources/pipeline-components/sections/resetter_values.yaml
  main/resources/pipeline-defaults/defaults-kafka-connector.yaml
  main/resources/pipeline-defaults/defaults-kafka-source-connector.yaml
  main/resources/pipeline-defaults/defaults.yaml
  main/resources/pipeline-defaults/defaults/index.html
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/core-concepts/components/kafka-sink-connector/index.html
  main/user/core-concepts/components/kafka-source-connector/index.html
  main/user/core-concepts/defaults/index.html
Due: none

refactor: unify error handling and logging
  kpops/api/__init__.py
  kpops/api/logs.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/exception.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/kafka_connect/exception.py
  kpops/component_handlers/kafka_connect/kafka_connect_api.py
  kpops/component_handlers/topic/exception.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/component_handlers/utils/exception.py
  kpops/exception.py
  kpops/utils/logging.py
  pyproject.toml
  tests/api/test_run_component.py
  tests/cli/test_main.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kafka_connect/test_kafka_connect_api.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/utils/__init__.py
  tests/component_handlers/utils/test_exception.py
  tests/conftest.py
  tests/utils/test_pydantic.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor: reuse typer.Exit instead of sys.exit
  kpops/cli/main.py
  tests/cli/test_main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor: extract shared ServiceException
  kpops/component_handlers/helm_wrapper/exception.py
  kpops/component_handlers/kafka_connect/exception.py
  kpops/component_handlers/topic/exception.py
  kpops/component_handlers/utils/exception.py
  kpops/exception.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: centralize exceptions
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/exception.py
  kpops/component_handlers/kafka_connect/exception.py
  kpops/component_handlers/topic/exception.py
  kpops/component_handlers/utils/exception.py
  kpops/core/exception.py
  kpops/exception.py
  kpops/utils/logging.py
  tests/api/test_run_component.py
  tests/cli/test_main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

revert: fix Helm wrapper bug in separate PR
  kpops/component_handlers/helm_wrapper/helm.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix(helm): specify repo to update with Helm 4
  kpops/component_handlers/helm_wrapper/helm.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Revert "refactor: reuse typer.Exit instead of sys.exit"
  kpops/cli/main.py
  tests/cli/test_main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor: configure log format
  kpops/api/__init__.py
  kpops/component_handlers/helm_wrapper/__init__.py
  kpops/component_handlers/helm_wrapper/exception.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/kafka_connect/__init__.py
  kpops/component_handlers/kafka_connect/exception.py
  kpops/component_handlers/kafka_connect/kafka_connect_api.py
  kpops/component_handlers/topic/__init__.py
  kpops/component_handlers/topic/exception.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/utils/logging.py
  tests/api/test_run_component.py
  tests/cli/test_main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: encapsulate error logging in log_kpops_exception
  kpops/api/__init__.py
  kpops/component_handlers/utils/exception.py
  kpops/core/exception.py
  kpops/utils/logging.py
  tests/api/test_run_component.py
  tests/utils/test_logging.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

feat(streams-bootstrap): Support triggers and scaling modifiers in helm charts
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/values-consumer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-streams-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/common/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor: replace httpx with httpx2 (#654)
  kpops/api/logs.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/component_handlers/utils/exception.py
  pyproject.toml
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed c9919664 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

fix: additional_triggers type hint
  kpops/components/streams_bootstrap/common/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: serialize lagThreshold to str
  kpops/components/streams_bootstrap/common/model.py
  tests/components/streams_bootstrap/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor: skip logging of request body to protect sensitive config
  kpops/component_handlers/kafka_connect/kafka_connect_api.py
  tests/component_handlers/kafka_connect/test_kafka_connect_api.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(kafka-connect): improve request logging and dry-run handling (#652)
  kpops/component_handlers/kafka_connect/kafka_connect_api.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_kafka_connect_api.py
  tests/component_handlers/kafka_connect/test_kafka_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: rename
  tests/component_handlers/topic/test_kafka_rest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: rename Proxy wrapper to Kafka REST (#655)
  kpops/api/__init__.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/kafka_rest.py
  tests/api/test_handlers.py
  tests/component_handlers/topic/test_kafka_rest.py
  tests/component_handlers/topic/test_topic_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed a93a25ee to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

refactor: remove leftover typing.Self fallback for older Python versions
  kpops/components/common/kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

test: use re.escape
  .gitignore
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kafka_connect/test_kafka_connect_handler.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/components/test_kubernetes_app.py
  tests/components/test_topic.py
  tests/manifests/strimzi/test_kafka_topic.py
  tests/pipeline/test_generate.py
  tests/test_kpops_config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components
