Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs
        name: gen-docs
        entry: python hooks/gen_docs.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

Update schema
  docs/docs/schema/pipeline.json
  tests/cli/snapshots/snap_test_schema_generation.py
Due: none

Update tests
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
Due: none

Fix Pydantic Config class
  kpops/component_handlers/topic/model.py
Due: pyright, gen-schema

Remove camel case conversion from Helm flags
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema

Update schemas
  docs/docs/schema/config.json
  docs/docs/schema/pipeline.json
Due: none

Update snapshots
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: none

Remove camel case conversion from component models
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: pyright, gen-schema, gen-docs

Remove unnecessary Config override
  kpops/components/base_components/kubernetes_app.py
Due: pyright, gen-schema, gen-docs

Update docs
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-source-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/user/references/defaults.md
Due: none

Remove unnecessary model Config overrides
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: pyright, gen-schema, gen-docs

Cosmetic
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema

Remove unnecessary type annotation
  kpops/cli/pipeline_config.py
Due: pyright, gen-schema

Update doc string
  docs/docs/schema/config.json
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema

Ignore instead of forbid extra attributes in Kafka REST models
  kpops/component_handlers/topic/model.py
Due: pyright, gen-schema

Remove camel case conversion of internal models (#308)
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-source-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/config.json
  docs/docs/schema/pipeline.json
  docs/docs/user/references/defaults.md
  kpops/cli/pipeline_config.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/topic/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: pyright, gen-schema, gen-docs

Remove unused import
  kpops/components/base_components/pipeline_component.py
Due: pyright, gen-schema, gen-docs

Fix merge
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Fix typo in docs
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer.yaml
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/producer/model.py
Due: pyright, gen-schema, gen-docs

Add workaround for Pyright
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs

Fix `typing.Self` import for Python 3.10
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs

Rename logger
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs

Automatically support schema generation for custom components (#307)
  docs/docs/schema/config.json
  docs/docs/schema/pipeline.json
  hooks/gen_schema.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/utils/gen_schema.py
  kpops/utils/pydantic.py
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs

Add test
  tests/utils/test_pydantic.py
Due: pyright, gen-schema

Fix for acronym names with all uppercase letters
  kpops/utils/pydantic.py
Due: pyright, gen-schema

Refactor
  kpops/utils/pydantic.py
Due: pyright, gen-schema

Expand test
  tests/utils/test_pydantic.py
Due: pyright, gen-schema

docs(producer): update
  docs/docs/user/references/components.md
  docs/docs/user/references/defaults.md
  docs/docs/user/what-is-kpops.md
Due: none

Update producer reference (#310)
  docs/docs/user/references/components.md
  docs/docs/user/references/defaults.md
  docs/docs/user/what-is-kpops.md
Due: none

Implement changes
  docs/docs/schema/pipeline.json
  kpops/component_handlers/topic/proxy_wrapper.py
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: pyright, gen-schema

Implement changes
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: pyright, gen-schema

Rollback snapshot
  tests/cli/snapshots/snap_test_schema_generation.py
Due: none

Fix tests
  tests/cli/snapshots/snap_test_schema_generation.py
Due: none

Fix test
  docs/docs/schema/pipeline.json
  tests/cli/snapshots/snap_test_schema_generation.py
Due: none

Add test assertion for Windows
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: pyright, gen-schema

Refactor
  kpops/component_handlers/helm_wrapper/helm.py
Due: pyright, gen-schema

Refactor Helm flags
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema

Refactor Helm wrapper
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: pyright, gen-schema

Expand test
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: pyright, gen-schema

Rename variable
  kpops/component_handlers/helm_wrapper/helm.py
Due: pyright, gen-schema
