Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args: [ --force-exclude, --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [ --force-exclude, --config, pyproject.toml ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: gen-docs-contributing
        name: gen-docs-contributing
        entry: python hooks/gen_docs/gen_docs_contributing.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: gen-docs-changelog
        name: gen-docs-changelog
        entry: python hooks/gen_docs/gen_docs_changelog.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Deployed fe9c5f7 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Fix changelong in docs
  docs/docs/user/changelog.md
Due: dprint

Deployed 66ac325 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

Fix changelog in docs (#532)
  docs/docs/user/changelog.md
Due: dprint

Bump version 8.0.0 → 8.0.1
  docs/docs/user/changelog.md
  pyproject.toml
Due: dprint

Deployed b47b53a4 to 8.0 with MkDocs 1.5.3 and mike 1.1.2
  8.0/search/search_index.json
  8.0/sitemap.xml
  8.0/sitemap.xml.gz
  8.0/user/changelog/index.html
Due: none

Deployed 93b0fc0 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Deployed b47b53a to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Upgrade typer to support union types
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  poetry.lock
  pyproject.toml
  tests/pipeline/resources/dotenv/custom.env
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Update files
  tests/pipeline/resources/dotenv/.env
Due: none

revert pyright update
  poetry.lock
  pyproject.toml
Due: none

Update files
  poetry.lock
Due: none

change schema
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
Due: none

update typer
  poetry.lock
  pyproject.toml
Due: none

Deployed 7b54a73 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/references/cli-commands/index.html
Due: none

Update files
  tests/pipeline/resources/dotenv/.env
  tests/pipeline/resources/dotenv/custom.env
Due: none

Deployed f9e5be5 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Upgrade typer to support union types (#533)
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  poetry.lock
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 1db2cd4 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/references/cli-commands/index.html
Due: none

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed f734f40 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/streams/model.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 0a5ace8 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed d6d900f to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed c6df335 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed c6df335 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed d37e5e6 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 18bd7a7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Extend StreamsBootstrap model
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: none

Deployed 6849fea to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add Strimzi topic Manifestation
  kpops/components/base_components/models/resource.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/charts/kafka-topics/Chart.yaml
  kpops/components/streams_bootstrap/charts/kafka-topics/templates/_helopers.tpl
  kpops/components/streams_bootstrap/charts/kafka-topics/templates/topics.yaml
  kpops/components/streams_bootstrap/charts/kafka-topics/values.yaml
  kpops/components/streams_bootstrap/strimzi_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Add Strimzi topic Manifestation
  kpops/config/__init__.py
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog
