Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args: [ --force-exclude, --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [ --force-exclude, --config, pyproject.toml ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: gen-docs-contributing
        name: gen-docs-contributing
        entry: python hooks/gen_docs/gen_docs_contributing.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: gen-docs-changelog
        name: gen-docs-changelog
        entry: python hooks/gen_docs/gen_docs_changelog.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Refactor pipeline generator & representation (#392)
  hooks/gen_docs/gen_docs_components.py
  kpops/cli/main.py
  kpops/components/base_components/base_defaults_component.py
  kpops/pipeline.py
  kpops/pipeline_generator/__init__.py
  kpops/utils/pydantic.py
  kpops/utils/yaml.py
  tests/cli/test_pipeline_steps.py
  tests/compiler/test_pipeline_name.py
  tests/compiler/test_yaml_loading.py
  tests/components/test_base_defaults_component.py
  tests/conftest.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

feat: utils for creating project files WIP
  kpops/utils/cli_commands.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

fix: errors
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/utils/cli_commands.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Add to migration guide
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed 7a3b152 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/resources/variables/variable_substitution.yaml
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/migration-guide/v2-v3/index.html
Due: none

merge v3
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: ruff-lint, ruff-format, gen-docs-contributing, gen-docs-changelog

Deployed 873553b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

Feedback
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Fix dprint
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed a7ff6a8 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

Define custom components module & pipeline base dir globally (#387)
  config.yaml
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/migration-guide/v2-v3.md
  docs/docs/user/references/cli-commands.md
  examples/bakdata/atm-fraud-detection/config.yaml
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/components/base_components/base_defaults_component.py
  kpops/config.py
  kpops/pipeline.py
  kpops/utils/gen_schema.py
  tests/cli/resources/config.yaml
  tests/cli/resources/custom_module/__init__.py
  tests/cli/resources/empty_module/__init__.py
  tests/cli/resources/empty_module/config.yaml
  tests/cli/resources/no_module/config.yaml
  tests/cli/test_handlers.py
  tests/cli/test_registry.py
  tests/cli/test_schema_generation.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/test_example.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_template.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 539efab to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
Due: none

Update KPOps runner with the new options
  action.yaml
Due: none

Update docs
  docs/docs/user/references/ci-integration/github-actions.md
Due: dprint

Deployed 85fe79a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/ci-integration/github-actions/index.html
Due: none

Update files
  action.yaml
  docs/docs/user/references/ci-integration/github-actions.md
Due: dprint

Update KPOps runner with the new options (#395)
  action.yaml
  docs/docs/user/references/ci-integration/github-actions.md
Due: dprint

Deployed 64f46d3 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/ci-integration/github-actions/index.html
Due: none

Rename render to manifest
  docs/docs/user/references/cli-commands.md
  kpops/__init__.py
  kpops/cli/main.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Add steps for KubernetesApp->HelmApp to migration guide
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

fix: tempfile change delete_on_close flag
  kpops/component_handlers/helm_wrapper/helm.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

chore: pre-commit
  kpops/component_handlers/helm_wrapper/helm.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

fix: set delete flag on tempfile
  kpops/component_handlers/helm_wrapper/helm.py
  tests/pipeline/snapshots/snap_test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed c32976f to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
Due: none

Fix KPOps action to get package from testPyPI
  action.yaml
Due: none

Fix KPOps action to get package from testPyPI
  docs/docs/user/references/ci-integration/github-actions.md
Due: dprint

Fix KPOps action to get package from testPyPI (#396)
  action.yaml
  docs/docs/user/references/ci-integration/github-actions.md
Due: dprint

Deployed 8dc6a01 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
Due: none

Fix typo
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed e1fe2ec to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
Due: none

Deployed e1fe2ec to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

feat: generate config.yaml WIP
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/config.py
  kpops/utils/cli_commands.py
  kpops/utils/docstring.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Format toml
  pyproject.toml
Due: none

add nameOverride
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_app.py
  kpops/pipeline.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed e2d6394 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update files
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/pipeline.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 659f53a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none
