Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args: [ --force-exclude, --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [ --force-exclude, --config, pyproject.toml ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: gen-docs-contributing
        name: gen-docs-contributing
        entry: python hooks/gen_docs/gen_docs_contributing.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: gen-docs-changelog
        name: gen-docs-changelog
        entry: python hooks/gen_docs/gen_docs_changelog.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Refactor parents method as classproperty & remove self
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  hooks/gen_docs/gen_docs_components.py
  kpops/components/base_components/pipeline_component.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 26e6893 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Update schema
  docs/docs/resources/pipeline-defaults/defaults-kafka-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
Due: none

run pre-commit
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
Due: gen-docs-components

Support multiple inheritance for doc generation (#406)
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/components/base_components/pipeline_component.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Rename variable in test
  tests/components/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Cover breaking change in migration guide
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed 059632e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
Due: none

Fix parameter name
  tests/pipeline/test_components/components.py
  tests/pipeline/test_components_without_schema_handler/components.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Cover Kafka Connector change in migration guide
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Make resetter_namespace an optional override
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_connector.py
  tests/pipeline/resources/kafka-connect-sink/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update ATM fraud example pipeline
  examples/bakdata/atm-fraud-detection/defaults.yaml
  tests/pipeline/snapshots/snap_test_example.py
Due: ruff-lint, ruff-format, gen-docs-contributing, gen-docs-changelog

Update defaults
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink/pipeline.yaml
  tests/pipeline/snapshots/snap_test_generate.py
  tests/pipeline/test_components_without_schema_handler/components.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 3552e27 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/migration-guide/v2-v3/index.html
Due: none

Fix EOF
  tests/pipeline/resources/parallel-pipeline/config.yaml
Due: none

Deployed 5f2efcb to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Refactor streams-bootstrap cleanup jobs as individual HelmApp (#398)
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/components/streams-app.md
  docs/docs/user/core-concepts/components/streams-bootstrap.md
  docs/docs/user/migration-guide/v2-v3.md
  docs/mkdocs.yml
  kpops/components/__init__.py
  kpops/components/base_components/kafka_app.py
  kpops/components/streams_bootstrap/__init__.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/cli/test_registry.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/components/test_streams_bootstrap.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_components_without_schema_handler/components.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Improve docs for Kubernetes namespace attribute
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 6c16d7a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed 6c16d7a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Deployed bdd260b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Fix "enriching component of type `None`" log
  kpops/components/base_components/base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 0ea5cec to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

implement comments
  kpops/pipeline.py
  tests/pipeline/resources/parallel-pipeline/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 7e18e4c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed 7e18e4c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Implement changes
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 8769249 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Change variable names
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed cc49e24 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Remove lambda
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed df91e71 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none
