Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python -m hooks.gen_schema
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python -m hooks.gen_docs.gen_docs_cli_usage
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python -m hooks.gen_docs.gen_docs_env_vars
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python -m hooks.gen_docs.gen_docs_components
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Fix missing extra dependencies
  pyproject.toml
  uv.lock
Due: none

Deployed e3a2e8aa to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
  versions.json
Due: none

Add convenience environment variable for name of parent pipeline
  kpops/pipeline/__init__.py
  tests/compiler/test_pipeline_name.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix circular imports when running individual tests
  hooks/gen_docs/gen_docs_components.py
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/config/__init__.py
  kpops/core/__init__.py
  kpops/core/exception.py
  kpops/core/operation.py
  kpops/core/registry.py
  kpops/manifests/strimzi/kafka_topic.py
  kpops/pipeline/__init__.py
  kpops/utils/gen_schema.py
  tests/api/test_registry.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/manifests/strimzi/test_kafka_topic.py
  tests/pipeline/test_generate.py
  tests/test_kpops_config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix circular imports when running individual tests (#583)
  hooks/gen_docs/gen_docs_components.py
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/config/__init__.py
  kpops/core/__init__.py
  kpops/core/exception.py
  kpops/core/operation.py
  kpops/core/registry.py
  kpops/manifests/strimzi/kafka_topic.py
  kpops/pipeline/__init__.py
  kpops/utils/gen_schema.py
  tests/api/test_registry.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/manifests/strimzi/test_kafka_topic.py
  tests/pipeline/test_generate.py
  tests/test_kpops_config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 0c24b4f0 to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/api/index.html
Due: none

Migrate pre-commit to lefthook
  .lefthook.yaml
  .pre-commit-config.yaml
  dprint.json
  pyproject.toml
  tests/compiler/test_pipeline_name.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update readme
  .github/workflows/ci.yaml
  .lefthook.yaml
  docs/docs/developer/auto-generation.md
  docs/docs/developer/contributing.md
  hooks/__init__.py
  hooks/gen_docs/gen_docs_components.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Exclude scratch files for Pyright
  pyproject.toml
Due: none

Invert Pyright excludes, configure includes instead
  pyproject.toml
Due: none

Configure glob for gen-docs-components
  .lefthook.yaml
Due: none

Improve hooks and stage schemas automatically
  .lefthook.yaml
Due: none

Stage components docs automatically
  .lefthook.yaml
Due: none

Set exit status for gen-docs-components based on changed unstaged files
  .lefthook.yaml
Due: none

Configure Pyright to report import cycles
  pyproject.toml
Due: none

Fix import cycle in streams-bootstrap v2 module
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Configure Pyright to report import cycles (#585)
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 2b4d2e9a to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Revert unrelated change
  tests/compiler/test_pipeline_name.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add lefthook dev dependency
  pyproject.toml
  uv.lock
Due: none

Remove typer extra all which does not exist anymore
  pyproject.toml
  uv.lock
Due: none

Deployed 37284c0e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/developer/auto-generation/index.html
  dev/developer/contributing/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Only stage known schema files
  .lefthook.yaml
Due: none

Add YAML schema
  .lefthook.yaml
Due: none

Move post-merge hook to local hooks for now
  .gitignore
  .lefthook.yaml
Due: gen-docs-components

Make hooks files visible
  .gitignore
  lefthook.yaml
Due: gen-docs-components

Update docs
  docs/docs/developer/auto-generation.md
Due: dprint

Deployed f8eb0fa6 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/auto-generation/index.html
Due: none

Use Pydantic `model_validate` to avoid Pyright warnings
  tests/component_handlers/kubernetes/model.py
  tests/component_handlers/topic/test_utils.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/test_base_defaults_component.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_sink_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Format
  tests/components/test_base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add model validator
  kpops/components/streams_bootstrap/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Add test
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix kpops package build
  pyproject.toml
Due: none

Drop typer extra dependency `all` which doesn't exist
  pyproject.toml
  uv.lock
Due: none

Fix kpops package build (#588)
  pyproject.toml
  uv.lock
Due: none

Fail if streams-boostrap v3 model is instantiated with v2 attribute (#587)
  kpops/components/streams_bootstrap/model.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 9.1.0 → 9.2.0-dev
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

feat: support custom namespace configuration for `KafkaTopic`s
  docs/docs/schema/config.json
  kpops/config/__init__.py
  kpops/manifests/strimzi/kafka_topic.py
  tests/manifests/strimzi/test_kafka_topic.py
  tests/pipeline/resources/custom-config/config.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
