Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs
        name: gen-docs
        entry: python hooks/gen_docs.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

Allow Helm `--set-file` flag
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema

Refactor
  docs/docs/schema/pipeline.json
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: pyright, gen-schema

Refactor
  kpops/component_handlers/helm_wrapper/model.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Due: pyright, gen-schema

Fix
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/pipeline/test_template.py
Due: pyright, gen-schema, gen-docs

Add command to action
  actions/kpops-runner/README.md
  actions/kpops-runner/action.yaml
Due: none

Add flag to exclude pipeline steps
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

Update files
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Update files
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

Update files
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

update doc
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Update files
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

Fix tests
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

fix tests
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

Refactor CLI using dtyper (#306)
  docs/docs/user/references/cli-commands.md
  kpops/__init__.py
  kpops/cli/main.py
  kpops/pipeline_generator/pipeline.py
  poetry.lock
  pyproject.toml
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs

Replace baseurl for sync client
  kpops/component_handlers/topic/proxy_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: pyright, gen-schema

Reformat
  kpops/component_handlers/topic/proxy_wrapper.py
Due: pyright, gen-schema

Migrate to asyncio (#301)
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  poetry.lock
  pyproject.toml
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/components/test_kafka_app.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Due: pyright, gen-schema, gen-docs

Set default for ToSection topics
  docs/docs/schema/pipeline.json
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs

Refactor test assertion using `os.path.sep`
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: pyright, gen-schema

Update auth param description
  docs/docs/schema/pipeline.json
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema

Update snapshot
  tests/cli/snapshots/snap_test_schema_generation.py
Due: none

Update docstring
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs

Move comment
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs

Update Helm description
  docs/docs/schema/pipeline.json
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema, gen-docs

Refactor Helm wrapper and add `--set-file` flag (#311)
  docs/docs/schema/pipeline.json
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/test_template.py
Due: pyright, gen-schema, gen-docs

Update docs
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
Due: none

Annotate types for ToSection models mapping
  docs/docs/schema/pipeline.json
  kpops/component_handlers/schema_handler/schema_provider.py
  kpops/components/base_components/models/__init__.py
  kpops/components/base_components/models/to_section.py
  tests/cli/resources/module.py
  tests/component_handlers/schema_handler/resources/module.py
  tests/pipeline/test_components/components.py
Due: pyright, gen-schema, gen-docs

Set default for ToSection topics (#313)
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/schema/pipeline.json
  kpops/components/base_components/models/to_section.py
  tests/cli/snapshots/snap_test_schema_generation.py
Due: pyright, gen-schema, gen-docs

Check Poetry lock file consistency
  .github/workflows/ci.yaml
Due: none

Add back parameter for schema test
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema

Add back parameter for schema test
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema

Annotate types for ToSection models mapping (#315)
  docs/docs/schema/pipeline.json
  kpops/component_handlers/schema_handler/schema_provider.py
  kpops/components/base_components/models/__init__.py
  kpops/components/base_components/models/to_section.py
  tests/cli/resources/module.py
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/component_handlers/schema_handler/resources/module.py
  tests/pipeline/test_components/components.py
Due: pyright, gen-schema, gen-docs

Check Poetry lock file consistency (#316)
  .github/workflows/ci.yaml
Due: none

chore: update lockfile
  poetry.lock
Due: none

fix: fix python3.10 compatibility
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

docs(variables): Move advanced use cases to EOF
  docs/docs/user/references/variables/substitution.md
Due: none
