Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

Extract test-topic to const
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update files
  kpops/components/streams_bootstrap/streams/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Add KPOps Runner GitHub Action to the documentation (#325)
  actions/kpops-runner/README.md
  docs/docs/user/references/ci-integration/github-actions.md
  docs/mkdocs.yml
Due: none

Refactor Kafka Connect handler (#322)
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/utils/pydantic.py
  tests/cli/test_pipeline_steps.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_components_without_schema_handler/components.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Remove `:type` and `:rtype` from docstrings (#324)
  docs/docs/schema/pipeline.json
  hooks/gen_schema.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/dict_ops.py
  kpops/utils/docstring.py
  kpops/utils/gen_schema.py
  kpops/utils/yaml_loading.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 1.7.1 → 1.7.2
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed d4c1a27 to 1.7 with MkDocs 1.4.2 and mike 1.1.2
  1.7/404.html
  1.7/dev/development/autogeneration/index.html
  1.7/index.html
  1.7/resources/architecture/components-hierarchy/index.html
  1.7/resources/examples/defaults/index.html
  1.7/resources/examples/pipeline/index.html
  1.7/resources/pipeline-components/pipeline/index.html
  1.7/resources/pipeline-defaults/defaults/index.html
  1.7/resources/variables/cli_env_vars/index.html
  1.7/resources/variables/config_env_vars/index.html
  1.7/schema/pipeline.json
  1.7/search/search_index.json
  1.7/sitemap.xml
  1.7/sitemap.xml.gz
  1.7/user/examples/atm-fraud-pipeline/index.html
  1.7/user/getting-started/quick-start/index.html
  1.7/user/getting-started/setup/index.html
  1.7/user/getting-started/teardown/index.html
  1.7/user/references/ci-integration/github-actions/index.html
  1.7/user/references/cli-commands/index.html
  1.7/user/references/components/index.html
  1.7/user/references/config/index.html
  1.7/user/references/defaults/index.html
  1.7/user/references/editor-integration/index.html
  1.7/user/references/variables/environment_variables/index.html
  1.7/user/references/variables/substitution/index.html
  latest/user/references/ci-integration/github-actions/index.html
Due: none

Update pipeline tests
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update test
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Remove todo
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Refactor
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Revert "Refactor"
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Remove unnecessary condition in pipeline generation during inflate
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Bump version 1.7.2 → 2.0.0
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Break the documentation down into smaller subsection
  docs/docs/images/kpops-components-class-diagram.png
  docs/docs/resources/architecture/components-inheritance.md
  docs/docs/user/examples/atm-fraud-pipeline.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/references/components.md
  docs/docs/user/references/components/kafka-app.md
  docs/docs/user/references/components/kafka-sink-connector.md
  docs/docs/user/references/components/kafka-source-connector.md
  docs/docs/user/references/components/kubernetes-app.md
  docs/docs/user/references/components/overview.md
  docs/docs/user/references/components/producer-app.md
  docs/docs/user/references/components/streams-app.md
  docs/docs/user/references/config.md
  docs/docs/user/references/defaults.md
  docs/docs/user/references/variables/environment_variables.md
  docs/docs/user/what-is-kpops.md
  docs/mkdocs.yml
Due: none

Add mermaid graph
  docs/docs/user/references/components/overview.md
  docs/docs/user/references/config.md
Due: none

Update files
  docs/docs/user/references/components/overview.md
  docs/docs/user/references/config.md
Due: none

Remove drawio diagram
  docs/docs/images/kpops-components-class-diagram.png
  docs/docs/images/kpops-components_class-diagram.drawio
Due: none

Update files
  docs/docs/user/references/components/kafka-app.md
  docs/docs/user/references/components/kafka-sink-connector.md
  docs/docs/user/references/components/kafka-source-connector.md
  docs/docs/user/references/components/kubernetes-app.md
  docs/docs/user/references/components/producer-app.md
  docs/docs/user/references/components/streams-app.md
Due: none

Update files
  docs/mkdocs.yml
Due: none

Update files
  docs/docs/user/core-concepts/components/kafka-app.md
  docs/docs/user/core-concepts/components/kafka-sink-connector.md
  docs/docs/user/core-concepts/components/kafka-source-connector.md
  docs/docs/user/core-concepts/components/kubernetes-app.md
  docs/docs/user/core-concepts/components/overview.md
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/components/streams-app.md
  docs/docs/user/core-concepts/config.md
  docs/docs/user/core-concepts/defaults.md
  docs/docs/user/core-concepts/variables/environment_variables.md
  docs/docs/user/core-concepts/variables/substitution.md
  docs/mkdocs.yml
Due: none

Add reviews and update all the links
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/resources/architecture/components-inheritance.md
  docs/docs/user/core-concepts/components/kafka-connector.md
  docs/docs/user/core-concepts/components/kafka-sink-connector.md
  docs/docs/user/core-concepts/components/kafka-source-connector.md
  docs/docs/user/core-concepts/components/overview.md
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/components/streams-app.md
  docs/docs/user/core-concepts/config.md
  docs/docs/user/core-concepts/defaults.md
  docs/docs/user/core-concepts/variables/substitution.md
  docs/docs/user/references/editor-integration.md
  docs/docs/user/what-is-kpops.md
  docs/mkdocs.yml
Due: none

Update files
  docs/docs/resources/pipeline-config/config.yaml
  docs/docs/user/core-concepts/config.md
Due: none

Add networkx compatibility
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/pipeline_generator/pipeline.py
  poetry.lock
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix formatting
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update files
  docs/docs/user/core-concepts/config.md
Due: none

Save progress with ci working
  kpops/components/base_components/kafka_connector.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Linting
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix pyright
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Exclude abstract components from pipeline schema
  docs/docs/schema/pipeline.json
  kpops/utils/gen_schema.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Mark PipelineComponent & KafkaApp as ABC
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/pipeline_component.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

remove line breaks
  docs/docs/user/core-concepts/components/kafka-app.md
  docs/docs/user/core-concepts/components/kafka-connector.md
  docs/docs/user/core-concepts/components/overview.md
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/config.md
  docs/docs/user/core-concepts/defaults.md
  docs/docs/user/core-concepts/variables/environment_variables.md
  docs/docs/user/core-concepts/variables/substitution.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/references/editor-integration.md
  docs/docs/user/what-is-kpops.md
Due: none

Update files
  docs/docs/user/core-concepts/variables/substitution.md
Due: none

Skip `--defaults` & `--config` if not specified
  actions/kpops-runner/action.yaml
Due: none

Update readme
  docs/docs/user/references/ci-integration/github-actions.md
Due: none

Format
  actions/kpops-runner/README.md
Due: none

Skip `--pipeline-base-dir` & `--filter-type` if not specified
  actions/kpops-runner/action.yaml
  docs/docs/user/references/ci-integration/github-actions.md
Due: none

Fix optional flags in GitHub action (#334)
  actions/kpops-runner/README.md
  actions/kpops-runner/action.yaml
  docs/docs/user/references/ci-integration/github-actions.md
Due: none
