Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Update docs for v3 (#416)
  docs/docs/resources/pipeline-config/config.yaml
  docs/docs/user/core-concepts/variables/substitution.md
Due: dprint

Refactor Kafka Connector resetter as individual HelmApp (#400)
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/migration-guide/v2-v3.md
  examples/bakdata/atm-fraud-detection/defaults.yaml
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink/pipeline.yaml
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_generate.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_components_without_schema_handler/components.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Fix wrong Helm release name character limit
  kpops/component_handlers/helm_wrapper/utils.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update unit tests
  tests/component_handlers/helm_wrapper/test_utils.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update component test
  tests/components/test_kafka_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 8bdc766 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/references/cli-commands/index.html
Due: none

test: Remove unused fields
  tests/pipeline/resources/dotenv/config.yaml
  tests/pipeline/resources/env-specific-config-only/config_production.yaml
  tests/pipeline/resources/multi-config/config.yaml
Due: none

Update tests resources (#417)
  tests/pipeline/resources/dotenv/config.yaml
  tests/pipeline/resources/env-specific-config-only/config_production.yaml
  tests/pipeline/resources/multi-config/config.yaml
Due: none

docs: Summarize changes in diffs at the top of the migration guide
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed eea0554 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

docs: finish the summary
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed 1c9ce84 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
Due: none

Deployed 1c9ce84 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Fix enrichment of nested Pydantic BaseModel (#415)
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/pipeline.py
  kpops/utils/dict_ops.py
  kpops/utils/types.py
  tests/components/resources/defaults.yaml
  tests/components/test_base_defaults_component.py
  tests/pipeline/snapshots/snap_test_generate.py
  tests/pipeline/test_components/components.py
  tests/utils/test_dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

docs: dprint ignore, examples syntax
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed fc201e8 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
Due: none

Summarize all breaking changes in diffs at the top of the migration guide (#419)
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Fix Helm character limit in migration guide
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed ba41da4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
Due: none

Fix wrong Helm release name character limit (#418)
  docs/docs/user/migration-guide/v2-v3.md
  kpops/component_handlers/helm_wrapper/utils.py
  tests/component_handlers/helm_wrapper/test_utils.py
  tests/components/test_kafka_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed a90984b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
Due: none

Update release workflow template to support custom changelog file path
  .github/workflows/release.yaml
Due: none

Update release workflow template to support custom changelog file path (#421)
  .github/workflows/release.yaml
Due: none

Bump version 2.0.11 → 3.0.0
  docs/docs/user/changelog.md
  kpops/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 373b8e8 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

chore: Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Improve wording
  docs/docs/user/getting-started/quick-start.md
Due: dprint

Update docs of word-count example for v3 & new folder structure
  docs/docs/resources/examples/defaults.md
  docs/docs/resources/examples/pipeline.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/what-is-kpops.md
Due: dprint

Update pydantic dependency (#422)
  poetry.lock
  pyproject.toml
Due: none

Deployed 7c05165 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Deployed ba66cdd to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/references/cli-commands/index.html
Due: none

Move log statement
  kpops/cli/main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 39f2fe2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add install step
  docs/docs/user/getting-started/quick-start.md
Due: dprint

Deployed ad220cb to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/getting-started/quick-start/index.html
  dev/user/references/cli-commands/index.html
  dev/user/what-is-kpops/index.html
Due: none

Deployed ad220cb to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Update docs/docs/user/what-is-kpops.md
  docs/docs/user/what-is-kpops.md
Due: dprint

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
