Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check .
        args: [ --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-ci
        name: ruff-ci
        entry: ruff check .
        args: [ --config, pyproject.toml, --output-format, text, --no-fix]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
        stages: [manual]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Refactor test as parametrized
  tests/component_handlers/kubernetes/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add comment
  tests/pipeline/test_template.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor test
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update docs
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/components/base_components/pipeline_component.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Update docs
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Deployed 52ec86f to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add param to docstring
  kpops/utils/yaml.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed f06cac3 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Cosmetic
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Deployed a955a52 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/references/cli-commands/index.html
Due: none

Extract `kpops generate --template` into separate command `kpops render`
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  tests/pipeline/test_render.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Remove obsolete warning
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Update help for `kpops generate`
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Remove obsolete test
  tests/pipeline/test_pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Rephrase PipelineComponent docs to be less specific to Kubernetes
  kpops/components/base_components/pipeline_component.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Rename template to render
  kpops/cli/main.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix printing & return collected manifests
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/utils/yaml.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

Expose `render` in public API
  kpops/__init__.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed bab8eb7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/references/cli-commands/index.html
Due: none

Handle rendering resources with multiple manifests
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  tests/component_handlers/kubernetes/model.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_render.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Rename TestPipeline to TestGenerate
  tests/pipeline/test_generate.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Cosmetic
  kpops/components/base_components/pipeline_component.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Add type annotation
  kpops/component_handlers/kubernetes/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Cosmetic
  kpops/utils/yaml.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix tests
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/pipeline_generator/pipeline.py
  test.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Solve ruff issues
  kpops/pipeline_generator/pipeline.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix black issues
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/pipeline_generator/pipeline.py
  tests/components/test_kafka_source_connector.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: refactor, comment
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/settings_sources.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/helm_app.py
  kpops/utils/pydantic.py
  tests/component_handlers/schema_handler/test_schema_handler.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

WIP schema generation
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Use `pydantic.RootModel` for pipeline components union
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Cleanup schema generator
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Cleanup generated schema
  docs/docs/schema/pipeline.json
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Cleanup generated schema: hide discriminator field
  docs/docs/schema/pipeline.json
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update test snapshot
  tests/cli/snapshots/snap_test_schema_generation.py
Due: ruff
