Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Refactor as parametrized test
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 519d700 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Define pydantic model to representig Kubernetes manifest
  tests/component_handlers/helm_wrapper/test_dry_run_handler.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add PoC for custom serializer
  kpops/components/common/kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Add tests
  kpops/components/common/kubernetes_model.py
  tests/components/common/__init__.py
  tests/components/common/test_kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Remove repeated defaults for ProducerApp
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/producer/model.py
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed d10502a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Address reviews
  kpops/api/__init__.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/utils.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/manifest/__init__.py
  kpops/manifest/argo.py
  kpops/manifest/kubernetes.py
  tests/component_handlers/helm_wrapper/test_dry_run_handler.py
  tests/component_handlers/helm_wrapper/test_helm_diff.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kubernetes/model.py
  tests/components/common/__init__.py
  tests/components/test_helm_app.py
  tests/manifest/test_argo_enricher.py
  tests/manifest/test_kubernetes_model.py
  tests/pipeline/snapshots/test_manifest/test_python_api/manifest.yaml
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Address reviews
  kpops/api/__init__.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/utils.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/manifests/__init__.py
  kpops/manifests/argo.py
  kpops/manifests/kubernetes.py
  tests/component_handlers/helm_wrapper/test_dry_run_handler.py
  tests/component_handlers/helm_wrapper/test_helm_diff.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kubernetes/model.py
  tests/components/test_helm_app.py
  tests/manifests/__init__.py
  tests/manifests/test_argo_enricher.py
  tests/manifests/test_kubernetes_model.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  tests/component_handlers/helm_wrapper/test_dry_run_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Define Pydantic model to representing Kubernetes manifest (#546)
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/utils.py
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/models/resource.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/manifests/kubernetes.py
  tests/component_handlers/helm_wrapper/test_dry_run_handler.py
  tests/component_handlers/helm_wrapper/test_helm_diff.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kubernetes/model.py
  tests/components/test_helm_app.py
  tests/manifests/__init__.py
  tests/manifests/test_argo_enricher.py
  tests/manifests/test_kubernetes_model.py
  tests/pipeline/snapshots/test_manifest/test_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_python_api/resources
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Remove more default values
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Make some collections optional
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Fix condition
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed d251973 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

clean ups
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/strimzi/kafka_topic.py
  kpops/manifests/strimzi/__init__.py
  kpops/manifests/strimzi/kafka_topic.py
  tests/pipeline/snapshots/test_manifest/test_python_api/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  kpops/manifests/strimzi/kafka_topic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Make collection types optional
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update snapshot
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: none

Deployed af1f3bd to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Avoid conflict with Pydantic internals
  kpops/components/streams_bootstrap/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed d4889e9 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Remove repeated defaults from streams-bootstrap values (#547)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Bump version 8.1.2 → 8.1.3
  docs/docs/user/changelog.md
  pyproject.toml
Due: dprint

Deployed 96b72d72 to 8.1 with MkDocs 1.5.3 and mike 1.1.2
  8.1/schema/defaults.json
  8.1/schema/pipeline.json
  8.1/search/search_index.json
  8.1/sitemap.xml
  8.1/sitemap.xml.gz
  8.1/user/changelog/index.html
Due: none

Deployed 54ae7de to main with MkDocs 1.5.3 and mike 1.1.2
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 96b72d7 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

clean ups
  kpops/components/streams_bootstrap/base.py
  kpops/manifests/strimzi/kafka_topic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

add cluster name label
  config.yaml
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  kpops/components/streams_bootstrap/base.py
  kpops/config/__init__.py
  kpops/manifests/strimzi/kafka_topic.py
  tests/cli/snapshots/test_init/test_init_project_include_optional/config.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 16d88c7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed 3f71255 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Trim Helm name override for Producer CronJob to 52 characters
  kpops/components/streams_bootstrap/producer/producer_app.py
  tests/components/streams_bootstrap/test_producer_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Fix `kpops --version`
  kpops/const/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Extract property
  kpops/components/streams_bootstrap/producer/producer_app.py
  tests/components/streams_bootstrap/test_producer_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Fix `kpops --version` (#551)
  kpops/const/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 420dc6f to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
