Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

Update files
  .github/changelog-config.json
Due: none

Add reviews
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  docs/docs/user/getting-started/setup.md
  docs/docs/user/references/editor-integration.md
Due: none

Update files
  dprint.json
Due: none

fix namings
  .github/workflows/ci.yaml
Due: none

Update files
  .github/workflows/ci.yaml
Due: none

Fix formatting
  README.md
  docs/docs/dev/development/autogeneration.md
  docs/docs/resources/examples/defaults.md
  docs/docs/resources/examples/pipeline.md
  docs/docs/resources/pipeline-components/pipeline.md
  docs/docs/resources/pipeline-defaults/defaults.md
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.md
  dprint.json
Due: none

Exclude variables files from dprint
  .pre-commit-config.yaml
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.md
  dprint.json
Due: none

Exclude venv
  dprint.json
Due: none

dedent
  docs/docs/resources/examples/pipeline.md
Due: none

Bump version 2.0.2 → 2.0.3
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed abc0dc2 to 2.0 with MkDocs 1.4.2 and mike 1.1.2
  2.0/resources/examples/defaults/index.html
  2.0/resources/examples/pipeline/index.html
  2.0/search/search_index.json
  2.0/sitemap.xml
  2.0/sitemap.xml.gz
  2.0/user/what-is-kpops/index.html
  versions.json
Due: none

Add change log to docs
  .github/changelog-config.json
  docs/docs/changelog.md
  docs/mkdocs.yml
Due: none

Add formatting to developer guide
  docs/docs/dev/development/autogeneration.md
  docs/mkdocs.yml
Due: none

Add formatting to developer guide
  docs/docs/developer/auto-generation.md
  docs/docs/developer/formatting.md
Due: none

Add test
  tests/cli/resources/empty_module.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Test exclusion of abstract components
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Exclude abstract components from pipeline schema (#332)
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/utils/gen_schema.py
  tests/cli/resources/empty_module.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Add `dprint` as the markdown formatter (#337)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
  docs/docs/dev/development/autogeneration.md
  docs/docs/developer/auto-generation.md
  docs/docs/developer/formatting.md
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/resources/examples/defaults.md
  docs/docs/resources/examples/pipeline.md
  docs/docs/resources/pipeline-components/pipeline.md
  docs/docs/resources/pipeline-defaults/defaults.md
  docs/docs/user/core-concepts/components/kafka-app.md
  docs/docs/user/core-concepts/components/kafka-sink-connector.md
  docs/docs/user/core-concepts/components/kafka-source-connector.md
  docs/docs/user/core-concepts/components/kubernetes-app.md
  docs/docs/user/core-concepts/components/producer-app.md
  docs/docs/user/core-concepts/components/streams-app.md
  docs/docs/user/core-concepts/config.md
  docs/docs/user/core-concepts/defaults.md
  docs/docs/user/core-concepts/variables/environment_variables.md
  docs/docs/user/core-concepts/variables/substitution.md
  docs/docs/user/examples/atm-fraud-pipeline.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/getting-started/setup.md
  docs/docs/user/getting-started/teardown.md
  docs/docs/user/references/editor-integration.md
  docs/docs/user/what-is-kpops.md
  docs/mkdocs.yml
  dprint.json
Due: none

Add reviews
  .github/actions/update-docs/action.yml
  .github/workflows/ci.yaml
Due: none

Set automatic output topic for kafka-app components
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_app.py
  tests/pipeline/resources/pipeline-with-paths/pipeline.yaml
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Test new dependency
  pyproject.toml
Due: none

Fix lock
  poetry.lock
Due: none

Add reviews
  .github/actions/update-docs/action.yml
  .github/workflows/release.yaml
Due: none

Publish pre-release docs for PRs & main branch (#339)
  .github/actions/update-docs/action.yml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  justfile
Due: none

Fix GitHub ref variable for pushing docs to main branch
  .github/workflows/ci.yaml
Due: none

Fix GitHub ref variable for pushing docs to main branch (#343)
  .github/workflows/ci.yaml
Due: none

Fix problem when names are not overriten
  kpops/components/base_components/kafka_connector.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Delete pl show
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deleting ploting graph
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(PipelineConfig): migrate to pydantic v2
  kpops/cli/pipeline_config.py
  kpops/cli/settings_sources.py
  kpops/utils/yaml_loading.py
  poetry.lock
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(helm): migrate to pydantic v2
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(kafka connect): migrate to pydantic v2
  kpops/component_handlers/kafka_connect/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(base defaults component): migrate to pydantic v2
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor(gen schema): migrate to pydantic v2
  kpops/utils/gen_schema.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add test and fix some edge cases
  kpops/pipeline_generator/pipeline.py
  tests/pipeline/resources/pipeline-with-loop/defaults.yaml
  tests/pipeline/resources/pipeline-with-loop/pipeline.yaml
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

remove unused dependency
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars
