Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args:
          [
            --force-exclude,
            --config,
            pyproject.toml,
            --fix,
            --show-fixes,
            --exit-non-zero-on-fix,
          ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [--force-exclude, --config, pyproject.toml]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
      - id: gen-schema
        name: gen-schema
        entry: python -m hooks.gen_schema
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python -m hooks.gen_docs.gen_docs_cli_usage
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python -m hooks.gen_docs.gen_docs_env_vars
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python -m hooks.gen_docs.gen_docs_components
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: dprint
        name: dprint
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

chore(dev): bump ty
  pyproject.toml
  uv.lock
Due: none

chore(dev): update ty
  pyproject.toml
  tests/components/test_kafka_source_connector.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 7b1cd3d7 to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/api/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/migration-guide/v11-v12/index.html
Due: none

Deployed 3cdb06c5 to dev with Zensical 0.0.64 and mike 2.2.0+zensical-0.1.0
  dev/developer/api/index.html
  dev/objects.inv
  dev/search.json
  dev/user/migration-guide/v11-v12/index.html
Due: none

docs: address review
  docs/docs/overrides/home.html
Due: none

Deployed 89c1c8c8 to dev with Zensical 0.0.64 and mike 2.2.0+zensical-0.1.0
  dev/index.html
  dev/overrides/home.html
Due: none

docs: migrate from mkdocs to zensical (#682)
  .github/workflows/ci.yaml
  LICENSE
  docs/docs/overrides/home.html
  docs/docs/stylesheets/extra.css
  docs/docs/user/getting-started/setup.md
  docs/mkdocs.yml
  justfile
  pyproject.toml
  uv.lock
Due: dprint

chore(release): 11.0.0 → 12.0.0
  .bumpversion.toml
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 5e3aea17 to main with Zensical 0.0.64 and mike 2.2.0+zensical-0.1.0
  main/search.json
  main/user/changelog/index.html
Due: none

fix(log): disable rich tracebacks
  kpops/utils/logging.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix(pipeline): disable from section for source connector
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/pipeline/resources/kafka-connect-source-in-middle/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_source_in_middle_of_pipeline/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 215fd53c to dev with Zensical 0.0.64 and mike 2.2.0+zensical-0.1.0
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search.json
  dev/user/changelog/index.html
Due: none

refactor(cli): finish annotated types & fix env var docs generation
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  tests/utils/test_doc_gen.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

style: remove leftover pyright pragma
  kpops/utils/gen_schema.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: upgrade typer
  docs/docs/user/references/cli-commands.md
  hooks/gen_docs/gen_docs_env_vars.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 4c97d8d2 to dev with Zensical 0.0.64 and mike 2.2.0+zensical-0.1.0
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search.json
  dev/user/references/cli-commands/index.html
Due: none
