Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check .
        args: [ --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-ci
        name: ruff-ci
        entry: ruff check .
        args: [ --config, pyproject.toml, --output-format, text, --no-fix]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
        stages: [manual]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

tests: check if serialization works
  kpops/components/base_components/models/from_section.py
  tests/defaults.yaml
  tests/test_model_serialization.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: hardcode checks for extra topics
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

WIP
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor: update connector app validator
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: update deprecated functions to current ones
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: lint
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/topic/model.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/pipeline_generator/pipeline.py
  poetry.lock
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: upgrade pydantic
  pyproject.toml
Due: none

fix: env vars doc gen
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/resources/variables/temp_config_env_vars.csv
Due: dprint

chore: remove unneeded import
  hooks/gen_docs/gen_docs_components.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: generation scripts WIP
  docs/docs/schema/config.json
  docs/docs/schema/pipeline.json
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_schema.py
  kpops/components/base_components/kafka_connector.py
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: schema WIP
  kpops/utils/gen_schema.py
  tests/component_handlers/schema_handler/test_schema_handler.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci: remove future import that breaks ruff
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  pyproject.toml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 5aa5936 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed 74dd373 to main with MkDocs 1.4.2 and mike 1.1.2
  main/schema/config.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

fix: schema generation WIP
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: clean up
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: pipeline schema WIP
  docs/docs/schema/pipeline.json
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: pieline schema WIP
  docs/docs/schema/pipeline.json
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: schema WIP
  docs/docs/schema/pipeline.json
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: schema WIP
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: misc errors from merge
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/components/base_components/kafka_connector.py
  poetry.lock
  tests/components/test_kafka_sink_connector.py
  tests/utils/resources/nested_base_settings.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: migration errors
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/pipeline.json
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/pipeline_config.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/utils/gen_schema.py
  tests/utils/test_doc_gen.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: serialization WIP
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Update environment tests to use `os.environ`
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add failing test
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Couple KPOps environment to `os.environ` and enable transparent lookups
  kpops/utils/environment.py
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Remove key transformer
  kpops/utils/environment.py
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Implement common methods
  kpops/utils/environment.py
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor
  kpops/utils/environment.py
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor tests, remove platform-specific ones
  .gitignore
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Refactor
  kpops/utils/environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Print details on connector name mismatch error
  .gitignore
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_connector.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults_development.yaml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix error in tests
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
Due: none

Expand test
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Print details on connector name mismatch error (#369)
  .gitignore
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_connector.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults_development.yaml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 10f02a9 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Mark helper property as internal
  kpops/utils/environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars
