Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python -m hooks.gen_schema
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python -m hooks.gen_docs.gen_docs_cli_usage
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python -m hooks.gen_docs.gen_docs_env_vars
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python -m hooks.gen_docs.gen_docs_components
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

refactor(pipeline): skip sort YAML keys
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: update snapshots
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Due: none

refactor: incorporate feedback
  kpops/components/base_components/pipeline_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor(pipeline): set custom attribute order (#625)
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline/__init__.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 10.2.0 → 10.3.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed b0fff020 to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/api/index.html
  main/search/search_index.json
Due: none

Deployed a76e5146 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

Configure fullnameOverride
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-kafka-app.yaml
  docs/docs/resources/pipeline-components/sections/values-producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-streams-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/pipeline/snapshots/test_manifest/test_deploy_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_command/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_deploy_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 5b947759 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/producer-app.yaml
  dev/resources/pipeline-components/sections/values-kafka-app.yaml
  dev/resources/pipeline-components/sections/values-producer-app.yaml
  dev/resources/pipeline-components/sections/values-streams-app.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-producer-app.yaml
  dev/resources/pipeline-defaults/defaults-streams-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
Due: none

Deployed 8addf316 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/producer-app.yaml
  dev/resources/pipeline-components/sections/values-kafka-app.yaml
  dev/resources/pipeline-components/sections/values-producer-app.yaml
  dev/resources/pipeline-components/sections/values-streams-app.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-producer-app.yaml
  dev/resources/pipeline-defaults/defaults-streams-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
Due: none

Deployed 8addf316 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat(helm-app): set fullnameOverride (#626)
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-kafka-app.yaml
  docs/docs/resources/pipeline-components/sections/values-producer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-streams-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 10.3.0 → 10.4.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 4d2266aa to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-components/pipeline.yaml
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-components/producer-app.yaml
  main/resources/pipeline-components/sections/values-kafka-app.yaml
  main/resources/pipeline-components/sections/values-producer-app.yaml
  main/resources/pipeline-components/sections/values-streams-app.yaml
  main/resources/pipeline-components/streams-app.yaml
  main/resources/pipeline-defaults/defaults-producer-app.yaml
  main/resources/pipeline-defaults/defaults-streams-app.yaml
  main/resources/pipeline-defaults/defaults.yaml
  main/resources/pipeline-defaults/defaults/index.html
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/core-concepts/components/producer-app/index.html
  main/user/core-concepts/components/streams-app/index.html
  main/user/core-concepts/defaults/index.html
Due: none

Deployed 402a9083 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

ci: upstream Python uv release workflow
  .github/workflows/python-uv-release.yaml
  .github/workflows/release.yaml
Due: none

ci: update workflow ref to release
  .github/workflows/release.yaml
Due: none

ci: upstream Python uv release workflow (#627)
  .github/workflows/python-uv-release.yaml
  .github/workflows/release.yaml
Due: none

Deployed caa37791 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

test: add ENV test
  tests/utils/test_environment.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: create failing test case
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix(pipeline-generator): clear env on load new YAML
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix(pipeline-generator): clear env on load YAML (#628)
  kpops/pipeline/__init__.py
  tests/pipeline/test_generate.py
  tests/utils/test_environment.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 37e8dfe2 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Bump version 10.4.0 → 10.4.1
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 14180e41 to 10.4 with MkDocs 1.6.1 and mike 2.1.3
  10.4/search/search_index.json
  10.4/sitemap.xml
  10.4/sitemap.xml.gz
  10.4/user/changelog/index.html
Due: none

Deployed 14180e41 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

docs: fix indentation of nested lists
  docs/mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

Deployed 9517f40d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/auto-generation/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/components/streams-bootstrap/index.html
  dev/user/core-concepts/operation-mode/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

docs: fix indentation of nested lists (#629)
  docs/mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

Deployed 55a89f9f to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/auto-generation/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/changelog/index.html
  main/user/core-concepts/components/streams-bootstrap/index.html
  main/user/core-concepts/operation-mode/index.html
  main/user/core-concepts/variables/substitution/index.html
  main/user/examples/atm-fraud-pipeline/index.html
  main/user/getting-started/quick-start/index.html
  main/user/getting-started/setup/index.html
  main/user/migration-guide/v2-v3/index.html
  main/user/references/cli-commands/index.html
Due: none

refactor(pydantic): remove optional case for model alias serialization
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(pydantic): check optional field info
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(pydantic): check optional field info for model alias serialization (#630)
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed a2699156 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

fix(streams-bootstrap): serialize to camelcase
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

test: update
  tests/components/streams_bootstrap/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
