Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

chore(ruff-pytest): manually fix code flagged by "PT"
  tests/cli/test_schema_generation.py
  tests/compiler/test_pipeline_name.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/components/test_streams_app.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci(ruff-raise): autofix "RSE"
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/kafka_app.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

ci(ruff-return): autofix "RET"
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_connector.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

ci(ruff-simplify): autofix "SIM"
  kpops/component_handlers/topic/handler.py
  tests/compiler/test_pipeline_name.py
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci(ruff-type-checking): disable "TCH" temporarily
  pyproject.toml
Due: none

ci(ruff): remove "ARG"
  pyproject.toml
Due: none

ci(ruff-pathlib): autofix "PTH"
  kpops/cli/main.py
  tests/compiler/test_pipeline_name.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore(ruff-pathlib): manually fix code flagged by "PTH"
  kpops/cli/registry.py
  kpops/utils/yaml_loading.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(ruff-pygrep): manually fix code flagged by "PGH"
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/gen_schema.py
  tests/components/test_kafka_connector.py
  tests/pipeline/test_components/components.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

ci(ruff-pylint): autofix "PL"
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci(ruff): ignore "PLW2901"
  pyproject.toml
Due: none

chore(ruff-pylint): manually fix code flagged by "PL"
  hooks/gen_docs/gen_docs_cli_usage.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/utils/dict_differ.py
  kpops/utils/dict_ops.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci(ruff-tryceratops): autofix "TRY"
  kpops/component_handlers/helm_wrapper/helm.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(ruff-tryceratops): manually fix code flagged by "TRY"
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/component_handlers/utils/exception.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: lint
  hooks/gen_docs/__init__.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci(ruff): enable "TCH" partly
  kpops/cli/main.py
  kpops/cli/registry.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/dict_differ.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

ci(ruff): enable "TCH002"
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  pyproject.toml
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci(ruff): configure
  pyproject.toml
Due: none

chore: remove leftover file
  setup.cfg
Due: none

ci: update workflow
  .github/workflows/ci.yaml
Due: none

chore: pass tests
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 25b0c08 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/schema/config.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Deployed 25b0c08 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci(ruff-type-checking): Add "TCH001" with proper config
  kpops/component_handlers/__init__.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/schema_handler/schema_provider.py
  kpops/components/base_components/kafka_connector.py
  kpops/pipeline_generator/pipeline.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 0b9f26c to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

style: one-liner
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed bdee94d to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci(ruff): Ignore COM812
  pyproject.toml
Due: none

Deployed 847d4e9 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Deployed 5a6c3d1 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

test: whether matcher works
  .github/ruff-matcher.json
  .github/workflows/ci.yaml
  kpops/component_handlers/helm_wrapper/helm.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: problem checker
  kpops/component_handlers/helm_wrapper/helm.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: ci
  .github/workflows/ci.yaml
Due: none

ci(ruff): format output as "text" in the CI only
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

fix(ruff): pre-commit wrong arg
  .pre-commit-config.yaml
Due: none

fix: ruff args in pre-commit
  .pre-commit-config.yaml
Due: none

fix(ci): ruff pre-commit hook
  .pre-commit-config.yaml
Due: none

ci: attempt to fix
  .github/ruff-matcher.json
  .pre-commit-config.yaml
Due: none
