Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args:
          [
            --force-exclude,
            --config,
            pyproject.toml,
            --fix,
            --show-fixes,
            --exit-non-zero-on-fix,
          ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [--force-exclude, --config, pyproject.toml]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
      - id: gen-schema
        name: gen-schema
        entry: python -m hooks.gen_schema
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python -m hooks.gen_docs.gen_docs_cli_usage
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python -m hooks.gen_docs.gen_docs_env_vars
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python -m hooks.gen_docs.gen_docs_components
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: dprint
        name: dprint
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

test: apply review suggestion
  tests/components/test_kubernetes_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: update Ruff & BasedPyright (#656)
  .gitignore
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/base.py
  kpops/core/operation.py
  kpops/core/registry.py
  kpops/manifests/argo.py
  kpops/utils/cli_commands.py
  pyproject.toml
  tests/component_handlers/helm_wrapper/test_helm_diff.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kafka_connect/test_kafka_connect_handler.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/components/test_kubernetes_app.py
  tests/components/test_topic.py
  tests/conftest.py
  tests/manifests/strimzi/test_kafka_topic.py
  tests/pipeline/test_generate.py
  tests/test_kpops_config.py
  tests/utils/test_doc_gen.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 00951e97 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

refactor: rename logger
  kpops/component_handlers/kubernetes/pvc_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: empty diff skips log
  tests/component_handlers/kafka_connect/test_kafka_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: quiet faker logging
  tests/conftest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(kafka-connect): delete unused timeout utility
  kpops/component_handlers/kafka_connect/timeout.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

feat(streams-bootstrap): Support triggers and scaling modifiers in helm charts
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/base.py
  tests/components/streams_bootstrap/test_consumer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

feat(streams-bootstrap): Support triggers and scaling modifiers in helm charts
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/values-consumer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-streams-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
Due: gen-docs-components

Deployed e45cadc5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/consumer-app.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/sections/values-consumer-app.yaml
  dev/resources/pipeline-components/sections/values-streams-app.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-consumer-app.yaml
  dev/resources/pipeline-defaults/defaults-streams-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/user/core-concepts/components/consumer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
Due: none

Revert "fix: serialize lagThreshold to str"
  kpops/components/streams_bootstrap/common/model.py
  tests/components/streams_bootstrap/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

test: add additional triggers test
  tests/components/streams_bootstrap/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix(logs): do not leak stale error context into subsequent operations
  kpops/core/exception.py
  kpops/utils/logging.py
  tests/utils/test_logging.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: apply suggestion
  kpops/utils/logging.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 0654f904 to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/api/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

fix(helm): specify repo to update with Helm 4 (#658)
  kpops/component_handlers/helm_wrapper/helm.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

feat(streams-bootstrap): Add volumeAttributesClassName to PersistenceConfig (#662)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/common/model.py
  tests/components/streams_bootstrap/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed dcde2ae5 to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/defaults.json
  main/schema/pipeline.json
Due: none

Deployed 616005ff to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat(streams-bootstrap): add KEDA triggers and scaling modifiers (#659)
  docs/docs/resources/pipeline-components/consumer-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/values-consumer-app.yaml
  docs/docs/resources/pipeline-components/sections/values-streams-app.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-consumer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/common/model.py
  tests/components/streams_bootstrap/test_consumer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed b393fbf6 to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-components/consumer-app.yaml
  main/resources/pipeline-components/pipeline.yaml
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-components/sections/values-consumer-app.yaml
  main/resources/pipeline-components/sections/values-streams-app.yaml
  main/resources/pipeline-components/streams-app.yaml
  main/resources/pipeline-defaults/defaults-consumer-app.yaml
  main/resources/pipeline-defaults/defaults-streams-app.yaml
  main/resources/pipeline-defaults/defaults.yaml
  main/resources/pipeline-defaults/defaults/index.html
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/user/core-concepts/components/consumer-app/index.html
  main/user/core-concepts/components/streams-app/index.html
  main/user/core-concepts/defaults/index.html
Due: none

ci: run against Python 3.13 & 3.14
  .github/workflows/ci.yaml
Due: none

test: prevent PytestCollectionWarning
  tests/manifests/test_kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: update dependencies
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  uv.lock
Due: none

chore: update dependencies to silence warnings
  uv.lock
Due: none

Deployed 8a2baf66 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: none

test: resolve pytest deprecation warning
  tests/pipeline/test_example.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: update deprecated Pydantic model_fields usage
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/manifests/kubernetes.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

test: silence streams-bootstrap v2 deprecation warning during collection
  pyproject.toml
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
  tests/pipeline/test_example.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(pyproject): use native TOML support in recent pytest
  pyproject.toml
  uv.lock
Due: none

test: fix incorrect usage of AsyncMock for Helm to resolve warnings
  tests/components/test_helm_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: rename param
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

build: add official support for Python 3.13 & 3.14 (#663)
  .github/workflows/ci.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/manifests/kubernetes.py
  kpops/utils/pydantic.py
  pyproject.toml
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
  tests/components/test_helm_app.py
  tests/manifests/test_kubernetes_model.py
  tests/pipeline/test_example.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 19c908fe to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

refactor(helm): rename client wrapper consistently
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/component_handlers/helm/__init__.py
  kpops/component_handlers/helm/dry_run_handler.py
  kpops/component_handlers/helm/exception.py
  kpops/component_handlers/helm/helm.py
  kpops/component_handlers/helm/helm_diff.py
  kpops/component_handlers/helm/model.py
  kpops/component_handlers/helm/utils.py
  kpops/components/base_components/cleaner.py
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/config/__init__.py
  kpops/utils/dict_differ.py
  tests/api/test_handlers.py
  tests/component_handlers/helm/__init__.py
  tests/component_handlers/helm/test_dry_run_handler.py
  tests/component_handlers/helm/test_helm.py
  tests/component_handlers/helm/test_helm_diff.py
  tests/component_handlers/helm/test_utils.py
  tests/components/streams_bootstrap/test_consumer_app.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
  tests/components/test_helm_app.py
  tests/components/test_kubernetes_app.py
  tests/pipeline/test_clean.py
  tests/pipeline/test_manifest.py
  tests/pipeline/test_reset.py
  tests/utils/test_diff.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

docs: mention support of Python 3.14
  docs/docs/user/migration-guide/v10-v11.md
Due: dprint

docs: create migration guide for v11
  docs/docs/user/migration-guide/v10-v11.md
  docs/mkdocs.yml
Due: dprint

docs: mention connector resetter removed fields
  docs/docs/user/migration-guide/v10-v11.md
Due: dprint
