Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff:
  name: ruff
  entry: ruff check .
  args:
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

fix: adapt to new AnyHttpUrl and pydantic v2 validation
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/config.py
  tests/cli/test_kpops_config.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

fix: update deprecated code
  kpops/components/base_components/helm_app.py
  tests/component_handlers/schema_handler/test_schema_handler.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: json schema KafkaConnectorConfig
  kpops/component_handlers/kafka_connect/model.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/pydantic.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: comment, update func name
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: update and configure ruff
  poetry.lock
  pyproject.toml
Due: none

ci(ruff): adjust
  pyproject.toml
Due: none

ci: rename ruff lint hook
  .pre-commit-config.yaml
Due: none

fix: ci
  .github/workflows/ci.yaml
Due: none

docs(dev): python code style
  docs/docs/developer/formatting.md
  docs/docs/developer/style.md
Due: dprint

style: mroe accurate order of ruff config
  pyproject.toml
Due: none

Fix early exit upon Helm exit code 1 (#376)
  examples/bakdata/atm-fraud-detection/config.yaml
  examples/bakdata/atm-fraud-detection/pipeline.yaml
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/kafka_connector.py
  kpops/config.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/test_example.py
  tests/pipeline/test_pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: docs
  docs/mkdocs.yml
Due: none

Migrate deprecated mkdocs-material-extensions (#378)
  docs/mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

Bump version 2.0.10 → 2.0.11
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Exclude resources from docs search (#371)
  docs/mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

Fix docs setup page list indentation (#377)
  docs/docs/user/examples/atm-fraud-pipeline.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/getting-started/setup.md
  docs/docs/user/getting-started/teardown.md
Due: dprint

docs: Add repository name
  docs/mkdocs.yml
Due: none

Deployed 37e52ed to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/style/index.html
  dev/index.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/migration-guide/v1-v2/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

Deployed f6ff99e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/style/index.html
  dev/index.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/migration-guide/v1-v2/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

Deployed f6ff99e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

docs: structure, add custom admonition
  docs/docs/developer/getting-started.md
  docs/docs/developer/style/markdown.md
  docs/docs/developer/style/python.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Due: dprint

docs: create CONTRIBUTING.md
  CONTRIBUTING.md
Due: dprint

Refactor template
  hooks/gen_docs/gen_docs_components.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kubernetes/__init__.py
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  kpops/config.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/yaml.py
  tests/compiler/test_yaml_loading.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/pipeline/test_template.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix test
  examples/bakdata/atm-fraud-detection/config.yaml
  tests/pipeline/snapshots/snap_test_example.py
Due: ruff

Refactor
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/utils/dict_differ.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kubernetes/__init__.py
  tests/component_handlers/kubernetes/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci: add script that copies contributing into docs
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  hooks/gen_docs/gen_docs_contributing.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci: copy file
  docs/docs/developer/contributing.md
  docs/mkdocs.yml
Due: dprint

ci(dprint): ignore admonition
  docs/docs/developer/getting-started.md
  docs/docs/developer/style/markdown.md
  docs/docs/developer/style/python.md
Due: dprint

ci: format
  hooks/gen_docs/gen_docs_contributing.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: generated doc formatting
  hooks/gen_docs/gen_docs_contributing.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: reword a sentence
  CONTRIBUTING.md
  docs/docs/developer/contributing.md
Due: dprint

docs: document autogeneration
  docs/docs/developer/auto-generation.md
  docs/docs/developer/getting-started.md
Due: dprint

fix: path in generated file header
  docs/docs/developer/contributing.md
  hooks/gen_docs/gen_docs_contributing.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

fix: EOF
  docs/docs/stylesheets/extra.css
Due: none

Refactor template return type to not mix up with Kubernetes specifity
  kpops/components/base_components/pipeline_component.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix types
  tests/component_handlers/helm_wrapper/test_dry_run_handler.py
  tests/component_handlers/helm_wrapper/test_helm_diff.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add type value type annotations for Kubernetes manifest
  kpops/component_handlers/kubernetes/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix casing of Json type
  kpops/component_handlers/kubernetes/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Path conditions:
  ruff: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
