Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

Delete more unused depencendies
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Delete matploit for testing
  poetry.lock
  pyproject.toml
Due: none

Allign docs colors
  docs/docs/overrides/home.html
  docs/docs/resources/setup/kafka.yaml
  docs/docs/stylesheets/extra.css
  docs/docs/user/getting-started/setup.md
  docs/docs/user/references/editor-integration.md
  docs/mkdocs.yml
Due: none

Update files
  docs/docs/overrides/home.html
Due: none

Deployed 1d9b1b6 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/formatting/index.html
  dev/index.html
  dev/overrides/home.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/setup/kafka.yaml
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/stylesheets/extra.css
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
Due: none

Update files
  docs/docs/stylesheets/extra.css
Due: none

Update files
  docs/docs/overrides/home.html
  docs/docs/stylesheets/extra.css
Due: none

Deployed 7ac9a26 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/index.html
  dev/overrides/home.html
  dev/sitemap.xml.gz
  dev/stylesheets/extra.css
Due: none

Deployed 912b9d8 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
  dev/stylesheets/extra.css
Due: none

Deployed 912b9d8 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

change fonts
  docs/docs/overrides/home.html
  docs/mkdocs.yml
Due: none

Deployed 0860006 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/formatting/index.html
  dev/index.html
  dev/overrides/home.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

Deployed b75f948 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/index.html
  dev/overrides/home.html
  dev/sitemap.xml.gz
  dev/stylesheets/extra.css
Due: none

refactor(components): migrate to pydantic v2
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/streams_bootstrap/streams/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Align docs colours (#345)
  docs/docs/overrides/home.html
  docs/docs/resources/setup/kafka.yaml
  docs/docs/stylesheets/extra.css
  docs/docs/user/getting-started/setup.md
  docs/docs/user/references/editor-integration.md
  docs/mkdocs.yml
Due: none

Bump version 2.0.3 → 2.0.4
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 3dcb752 to main with MkDocs 1.4.2 and mike 1.1.2
  main/404.html
  main/developer/auto-generation/index.html
  main/developer/formatting/index.html
  main/index.html
  main/overrides/home.html
  main/resources/architecture/components-hierarchy/index.html
  main/resources/examples/defaults/index.html
  main/resources/examples/pipeline/index.html
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-defaults/defaults/index.html
  main/resources/setup/kafka.yaml
  main/resources/variables/cli_env_vars/index.html
  main/resources/variables/config_env_vars/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/stylesheets/extra.css
  main/user/core-concepts/components/kafka-app/index.html
  main/user/core-concepts/components/kafka-connector/index.html
  main/user/core-concepts/components/kafka-sink-connector/index.html
  main/user/core-concepts/components/kafka-source-connector/index.html
  main/user/core-concepts/components/kubernetes-app/index.html
  main/user/core-concepts/components/overview/index.html
  main/user/core-concepts/components/producer-app/index.html
  main/user/core-concepts/components/streams-app/index.html
  main/user/core-concepts/config/index.html
  main/user/core-concepts/defaults/index.html
  main/user/core-concepts/variables/environment_variables/index.html
  main/user/core-concepts/variables/substitution/index.html
  main/user/examples/atm-fraud-pipeline/index.html
  main/user/getting-started/quick-start/index.html
  main/user/getting-started/setup/index.html
  main/user/getting-started/teardown/index.html
  main/user/references/ci-integration/github-actions/index.html
  main/user/references/cli-commands/index.html
  main/user/references/editor-integration/index.html
  main/user/what-is-kpops/index.html
Due: none

Deployed 3dcb752 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

refactor: config classes
  kpops/utils/pydantic.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: kafka connect models
  kpops/component_handlers/kafka_connect/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(base_defaults_component): config
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor(helm_handler): config
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(component_handlers): config
  kpops/component_handlers/topic/model.py
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix versioning of docs when releasing
  .github/actions/update-docs/action.yml
Due: none

Update files
  .github/actions/update-docs/action.yml
Due: none

refactor: migrate components to pydantic v2
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix versioning of docs when releasing (#346)
  .github/actions/update-docs/action.yml
Due: none

Deployed 6fa44cf to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Bump version 2.0.4 → 2.0.5
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update versions.json
  versions.json
Due: none

Deployed 7ac3c40 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
  versions.json
Due: none

Test and changes
  kpops/pipeline_generator/pipeline.py
  tests/components/test_streams_app.py
  tests/pipeline/resources/pipeline-with-loop/defaults.yaml
  tests/pipeline/resources/pipeline-with-loop/pipeline.yaml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: Add YAML settings source
  kpops/cli/settings_sources.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: use `model_config` instead of `Config`
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/utils/gen_schema.py
  kpops/utils/pydantic.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Revert code font to Roboto Mono
  docs/mkdocs.yml
Due: none
