Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

Deployed 3dae921 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/formatting/index.html
  dev/index.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

Simplify deployment with local Helm charts
  docs/docs/schema/pipeline.json
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Update files
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add test
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update files
  kpops/components/base_components/kubernetes_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 0cefc44 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/formatting/index.html
  dev/index.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

Deployed 0cefc44 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Simplify deployment with local Helm charts (#349)
  docs/docs/schema/pipeline.json
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 2.0.5 → 2.0.6
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed de523a4 to 2.0 with MkDocs 1.4.2 and mike 1.1.2
  2.0/schema/pipeline.json
  2.0/sitemap.xml.gz
Due: none

Deployed de523a4 to main with MkDocs 1.4.2 and mike 1.1.2
  main/schema/pipeline.json
  main/sitemap.xml.gz
Due: none

Deployed de523a4 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

fix: env vars
  kpops/cli/pipeline_config.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Print only rendered templates when --template flag is set
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Add test
  kpops/cli/main.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix test
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Print only rendered templates when `--template` flag is set (#350)
  kpops/cli/main.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed e3ddc07 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

WIP
  kpops/cli/main.py
  kpops/cli/settings_sources.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/topic/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/gen_schema.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Add migration guide to the docs
  docs/mkdocs.yml
Due: none

Add migration guide to the docs
  docs/docs/user/migration-guide/v1-v2.md
Due: none

Deployed 4a11115 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/formatting/index.html
  dev/index.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/migration-guide/v1-v2/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

Add reviews
  docs/docs/user/migration-guide/v1-v2.md
Due: none

Update files
  docs/docs/user/migration-guide/v1-v2.md
Due: none

Deployed b8faab1 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v1-v2/index.html
Due: none

Deployed b8faab1 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Deployed 8ccdf90 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v1-v2/index.html
Due: none

Add migration guide (#352)
  docs/docs/user/migration-guide/v1-v2.md
  docs/mkdocs.yml
Due: none

Bump version 2.0.6 → 2.0.7
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 31ea015 to 2.0 with MkDocs 1.4.2 and mike 1.1.2
  2.0/404.html
  2.0/developer/auto-generation/index.html
  2.0/developer/formatting/index.html
  2.0/index.html
  2.0/resources/architecture/components-hierarchy/index.html
  2.0/resources/examples/defaults/index.html
  2.0/resources/examples/pipeline/index.html
  2.0/resources/pipeline-components/pipeline/index.html
  2.0/resources/pipeline-defaults/defaults/index.html
  2.0/resources/variables/cli_env_vars/index.html
  2.0/resources/variables/config_env_vars/index.html
  2.0/search/search_index.json
  2.0/sitemap.xml
  2.0/sitemap.xml.gz
  2.0/user/core-concepts/components/kafka-app/index.html
  2.0/user/core-concepts/components/kafka-connector/index.html
  2.0/user/core-concepts/components/kafka-sink-connector/index.html
  2.0/user/core-concepts/components/kafka-source-connector/index.html
  2.0/user/core-concepts/components/kubernetes-app/index.html
  2.0/user/core-concepts/components/overview/index.html
  2.0/user/core-concepts/components/producer-app/index.html
  2.0/user/core-concepts/components/streams-app/index.html
  2.0/user/core-concepts/config/index.html
  2.0/user/core-concepts/defaults/index.html
  2.0/user/core-concepts/variables/environment_variables/index.html
  2.0/user/core-concepts/variables/substitution/index.html
  2.0/user/examples/atm-fraud-pipeline/index.html
  2.0/user/getting-started/quick-start/index.html
  2.0/user/getting-started/setup/index.html
  2.0/user/getting-started/teardown/index.html
  2.0/user/migration-guide/v1-v2/index.html
  2.0/user/references/ci-integration/github-actions/index.html
  2.0/user/references/cli-commands/index.html
  2.0/user/references/editor-integration/index.html
  2.0/user/what-is-kpops/index.html
  latest/user/migration-guide/v1-v2/index.html
Due: none

Deployed 31ea015 to main with MkDocs 1.4.2 and mike 1.1.2
  main/404.html
  main/developer/auto-generation/index.html
  main/developer/formatting/index.html
  main/index.html
  main/resources/architecture/components-hierarchy/index.html
  main/resources/examples/defaults/index.html
  main/resources/examples/pipeline/index.html
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-defaults/defaults/index.html
  main/resources/variables/cli_env_vars/index.html
  main/resources/variables/config_env_vars/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/core-concepts/components/kafka-app/index.html
  main/user/core-concepts/components/kafka-connector/index.html
  main/user/core-concepts/components/kafka-sink-connector/index.html
  main/user/core-concepts/components/kafka-source-connector/index.html
  main/user/core-concepts/components/kubernetes-app/index.html
  main/user/core-concepts/components/overview/index.html
  main/user/core-concepts/components/producer-app/index.html
  main/user/core-concepts/components/streams-app/index.html
  main/user/core-concepts/config/index.html
  main/user/core-concepts/defaults/index.html
  main/user/core-concepts/variables/environment_variables/index.html
  main/user/core-concepts/variables/substitution/index.html
  main/user/examples/atm-fraud-pipeline/index.html
  main/user/getting-started/quick-start/index.html
  main/user/getting-started/setup/index.html
  main/user/getting-started/teardown/index.html
  main/user/migration-guide/v1-v2/index.html
  main/user/references/ci-integration/github-actions/index.html
  main/user/references/cli-commands/index.html
  main/user/references/editor-integration/index.html
  main/user/what-is-kpops/index.html
Due: none

Deployed 31ea015 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

fix: WIP model serialization
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Implement comments
  kpops/pipeline_generator/pipeline.py
  tests/components/test_producer_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Linting
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Format
  tests/components/test_producer_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor component prefix & name (#326)
  kpops/cli/main.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
  tests/cli/test_pipeline_steps.py
  tests/components/test_kafka_app.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 8106788 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Remove unnecessary condition during inflate (#328)
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Path conditions:
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

