Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Deployed fd1acf5e to main with MkDocs 1.5.3 and mike 1.1.2
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 337b231c to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

revert poetry lock
  poetry.lock
Due: none

Hide operation mode from config.yaml
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/operation-mode.md
  kpops/config/__init__.py
  tests/cli/snapshots/test_init/test_init_project_include_optional/config.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Update files
  kpops/utils/gen_schema.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed c1c6e827 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/operation-mode/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

update docs
  docs/docs/user/migration-guide/v8-v9.md
Due: dprint

Update files
  poetry.lock
Due: none

Update files
  docs/docs/schema/config.json
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/utils/gen_schema.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Set Python target version to 3.11
  pyproject.toml
Due: none

Update files
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/components/common/kubernetes_model.py
  kpops/utils/gen_schema.py
  pyproject.toml
  tests/manifests/test_kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed ab103b72 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Hide `operation_mode` from KPOps config (#571)
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/operation-mode.md
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/components/common/kubernetes_model.py
  kpops/config/__init__.py
  kpops/utils/gen_schema.py
  poetry.lock
  tests/cli/snapshots/test_init/test_init_project_include_optional/config.yaml
  tests/manifests/test_kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed ecc8f62a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

merge
  docs/docs/schema/config.json
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
Due: none

Add migration guide v8-v9 (#562)
  docs/docs/user/migration-guide/v8-v9.md
  docs/mkdocs.yml
Due: dprint

Deployed 21ce1173 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Bump version 8.4.0 → 9.0.0
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 5f354ef7 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Update codeownders
  CODEOWNERS
Due: none

Add operation-mode documentation to mkdocs index
  docs/mkdocs.yml
Due: none

Add operation-mode documentation to mkdocs index (#573)
  docs/mkdocs.yml
Due: none

Bump version 9.0.0 → 9.0.1
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 2ad2e3d3 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Update CODEOWNERS (#572)
  CODEOWNERS
Due: none

Deployed e0f3403e to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Create test for print_yaml
  tests/utils/test_yaml.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Represent multiline strings using block style
  kpops/utils/yaml.py
  tests/utils/test_yaml.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Expand test
  tests/utils/test_yaml.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update snapshots
  tests/pipeline/snapshots/test_manifest/test_manifest_command/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: none

Replace unsafe yaml.load calls
  kpops/manifests/kubernetes.py
  kpops/utils/yaml.py
  tests/compiler/test_yaml_loading.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
