Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Add topic id property
  kpops/components/base_components/models/to_section.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Exclude defaults for both streams & producer config
  kpops/components/base_components/kafka_app.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update connector config
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/models/to_section.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update Connector tests
  kpops/component_handlers/kafka_connect/model.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add unit test for `to_dot` converter
  tests/utils/test_pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Use topic ids in graph
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Add pipeline base path
  defaults.yaml
  kpops/components/base_components/base_defaults_component.py
  tests/components/test_base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed fc17257 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

fix tests
  tests/components/test_base_defaults_component.py
  tests/pipeline/defaults.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 62a8e90 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Improve tests
  tests/components/__init__.py
  tests/components/resources/pipeline.yaml
  tests/components/resources/pipeline_development.yaml
  tests/components/resources/pipelines/pipeline-2/defaults.yaml
  tests/components/resources/pipelines/pipeline-2/defaults_development.yaml
  tests/components/resources/pipelines/pipeline-2/defaults_production.yaml
  tests/components/resources/pipelines/pipeline-2/pipeline-deep/defaults.yaml
  tests/components/resources/pipelines/pipeline-2/pipeline-deep/defaults_production.yaml
  tests/components/resources/pipelines/pipeline-2/pipeline-deep/pipeline.yaml
  tests/components/resources/pipelines/pipeline-2/pipeline-deep/pipeline_development.yaml
  tests/components/resources/pipelines/pipeline-3/defaults_development.yaml
  tests/components/resources/pipelines/pipeline-3/pipeline-deep/defaults_production.yaml
  tests/components/test_base_defaults_component.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/components/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Remove files
  tests/components/resources/pipeline_development.yaml
  tests/components/resources/pipelines/pipeline-1/pipeline_development.yaml
Due: none

Remove files
  tests/components/resources/pipelines/pipeline-1/defaults.yaml
  tests/components/resources/pipelines/pipeline-1/pipeline.yaml
  tests/components/test_base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed e6679ac to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Update files
  tests/components/resources/pipelines/test-distributed-defaults/defaults.yaml
  tests/components/resources/pipelines/test-distributed-defaults/defaults_development.yaml
  tests/components/resources/pipelines/test-distributed-defaults/defaults_production.yaml
  tests/components/resources/pipelines/test-distributed-defaults/pipeline-deep/defaults.yaml
  tests/components/resources/pipelines/test-distributed-defaults/pipeline-deep/defaults_production.yaml
  tests/components/resources/pipelines/test-distributed-defaults/pipeline-deep/pipeline.yaml
  tests/components/resources/pipelines/test-distributed-defaults/pipeline-deep/pipeline_development.yaml
  tests/components/test_base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 18258c4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Improve Sphinx docs highlighting using RST markup (#443)
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/cli/exception.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/utils.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline.py
  kpops/utils/pydantic.py
  kpops/utils/yaml.py
  tests/cli/snapshots/snap_test_schema_generation.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Refactor enrichment using Pydantic model validator (#444)
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kubernetes_app.py
  kpops/utils/gen_schema.py
  poetry.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed ca0f278 to main with MkDocs 1.5.3 and mike 1.1.2
  main/resources/variables/config_env_vars.env
  main/resources/variables/config_env_vars/index.html
  main/schema/config.json
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/core-concepts/variables/environment_variables/index.html
Due: none

Deployed 0e69389 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

First draft of migration guide
  docs/docs/user/migration-guide/v3-v4.md
Due: dprint

Update files
  docs/docs/user/migration-guide/v3-v4.md
Due: dprint

First draft of migration guide
  docs/docs/resources/variables/config_env_vars.md
Due: dprint

Deployed d4a3702 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/migration-guide/v3-v4/index.html
Due: none

Change default path to resource path
  kpops/pipeline.py
  tests/compiler/test_pipeline_name.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kafka_connect/__init__.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/__init__.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 994db1c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Refactor pipeline filter and add to public API (#405)
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/cli/options.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline.py
  tests/cli/test_pipeline_steps.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 42c4889 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/references/cli-commands/index.html
Due: none

Use short form
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add field validator for output topic
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Extract shared code between StreamsAppConfig/ProducerAppConfig to KafkaAppConfig
  kpops/components/base_components/kafka_app.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Refactor
  docs/docs/schema/defaults.json
  kpops/components/base_components/kafka_app.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update Pyright
  poetry.lock
Due: none

Validate Kafka Connect topics
  kpops/component_handlers/kafka_connect/model.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add validators
  kpops/components/base_components/kafka_app.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update test
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update snapshots
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_generate.py
Due: ruff-lint, ruff-format, gen-docs-contributing, gen-docs-changelog

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
