Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Document precedence between env vars and CLI flags
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  hooks/gen_docs/gen_docs_env_vars.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed de6efd4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/editor_integration/settings.json
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
Due: none

Validate autoscaling mandatory fields when enabled
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
  tests/components/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

improve tests
  kpops/components/streams_bootstrap/streams/model.py
  tests/components/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

add reviews
  kpops/components/streams_bootstrap/streams/model.py
  tests/components/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

add reviews
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

check validation with None
  kpops/components/streams_bootstrap/streams/model.py
  tests/components/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed b5e1dce to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/editor_integration/settings.json
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/editor-integration/index.html
Due: none

Deployed b5e1dce to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Validate autoscaling mandatory fields when enabled (#470)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
  tests/components/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Bump version 4.0.1 → 4.0.2
  docs/docs/user/changelog.md
  kpops/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 4916257f to 4.0 with MkDocs 1.5.3 and mike 1.1.2
  4.0/resources/editor_integration/settings.json
  4.0/resources/examples/defaults/index.html
  4.0/resources/examples/pipeline/index.html
  4.0/schema/defaults.json
  4.0/schema/pipeline.json
  4.0/search/search_index.json
  4.0/sitemap.xml
  4.0/sitemap.xml.gz
  4.0/user/changelog/index.html
  4.0/user/references/editor-integration/index.html
Due: none

Deployed 9274f64 to main with MkDocs 1.5.3 and mike 1.1.2
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 4916257 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Document precedence of settings sources in code
  kpops/config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 41bb1f4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/editor_integration/settings.json
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/editor-integration/index.html
Due: none

Deployed f38509d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/editor_integration/settings.json
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
Due: none

Remove parentheses
  kpops/utils/cli_commands.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 5d1f830 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Move kpops init tests
  tests/cli/test_init.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 6cd9731 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Deployed 8545b75 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Document precedence between env vars and config.yaml (#465)
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 39b4fcb to main with MkDocs 1.5.3 and mike 1.1.2
  main/resources/variables/cli_env_vars.env
  main/resources/variables/cli_env_vars/index.html
  main/resources/variables/config_env_vars.env
  main/resources/variables/config_env_vars/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/core-concepts/variables/environment_variables/index.html
Due: none

Test `kpops-init` using snapshots
  kpops/utils/cli_commands.py
  tests/cli/snapshots/test_init/test_init_project/config_exclude_opt.yaml
  tests/cli/snapshots/test_init/test_init_project/config_include_opt.yaml
  tests/cli/snapshots/test_init/test_init_project/defaults.yaml
  tests/cli/snapshots/test_init/test_init_project/pipeline.yaml
  tests/cli/test_init.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 3412821 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/references/cli-commands/index.html
Due: none

Create init command (#394)
  docs/docs/user/references/cli-commands.md
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/__init__.py
  kpops/cli/main.py
  kpops/utils/cli_commands.py
  kpops/utils/docstring.py
  kpops/utils/json.py
  kpops/utils/pydantic.py
  poetry.lock
  tests/cli/snapshots/test_init/test_init_project/config_exclude_opt.yaml
  tests/cli/snapshots/test_init/test_init_project/config_include_opt.yaml
  tests/cli/snapshots/test_init/test_init_project/defaults.yaml
  tests/cli/snapshots/test_init/test_init_project/pipeline.yaml
  tests/cli/test_init.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Bump version 4.0.2 → 4.1.0
  docs/docs/user/changelog.md
  kpops/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 2624aec to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/references/cli-commands/index.html
Due: none

Deployed 3c4f461 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Update httpx
  poetry.lock
  pyproject.toml
Due: none

Set more permissive version constraint for httpx
  poetry.lock
  pyproject.toml
Due: none

Move collect_fields function
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/utils/cli_commands.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update httpx (#471)
  poetry.lock
  pyproject.toml
Due: none

Deployed 760d755 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix import errors (#472)
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/utils/cli_commands.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed c2ca0c6 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Bump version 4.1.0 → 4.1.1
  docs/docs/user/changelog.md
  kpops/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed ceb102bb to 4.1 with MkDocs 1.5.3 and mike 1.1.2
  4.1/search/search_index.json
  4.1/sitemap.xml
  4.1/sitemap.xml.gz
  4.1/user/changelog/index.html
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
