Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python -m hooks.gen_schema
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python -m hooks.gen_docs.gen_docs_cli_usage
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python -m hooks.gen_docs.gen_docs_env_vars
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python -m hooks.gen_docs.gen_docs_components
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

chore(dev): update ty
  pyproject.toml
  uv.lock
Due: none

Deployed 9474aa07 to main with MkDocs 1.6.1 and mike 2.1.3
  main/developer/api/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

test: remove timeout
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(dev): drop pytest-timeout dependency
  pyproject.toml
  uv.lock
Due: none

test(cli): test CLI command dispatch to API
  tests/cli/test_main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: recommend installation with uv
  README.md
  docs/docs/user/examples/atm-fraud-pipeline.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/getting-started/setup.md
Due: dprint

Deployed 93cbd0f3 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
Due: none

test: update snapshots
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/test_example.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(streams-bootstrap)!: remove deprecated v2 components
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/migration-guide/v11-v12.md
  docs/mkdocs.yml
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/__init__.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/producer/__init__.py
  kpops/components/streams_bootstrap_v2/producer/model.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/__init__.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  pyproject.toml
  tests/api/test_registry.py
  tests/components/resources/pipelines/test-distributed-defaults/pipeline-deep/defaults.yaml
  tests/components/streams_bootstrap_v2/__init__.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

feat: add log columns for pipeline and component name
  kpops/pipeline.py
  kpops/utils/logging.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_run_component.py
  tests/utils/test_logging.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: update migration guide
  docs/docs/user/migration-guide/v11-v12.md
Due: dprint

feat: log new pipeline name
  kpops/api/operations.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed f103a1cb to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/migration-guide/v11-v12/index.html
Due: none

refactor: make Pipeline.name required
  kpops/pipeline.py
  tests/pipeline/conftest.py
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 1128491a to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/search/search_index.json
Due: none

Deployed daa2ca73 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/search/search_index.json
  dev/user/migration-guide/v11-v12/index.html
Due: none

test: remove timeout (#672)
  pyproject.toml
  tests/pipeline/test_generate.py
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test(cli): test CLI command dispatch to API (#673)
  tests/cli/test_main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed afa61abe to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/examples/defaults/index.html
  main/resources/examples/pipeline/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/what-is-kpops/index.html
Due: none

refactor: move diff rendering into structured log call
  kpops/component_handlers/helm/helm_diff.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/topic/handler.py
  kpops/utils/logging.py
  tests/component_handlers/helm/test_helm_diff.py
  tests/component_handlers/kafka_connect/test_kafka_connect_handler.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/utils/test_logging.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: update example pipelines to streams-bootstrap 7.5
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
Due: none

docs: expand example
  docs/docs/user/migration-guide/v11-v12.md
Due: dprint

Deployed 434f2dfc to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/examples/defaults/index.html
  dev/search/search_index.json
  dev/user/migration-guide/v11-v12/index.html
Due: none

refactor(pipeline): make methods private
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

feat: add bound context to generate and manifest operations
  kpops/api/operations.py
  kpops/pipeline.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_run_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

feat(streams-bootstrap): add consumer-producer-app
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/resources/pipeline-components/consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/headers/consumer-producer-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/values-consumer-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-consumer-producer-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-consumer-producer-app.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/components/consumer-producer-app.md
  docs/mkdocs.yml
  kpops/components/common/app_type.py
  kpops/components/streams_bootstrap/__init__.py
  kpops/components/streams_bootstrap/consumer_producer/__init__.py
  kpops/components/streams_bootstrap/consumer_producer/consumer_producer_app.py
  kpops/components/streams_bootstrap/consumer_producer/model.py
  tests/api/test_registry.py
  tests/components/streams_bootstrap/test_consumer_producer_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

feat(streams-bootstrap): add consumer-producer-app
  kpops/components/streams_bootstrap/consumer_producer/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix typo in YAML comment for maxReplicas
  docs/docs/resources/pipeline-defaults/defaults-consumer-producer-app.yaml
Due: none

Deployed da16a42c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-defaults/defaults-consumer-producer-app.yaml
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

docs: recommend installation with uv (#674)
  README.md
  docs/docs/user/examples/atm-fraud-pipeline.md
  docs/docs/user/getting-started/quick-start.md
  docs/docs/user/getting-started/setup.md
Due: dprint

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
