Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Fix type of weight
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Bump streams-bootstrap to 3.1.0
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/base.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Revert 1 commits
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/base.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 40ef6cd to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Deployed f95c0af to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Bump streams-bootstrap to 3.1.0 (#557)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/base.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 75df273 to main with MkDocs 1.5.3 and mike 1.1.2
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Manifest Kubernetes resources for `destroy` command (#552)
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/components/streams_bootstrap/base.py
  tests/pipeline/snapshots/test_manifest/test_manifest_deploy_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_destroy_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_destroy_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_destroy_python_api/manifest.yaml
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Manifest Kubernetes resources for clean command
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Manifest Kubernetes resources for clean command
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_python_api/manifest.yaml
Due: none

Remove not-existing weight attribute
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Add descriptions
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  docs/docs/resources/examples/defaults.md
Due: dprint

Update files
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
Due: none

Deployed bb7965c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
  dev/user/what-is-kpops/index.html
Due: none

Update KPOps example snapshots and fix broken link to defaults.yaml
  docs/docs/resources/examples/defaults.md
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
Due: dprint

Deployed d428f2d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Update KPOps example snapshots and fix broken link to defaults.yaml (#560)
  docs/docs/resources/examples/defaults.md
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
Due: dprint

Deployed 4b43a6d to main with MkDocs 1.5.3 and mike 1.1.2
  main/resources/examples/defaults/index.html
  main/resources/examples/pipeline/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/what-is-kpops/index.html
Due: none

Deployed ee25460 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Manifest Kubernetes resources for `clean` command (#559)
  docs/docs/resources/examples/defaults.md
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_clean_python_api/manifest.yaml
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 6f97c80 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed 6f97c80 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Refactor StrEnum
  hooks/gen_docs/__init__.py
  kpops/api/options.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/topic/model.py
  kpops/components/base_components/models/from_section.py
  kpops/components/common/topic.py
  kpops/const/file_type.py
  kpops/utils/dict_differ.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update CI
  .github/actions/update-docs/action.yml
  .github/workflows/ci.yaml
Due: none

Drop Python 3.10
  poetry.lock
  pyproject.toml
Due: none

Use `typing.Self`
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/manifests/kubernetes.py
  kpops/manifests/strimzi/kafka_topic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Use Generic NamedTuple for Change
  kpops/utils/dict_differ.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Use Python 3.12 by default in CI
  .github/actions/update-docs/action.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

Produce Pyright warning for incompatible overrides
  pyproject.toml
Due: none

Add Pydantic models for Kubernetes Affinity (#555)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Bump version 8.1.4 → 8.2.0
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed bf29c88 to main with MkDocs 1.5.3 and mike 1.1.2
  main/schema/defaults.json
  main/schema/pipeline.json
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Deployed ba1449f to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Deployed 20e968f to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
