Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

Deployed b20a6b3 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add more graph tests
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/config.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/pipeline.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/config.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/pipeline.yaml
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Remove unused
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Implement comments
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/config.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/pipeline.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/defaults.yaml
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Reformat
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: env vars take precedence over config.yaml
  kpops/cli/pipeline_config.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: Config inheritance
  kpops/cli/pipeline_config.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: pass linter
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

misc: feedback
  kpops/cli/pipeline_config.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Implement changes
  kpops/pipeline_generator/pipeline.py
  tests/components/test_producer_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: type annotation
  kpops/cli/pipeline_config.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update kpops/cli/pipeline_config.py
  kpops/cli/pipeline_config.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: formatting
  kpops/cli/pipeline_config.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Make Kafka rest proxy & connect hosts default and improve schema registry config
  config.yaml
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  examples/bakdata/atm-fraud-detection/config.yaml
  kpops/cli/pipeline_config.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  tests/cli/test_handlers.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/pipeline/resources/custom-config/config.yaml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

add tests
  tests/cli/test_pipeline_config.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 182d981 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
Due: none

add migration guide
  docs/docs/user/migration-guide/v1-v2.md
Due: none

Deployed 38b1139 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v1-v2/index.html
Due: none

add url validation
  docs/docs/schema/config.json
  kpops/cli/pipeline_config.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  tests/cli/test_pipeline_config.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update files
  docs/docs/user/migration-guide/v1-v2.md
Due: none

Deployed fbf11b2 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v1-v2/index.html
Due: none

Deployed fbf11b2 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

add reviews
  docs/docs/schema/config.json
  kpops/cli/pipeline_config.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/schema_handler/schema_handler.py
  tests/component_handlers/schema_handler/test_schema_handler.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed eaef84b to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/schema/config.json
  dev/sitemap.xml.gz
Due: none

update docs
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/migration-guide/v1-v2.md
  examples/bakdata/atm-fraud-detection/config.yaml
  kpops/cli/pipeline_config.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  tests/cli/test_pipeline_config.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 281e9da to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/migration-guide/v1-v2/index.html
Due: none

Fix config.yaml overriding environment variables (#353)
  kpops/cli/pipeline_config.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 73a3ee9 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 6150aed to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Bump version 2.0.7 → 2.0.8
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed fac6506 to 2.0 with MkDocs 1.4.2 and mike 1.1.2
  2.0/sitemap.xml
  2.0/sitemap.xml.gz
Due: none

Deployed fac6506 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

add prefix
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/migration-guide/v1-v2.md
  docs/docs/user/migration-guide/v2-v3.md
  kpops/cli/pipeline_config.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 9f6fdfa to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/migration-guide/v1-v2/index.html
  dev/user/migration-guide/v2-v3/index.html
Due: none

Deployed db1f3fc to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add kafka rest and connect changes
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/migration-guide/v2-v3.md
  examples/bakdata/atm-fraud-detection/config.yaml
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/config.py
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/base_defaults_component.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/gen_schema.py
  tests/cli/test_handlers.py
  tests/cli/test_kpops_config.py
  tests/compiler/test_pipeline_name.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/test_base_defaults_component.py
  tests/components/test_kafka_app.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 2e329ea to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/migration-guide/v2-v3/index.html
Due: none

Move action to repository root
  README.md
  action.yaml
  actions/kpops-runner/README.md
Due: none

Update docs
  docs/docs/user/references/ci-integration/github-actions.md
Due: none
