Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff:
  name: ruff
  entry: ruff check .
  args:
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Fix
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add type annotation for kwargs
  kpops/utils/environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

misc fixes
  kpops/cli/pipeline_config.py
  kpops/cli/settings_sources.py
  kpops/components/streams_bootstrap/streams/model.py
  tests/components/test_kafka_connector.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/test_pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

test: remove leftover from playground
  tests/test_model_serialization.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: found bug
  tests/pipeline/test_pipeline.py
  tests/utils/test_doc_gen.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Create `HelmApp`
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  tests/components/test_helm_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: pydantic deprecation warnings
  kpops/components/base_components/kubernetes_app.py
  tests/cli/test_schema_generation.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/pipeline/test_components/components.py
  tests/utils/test_dict_ops.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: lint and format
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/pipeline.json
  kpops/cli/pipeline_config.py
  kpops/cli/settings_sources.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/utils/gen_schema.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_kafka_connector.py
  tests/pipeline/test_pipeline.py
  tests/utils/test_doc_gen.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Enable transparent OS environment lookups from internal environment (#368)
  kpops/utils/environment.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Bump version 2.0.9 → 2.0.10
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 6ca0081 to 2.0 with MkDocs 1.4.2 and mike 1.1.2
  2.0/schema/config.json
  2.0/schema/pipeline.json
  2.0/sitemap.xml
  2.0/sitemap.xml.gz
Due: none

Deployed 6ca0081 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 6ca0081 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update docstrings
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kubernetes_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Cleanup
  kpops/components/base_components/helm_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Separate tests
  tests/components/test_helm_app.py
  tests/components/test_kubernetes_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Add HelmApp to kpops.components
  kpops/components/__init__.py
  kpops/components/base_components/__init__.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Update pipeline schema
  docs/docs/schema/pipeline.json
Due: none

Fix typo
  docs/docs/schema/pipeline.json
  kpops/components/base_components/helm_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Generate docs for HelmApp
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/headers/helm-app.yaml
  docs/docs/resources/pipeline-components/helm-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/app-helm-app.yaml
  docs/docs/resources/pipeline-components/sections/repo_config-helm-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-helm-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-helm-app.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-kubernetes-app.yaml
Due: gen-docs-components

Update Registry test
  tests/cli/test_registry.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix name of test Helm app
  tests/components/test_helm_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Improve HelmApp docs
  docs/docs/resources/pipeline-components/headers/helm-app.yaml
  docs/docs/resources/pipeline-components/helm-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-defaults/defaults-helm-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/resources/pipeline-defaults/headers/defaults-helm-app.yaml
  docs/docs/schema/pipeline.json
  kpops/components/base_components/helm_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 579edcd to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/resources/pipeline-components/headers/helm-app.yaml
  dev/resources/pipeline-components/helm-app.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults-helm-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/pipeline-defaults/headers/defaults-helm-app.yaml
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Deployed 579edcd to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Update test
  tests/components/test_helm_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed e0000cf to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Create docs for HelmApp & update hierarchy diagram
  docs/docs/resources/architecture/components-hierarchy.md
  docs/docs/user/core-concepts/components/kafka-app.md
  docs/docs/user/core-concepts/components/kubernetes-app.md
Due: dprint

Fix links
  docs/docs/resources/architecture/components-hierarchy.md
Due: dprint

Add HelmApp to navigation
  docs/mkdocs.yml
Due: none

Fix links in component hierarchy diagram
  docs/docs/resources/architecture/components-hierarchy.md
Due: dprint

Deployed 3da7e94 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/formatting/index.html
  dev/index.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/migration-guide/v1-v2/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

Fix poetry lock
  poetry.lock
Due: none

Save progress
  kpops/cli/main.py
  kpops/pipeline_generator/pipeline.py
  test.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix ruff
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/components/test_kafka_app.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix black
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/components/base_components/pipeline_component.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Path conditions:
  ruff: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
