Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs
        name: gen-docs
        entry: python hooks/gen_docs.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

style: lint, format
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

style: misc minor changes
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

style: comment to aid style: comment to aid maintenance
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

feat: write to csv WIP
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/temp_cli_env_vars.csv
  docs/docs/resources/variables/temp_config_env_vars.csv
  docs/docs/user/references/variables/environment_variables.md
  hooks/gen_docs.py
  poetry.lock
  pyproject.toml
Due: pyright, gen-schema, gen-docs

chore: satisfy pyright
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

feat: write csv file to md table WIP
  docs/docs/resources/variables/config_env_vars.md
  hooks/gen_docs.py
  poetry.lock
  pyproject.toml
Due: pyright, gen-schema, gen-docs

feat: write tables, delete temp csv files
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/resources/variables/temp_cli_env_vars.csv
  docs/docs/resources/variables/temp_config_env_vars.csv
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

chore: lint, format
  hooks/gen_docs.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

style: compact string concat
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

Add flag to exclude pipeline steps
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

Save progress
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/utils/async_utils.py
  poetry.lock
  pyproject.toml
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/test_kafka_app.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Due: pyright, gen-schema, gen-docs

Migrate test for proxy wrapper
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: pyright, gen-schema

Replace response type
  kpops/component_handlers/utils/exception.py
Due: pyright, gen-schema

Migrate topic handler to asyncio
  kpops/component_handlers/topic/handler.py
  tests/component_handlers/topic/test_topic_handler.py
Due: pyright, gen-schema

Save progress
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/component_handlers/topic/handler.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
Due: pyright, gen-schema, gen-docs

Migrate to httpx
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/component_handlers/utils/exception.py
  poetry.lock
  pyproject.toml
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: pyright, gen-schema

Fix tests
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

Update files
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

Update files
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Update files
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Add command to action
  actions/kpops-runner/README.md
  actions/kpops-runner/action.yaml
Due: none

update doc
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Fix dependency group
  pyproject.toml
Due: none

Update files
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

fix tests
  kpops/cli/main.py
  tests/cli/test_pipeline_steps.py
Due: pyright, gen-schema, gen-docs

Change debug level for httpx
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Rename exception
  kpops/component_handlers/kafka_connect/exception.py
  kpops/component_handlers/topic/exception.py
  kpops/component_handlers/utils/exception.py
Due: pyright, gen-schema

Implement comments
  kpops/component_handlers/utils/exception.py
  pyproject.toml
Due: pyright, gen-schema

Order PipelineComponent fields (#290)
  docs/docs/schema/pipeline.json
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
  tests/cli/snapshots/snap_test_schema_generation.py
Due: pyright, gen-schema, gen-docs

Add test
  tests/pipeline/resources/pipeline-duplicate-step-names/pipeline.yaml
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema

Regenerate lock file
  poetry.lock
Due: none

Migrate requests to httpx (#302)
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/exception.py
  kpops/component_handlers/topic/exception.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/component_handlers/utils/exception.py
  poetry.lock
  pyproject.toml
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: pyright, gen-schema, gen-docs

Functional tests with partial async
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Due: pyright, gen-schema

Add command
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Add reset reprocess
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Multi pipeline support in KPOps commands
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  tests/pipeline/resources/infinite-component-type-substitution/infinite_pipeline.yaml
  tests/pipeline/resources/multiple-pipelines/pipeline-1/pipeline.yaml
  tests/pipeline/resources/multiple-pipelines/pipeline-2/pipeline.yaml
  tests/pipeline/resources/multiple-pipelines/pipeline-3/prefix-pipeline.yaml
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_example.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_template.py
Due: pyright, gen-schema, gen-docs
