Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Deployed be30a0f to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

style: fix todo messages
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed c3cf11b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

chore: comment
  hooks/gen_docs/gen_docs_cli_usage.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 242986c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

feat: Add dotenv support
  kpops/config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

feat: Allow custom paths to multiple dotenv files, test
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  tests/pipeline/resources/dotenv/.env
  tests/pipeline/resources/dotenv/config.yaml
  tests/pipeline/resources/dotenv/custom.env
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

docs: update dotenv information
  docs/docs/user/core-concepts/variables/environment_variables.md
Due: dprint

tests: pass
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/config.py
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Add missing HelmApp docs
  docs/docs/user/core-concepts/components/helm-app.md
Due: dprint

Deployed b57ed0e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/formatting/index.html
  dev/index.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/helm-app/index.html
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/migration-guide/v1-v2/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

Deployed b57ed0e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

fix: changelog file path
  .github/workflows/release.yaml
Due: none

docs: remove leftover text, improve title
  docs/docs/developer/auto-generation.md
  docs/docs/developer/contributing.md
Due: dprint

Deployed bc96e7d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

refactor: remove hardcoded substitution variables
  examples/bakdata/atm-fraud-detection/defaults.yaml
  kpops/config.py
  kpops/pipeline_generator/pipeline.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink-config/pipeline.yaml
  tests/pipeline/resources/no-topics-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/read-from-component/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

docs: remove hardcoded substitution variables
  docs/docs/schema/config.json
  docs/docs/user/core-concepts/variables/substitution.md
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

refactor: add a separator param to `generate_substitution`
  kpops/utils/dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed b57ed0e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/404.html
  dev/developer/auto-generation/index.html
  dev/developer/formatting/index.html
  dev/index.html
  dev/resources/architecture/components-hierarchy/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/examples/pipeline/index.html
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/helm-app/index.html
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-connector/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/overview/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/examples/atm-fraud-pipeline/index.html
  dev/user/getting-started/quick-start/index.html
  dev/user/getting-started/setup/index.html
  dev/user/getting-started/teardown/index.html
  dev/user/migration-guide/v1-v2/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/ci-integration/github-actions/index.html
  dev/user/references/cli-commands/index.html
  dev/user/references/editor-integration/index.html
  dev/user/what-is-kpops/index.html
Due: none

fix: env var doc generation
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/utils/dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

tests: remove useless and annoying test
  tests/utils/test_doc_gen.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 39f90d4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
Due: none

fix: docstr
  hooks/gen_docs/gen_docs_env_vars.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed d1f68a3 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci: add malva to dprint
  dprint.json
Due: none

ci: add toml formatter
  dprint.json
Due: none

Replace black with ruff (#365)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/docs/developer/contributing.md
  docs/docs/developer/formatting.md
  docs/docs/developer/getting-started.md
  docs/docs/stylesheets/extra.css
  docs/docs/user/changelog.md
  docs/mkdocs.yml
  hooks/__init__.py
  hooks/gen_docs/gen_docs_cli_usage.py
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  hooks/gen_schema.py
  kpops/cli/main.py
  poetry.lock
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 306e810 to main with MkDocs 1.5.3 and mike 1.1.2
  main/404.html
  main/developer/auto-generation/index.html
  main/developer/contributing/index.html
  main/developer/getting-started/index.html
  main/index.html
  main/resources/architecture/components-hierarchy/index.html
  main/resources/examples/defaults/index.html
  main/resources/examples/pipeline/index.html
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-defaults/defaults/index.html
  main/resources/variables/cli_env_vars/index.html
  main/resources/variables/config_env_vars/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/stylesheets/extra.css
  main/user/changelog/index.html
  main/user/core-concepts/components/kafka-app/index.html
  main/user/core-concepts/components/kafka-connector/index.html
  main/user/core-concepts/components/kafka-sink-connector/index.html
  main/user/core-concepts/components/kafka-source-connector/index.html
  main/user/core-concepts/components/kubernetes-app/index.html
  main/user/core-concepts/components/overview/index.html
  main/user/core-concepts/components/producer-app/index.html
  main/user/core-concepts/components/streams-app/index.html
  main/user/core-concepts/config/index.html
  main/user/core-concepts/defaults/index.html
  main/user/core-concepts/variables/environment_variables/index.html
  main/user/core-concepts/variables/substitution/index.html
  main/user/examples/atm-fraud-pipeline/index.html
  main/user/getting-started/quick-start/index.html
  main/user/getting-started/setup/index.html
  main/user/getting-started/teardown/index.html
  main/user/migration-guide/v1-v2/index.html
  main/user/references/cli-commands/index.html
  main/user/references/editor-integration/index.html
  main/user/what-is-kpops/index.html
Due: none

Update ocurrences of old 'pipeline config' terminology
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/components/base_components/base_defaults_component.py
  kpops/config.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/gen_schema.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Add descriptions
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

fix(ci): Add toml extension to dprint
  dprint.json
Due: none

fix(ci): add css extensions to dprint
  dprint.json
Due: none

chore: format
  pyproject.toml
Due: none

chore: run formatter
  docs/docs/stylesheets/extra.css
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
