Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python -m hooks.gen_schema
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python -m hooks.gen_docs.gen_docs_cli_usage
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python -m hooks.gen_docs.gen_docs_env_vars
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python -m hooks.gen_docs.gen_docs_components
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Deployed 514ffeb5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: none

Bump version 9.3.0 → 9.4.0
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed dab135eb to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 05303d6f to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

Deployed e49a048c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

Deployed 5cec9041 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: none

Update order
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed c1eeca71 to main with MkDocs 1.6.1 and mike 2.1.3
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Bump version 9.4.0 → 9.4.1
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 2f261fb7 to 9.4 with MkDocs 1.6.1 and mike 2.1.3
  9.4/schema/defaults.json
  9.4/schema/pipeline.json
  9.4/search/search_index.json
  9.4/sitemap.xml
  9.4/sitemap.xml.gz
  9.4/user/changelog/index.html
Due: none

Deployed 2f261fb7 to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

refactor(helm-diff)!: use lists for ignore keypaths
  docs/docs/resources/pipeline-config/config.yaml
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  kpops/component_handlers/helm_wrapper/model.py
  kpops/utils/dict_differ.py
  tests/utils/test_diff.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

test: update assertion
  tests/test_kpops_config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 742582bb to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-config/config.yaml
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/user/changelog/index.html
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
Due: none

test: add case for key containing . and /
  tests/utils/test_diff.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

style: rename type alias
  kpops/component_handlers/helm_wrapper/model.py
  kpops/utils/dict_differ.py
  tests/utils/test_diff.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(helm-diff)!: define ignore keypath as array (#600)
  docs/docs/resources/pipeline-config/config.yaml
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  kpops/component_handlers/helm_wrapper/model.py
  kpops/utils/dict_differ.py
  tests/test_kpops_config.py
  tests/utils/test_diff.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed e3f0ff7b to main with MkDocs 1.6.1 and mike 2.1.3
  main/resources/pipeline-config/config.yaml
  main/resources/variables/config_env_vars.env
  main/resources/variables/config_env_vars/index.html
  main/schema/config.json
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user/core-concepts/config/index.html
  main/user/core-concepts/variables/environment_variables/index.html
Due: none

refactor(helm-diff)!: configure on HelmApp component level
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-config/config.yaml
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/helm_app.py
  kpops/config/__init__.py
  tests/cli/snapshots/test_init/test_init_project_include_optional/config.yaml
  tests/components/conftest.py
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
  tests/test_kpops_config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

test: update snapshots
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Due: none

Deployed fed58b63 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-config/config.yaml
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
Due: none

revert: todo
  kpops/components/base_components/helm_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor(helm-app): make handlers private
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/producer/producer_app.py
  kpops/components/streams_bootstrap_v2/streams/streams_app.py
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/components/streams_bootstrap_v2/test_producer_app.py
  tests/components/streams_bootstrap_v2/test_streams_app.py
  tests/components/streams_bootstrap_v2/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor(helm-app): remove workaround
  kpops/components/base_components/helm_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: replace pyright with basedpyright
  .github/workflows/ci.yaml
  lefthook.yaml
  pyproject.toml
  uv.lock
Due: none

chore(basedpyright): do not report Any
  pyproject.toml
Due: none

fix: import from correct location
  kpops/cli/main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore(basedpyright): ignore reportImplicitStringConcatenation
  pyproject.toml
Due: none

style: remove whitespace
  kpops/cli/main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor(yaml): return Any
  hooks/gen_docs/gen_docs_components.py
  kpops/utils/yaml.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(basedpyright): ignore reportUnsafeMultipleInheritance
  pyproject.toml
Due: none

fix: add missing type parameters
  kpops/utils/dict_ops.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: mark todo
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
