Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs:
  name: gen-docs
  entry: python hooks/gen_docs.py
  language: system
  require_serial: true

Set component type title
  docs/docs/schema/pipeline.json
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/gen_schema.py
Due: pyright, gen-schema, gen-docs

Update snapshot
  tests/cli/snapshots/snap_test_schema_generation.py
Due: none

Refactor
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Fix KPOps capitalisation
  docs/docs/schema/config.json
  docs/docs/schema/pipeline.json
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Fix Pyright error
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs

Mark const
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs

Derive component type automatically from class name
  docs/docs/schema/pipeline.json
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/gen_schema.py
  kpops/utils/pydantic.py
Due: pyright, gen-schema, gen-docs

Cleanup component type
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/utils/gen_schema.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs

Set field title
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Regenerate schema
  docs/docs/schema/pipeline.json
Due: none

Update docstring
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs

Cleanup leftover
  kpops/components/base_components/pipeline_component.py
Due: pyright, gen-schema, gen-docs

Migrate SchemaHandler
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/schema_handler/test_schema_handler.py
Due: pyright, gen-schema, gen-docs

Refactor CLI using dtyper (#306)
  docs/docs/user/references/cli-commands.md
  kpops/__init__.py
  kpops/cli/main.py
  kpops/pipeline_generator/pipeline.py
  poetry.lock
  pyproject.toml
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs

Bump version 1.3.2 → 1.4.0
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema

Mark todo
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs

Refactor component type as cached classproperty
  kpops/cli/registry.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/pipeline_component.py
  kpops/utils/__init__.py
  kpops/utils/gen_schema.py
Due: pyright, gen-schema, gen-docs

Update tests
  setup.cfg
  tests/cli/test_registry.py
  tests/components/test_base_defaults_component.py
  tests/pipeline/test_components/__init__.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_components_without_schema_handler/__init__.py
  tests/pipeline/test_components_without_schema_handler/components.py
Due: pyright, gen-schema

Rename producer -> producer-app
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer.yaml
  examples/bakdata/atm-fraud-detection/pipeline.yaml
  tests/pipeline/resources/custom-config/pipeline.yaml
  tests/pipeline/resources/pipeline-component-should-have-prefix/pipeline.yaml
  tests/pipeline/resources/pipeline-with-paths/pipeline.yaml
  tests/pipeline/resources/read-from-component/pipeline.yaml
Due: none

Add test
  tests/pipeline/resources/pipeline-mixed-case/pipeline.yaml
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema

Fix merge
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema

Update defaults
  docs/docs/resources/pipeline-defaults/defaults-producer.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  examples/bakdata/atm-fraud-detection/defaults.yaml
  tests/compiler/resources/defaults_development.yaml
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/no-topics-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
Due: none

Update snapshot
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: none

Remove verbose type annotation
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Camel case TopicConfig
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs

Update snapshots
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: none

Set titles
  docs/docs/schema/pipeline.json
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs

Add workaround
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema

Fix docstring & assign descriptions dynamically
  docs/docs/schema/pipeline.json
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs

Remove camel case support from TopicConfig
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs

Update tests
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: none

Path conditions:
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

