Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check .
        args: [ --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-ci
        name: ruff-ci
        entry: ruff check .
        args: [ --config, pyproject.toml, --output-format, text, --no-fix]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
        stages: [manual]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Refactor schema generation
  kpops/cli/settings_sources.py
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix format
  hooks/gen_docs/gen_docs_env_vars.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix Pyright diagnostics
  kpops/components/base_components/kafka_connector.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix subgraph
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix ruff
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix docs
  docs/docs/user/references/cli-commands.md
Due: dprint

Move definition of `Resource` type to model
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/models/resource.py
  kpops/components/base_components/pipeline_component.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Add missing HelmApp docs
  docs/docs/user/core-concepts/components/helm-app.md
Due: dprint

Fix type
  kpops/components/base_components/models/resource.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: add comment
  kpops/components/base_components/models/to_section.py
  kpops/config.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: update ruff
  poetry.lock
  pyproject.toml
Due: none

style: feedback
  CONTRIBUTING.md
  docs/docs/developer/contributing.md
  hooks/gen_docs/gen_docs_contributing.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

ci(pre-commit): Run ruff only on modified files
  .pre-commit-config.yaml
Due: none

Set `components_module` & `pipeline_base_dir` in config
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/config.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

feat: make copying func generic, hook to copy changelog
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  docs/docs/developer/contributing.md
  docs/docs/user/changelog.md
  docs/mkdocs.yml
  hooks/__init__.py
  hooks/gen_docs/gen_docs_changelog.py
  hooks/gen_docs/gen_docs_cli_usage.py
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_contributing.py
  hooks/gen_docs/gen_docs_env_vars.py
  hooks/gen_docs/utils.py
  hooks/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

chore: lint and format
  hooks/gen_docs/gen_docs_changelog.py
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: add header by default
  docs/docs/developer/contributing.md
  docs/docs/user/changelog.md
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

style: remove 1 newline
  docs/docs/user/changelog.md
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

chore: remove space
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: avoid clash between hook and dprint
  docs/docs/user/changelog.md
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

fix: don't use binary mode
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: newline problem
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: copying files
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: use symbolic links instead of scripts
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/docs/developer/contributing.md
  docs/docs/user/changelog.md
Due: dprint

chore: delete unused files
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  hooks/gen_docs/gen_docs_changelog.py
  hooks/gen_docs/gen_docs_contributing.py
  hooks/gen_docs/utils.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed ea8a49c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Deployed dfc5824 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci: change target path for changelog
  .github/workflows/release.yaml
Due: none

Deployed 6e1c6ac to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

feat: Introduce functions that mimick the ``model_dump`` capabilities
  kpops/utils/pydantic.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: add serializers
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

refactor: get rid of unneeded validator input
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 268d2c7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

feat: enable nested env vars
  kpops/cli/main.py
  kpops/config.py
  tests/pipeline/test_pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: remove todo, yaml source seems tested already
  kpops/cli/settings_sources.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars
