Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Replace black with ruff (#365)
  docs/docs/stylesheets/extra.css
Due: none

ci: rename dprint step
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

chore: format css
  docs/docs/stylesheets/extra.css
Due: none

misc: feedback and enable config schema gen
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/references/cli-commands.md
  hooks/gen_schema.py
  kpops/cli/main.py
  kpops/config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

refactor: move yaml settings source to pydantic module
  kpops/cli/main.py
  kpops/cli/settings_sources.py
  kpops/config.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

refactor: `by_alias` rotate parameters
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/model.py
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

style: lowercase apps
  kpops/components/base_components/kubernetes_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

fix: add missing arg in model serializer
  kpops/components/streams_bootstrap/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

refactor: Add generic type to pydantic module
  kpops/utils/pydantic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

chore: remove old comment
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 4a46d3a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Revert "docs: remove hardcoded substitution variables"
  docs/docs/schema/config.json
  docs/docs/user/core-concepts/variables/substitution.md
Due: dprint

Deployed 2d4d83e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed 2d4d83e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

chore: fix typo
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 941927d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/cli_env_vars.env
  dev/resources/variables/cli_env_vars/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

tests: Update all substitution variables
  examples/bakdata/atm-fraud-detection/config.yaml
  examples/bakdata/atm-fraud-detection/defaults.yaml
  kpops/config.py
  kpops/pipeline_generator/pipeline.py
  tests/cli/test_kpops_config.py
  tests/pipeline/resources/component-type-substitution/infinite_pipeline.yaml
  tests/pipeline/resources/component-type-substitution/pipeline.yaml
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
  tests/pipeline/resources/no-topics-defaults/defaults.yaml
  tests/pipeline/resources/no-topics-defaults/defaults_development.yaml
  tests/pipeline/resources/pipeline-component-should-have-prefix/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults_development.yaml
  tests/pipeline/test_components/components.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

chore: run pre-commit
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/resources/variables/variable_substitution.yaml
  kpops/pipeline_generator/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 6154934 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/resources/variables/variable_substitution.yaml
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
Due: none

misc: feedback and enable config schema gen
  docs/docs/schema/config.json
  hooks/gen_schema.py
  kpops/cli/main.py
  kpops/config.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 0f2ee80 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/resources/variables/variable_substitution.yaml
  dev/schema/config.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
Due: none

Deployed 0f2ee80 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

style: Update TODOs
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/pipeline_generator/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

ci: format lint
  hooks/gen_docs/gen_docs_env_vars.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 858fd88 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

fix: Allow any type of data under `app.streams.config`
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
  tests/pipeline/resources/temp-any-values-in-app-streams-config/defaults.yaml
  tests/pipeline/resources/temp-any-values-in-app-streams-config/pipeline.yaml
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed dc2f3d7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
Due: none

test: add temp test for name trimming
  tests/pipeline/resources/temp-trim-release-name/defaults.yaml
  tests/pipeline/resources/temp-trim-release-name/pipeline.yaml
  tests/pipeline/test_pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 683986e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci: generate config schema
  docs/docs/schema/config.json
Due: none

Deployed fbb8da0 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/resources/variables/variable_substitution.yaml
  dev/schema/config.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/core-concepts/variables/substitution/index.html
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
