Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs
        name: gen-docs
        entry: python hooks/gen_docs.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

docs(variables): reword intro
  docs/docs/user/references/variables/substitution.md
Due: none

fix: fstring was missing the f
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

Bump version 1.4.0 → 1.5.0
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema

docs(variables): Tables are now included,
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/user/references/variables/environment_variables.md
  hooks/gen_docs.py
  pyproject.toml
Due: pyright, gen-schema, gen-docs

Refactor handling of Helm flags
  docs/docs/schema/config.json
  docs/docs/schema/pipeline.json
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
Due: pyright, gen-schema, gen-docs

Update test
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema

Update template test
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/test_template.py
Due: pyright, gen-schema

Update Helm config docs
  docs/docs/schema/config.json
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema

Fix test kubernetes-app being plural
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema

docs(variables): Add a tip about dotenv files
  docs/docs/user/references/variables/environment_variables.md
  poetry.lock
Due: none

Refactor KubernetesApp Helm chart as property
  kpops/components/base_components/kubernetes_app.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/components/test_kafka_app.py
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema, gen-docs

Refactor using shared HelmFlags to avoid code duplication
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/kubernetes_app.py
Due: pyright, gen-schema, gen-docs

ci: move dependency
  poetry.lock
  pyproject.toml
Due: none

Update function docs
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
Due: pyright, gen-schema, gen-docs

Refactor handling of Helm flags (#319)
  docs/docs/schema/config.json
  docs/docs/schema/pipeline.json
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/components/test_kafka_app.py
  tests/components/test_kubernetes_app.py
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/test_template.py
Due: pyright, gen-schema, gen-docs

Bump version 1.5.0 → 1.6.0
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema

docs(dev): Document variable reference generation
  docs/docs/dev/development/autogeneration.md
Due: none

ci(hooks): tidy up code
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

docs(vars): Improve descriptions
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
Due: none

docs(dev): document autogeneration
  docs/docs/dev/development/autogeneration.md
Due: none

docs: typo
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

ci(hooks): polish
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

refactor(hooks): split gen_docs
  .pre-commit-config.yaml
  hooks/gen_docs/__init__.py
  hooks/gen_docs/gen_docs_cli_usage.py
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

refactor(gen_docs): rearrange env_var script
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

refactor(env var hook): parametrize and tidy up
  hooks/gen_docs/__init__.py
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

refactor: Only iterate over the values in PipelineConfig
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

ci: correct doc generation steps
  .github/workflows/ci.yaml
Due: none

ci: fix typo
  .github/workflows/ci.yaml
Due: none

fix: try a fix for windows
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

chore: pass tests
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

fix: WIP don;t remove csv file to check for errors on windows
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

chore: revert last commit, diagnose in a different way
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

fix: windows error (try at least)
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

fix: try another fix for windows
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

chore: remove code for debugging
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema

docs: update dev doc
  docs/docs/dev/development/autogeneration.md
Due: none

refactor: split and organize gen_docs
  hooks/gen_docs/__init__.py
  hooks/gen_docs/gen_docs_cli_usage.py
  hooks/gen_docs/gen_docs_components.py
Due: pyright, gen-schema

ci: update the entries for doc generation
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none
