Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs:
  name: gen-docs
  entry: python hooks/gen_docs.py
  language: system
  require_serial: true

Add dtyper dependency
  poetry.lock
  pyproject.toml
Due: none

Refactor CLI and use dtyper
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Ignore incorrect Pyright diagnostics
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Update docs
  docs/docs/user/references/cli-commands.md
Due: none

First working version
  kpops/cli/main.py
  kpops/pipeline_generator/exception.py
  kpops/pipeline_generator/pipeline.py
  kpops/pipeline_generator/pipeline_components.py
  kpops/pipeline_generator/pipeline_factory.py
  tests/pipeline/resources/multiple-pipelines/pipeline-1/pipeline.yaml
  tests/pipeline/resources/multiple-pipelines/pipeline-2/pipeline.yaml
  tests/pipeline/resources/multiple-pipelines/pipeline-3/prefix-pipeline.yaml
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_components/__init__.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs

Export public Python API
  kpops/__init__.py
Due: pyright, gen-schema

Update files
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema

Fixed tests
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Due: pyright, gen-schema, gen-docs

Update files
  kpops/pipeline_generator/pipeline.py
  kpops/pipeline_generator/pipeline_factory.py
Due: pyright, gen-schema

Update files
  kpops/pipeline_generator/model.py
  kpops/pipeline_generator/pipeline.py
  kpops/pipeline_generator/pipeline_factory.py
Due: pyright, gen-schema

Fix `__all__` names
  kpops/__init__.py
Due: pyright, gen-schema

Add httpx as a global instance
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/topic/proxy_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: pyright, gen-schema

Fix linting
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/topic/proxy_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: pyright, gen-schema

Delete f string
  kpops/component_handlers/topic/proxy_wrapper.py
Due: pyright, gen-schema

Add some logs
  kpops/component_handlers/topic/proxy_wrapper.py
Due: pyright, gen-schema

Add ignore to the await calls
  kpops/component_handlers/topic/proxy_wrapper.py
Due: pyright, gen-schema

Add issue
  kpops/component_handlers/topic/proxy_wrapper.py
Due: pyright, gen-schema

Remove prints
  kpops/component_handlers/topic/proxy_wrapper.py
Due: pyright, gen-schema

Add missing type annotations
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Update example
  examples/bakdata/atm-fraud-detection/pipeline.yaml
Due: none

Update example
  examples/bakdata/atm-fraud-detection/defaults.yaml
  examples/bakdata/atm-fraud-detection/pipeline.yaml
Due: none

Add test
  kpops/pipeline_generator/pipeline.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema

Add issue link
  kpops/cli/main.py
Due: pyright, gen-schema, gen-docs

Move test up
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema

Implement comments
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/utils/async_utils.py
  poetry.lock
  pyproject.toml
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: pyright, gen-schema

Refactor attribute titles & descriptions
  docs/docs/schema/pipeline.json
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs

Validate unique step names (#292)
  kpops/cli/main.py
  kpops/pipeline_generator/pipeline.py
  tests/pipeline/resources/no-input-topic-pipeline/pipeline.yaml
  tests/pipeline/resources/pipeline-duplicate-step-names/pipeline.yaml
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs

Update snapshots
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: none

Convert two remaining lines to snake case
  examples/bakdata/atm-fraud-detection/defaults.yaml
Due: none

Assign `schema_type` discriminator automatically
  hooks/gen_schema.py
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Refactor component models
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: pyright, gen-schema, gen-docs

Refactor component models
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs

Regenerate schema
  docs/docs/schema/pipeline.json
Due: none

Drop duplicate component type from schema
  docs/docs/schema/pipeline.json
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Refactor
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/utils/gen_schema.py
Due: pyright, gen-schema, gen-docs

Simplify
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Simplify valid component logic
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Update tests
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema

Cleanup occurrences of `schema_type`
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/utils/pydantic.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs

Update comment
  kpops/utils/gen_schema.py
Due: pyright, gen-schema

Path conditions:
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

