Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args: [ --force-exclude, --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [ --force-exclude, --config, pyproject.toml ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: gen-docs-contributing
        name: gen-docs-contributing
        entry: python hooks/gen_docs/gen_docs_contributing.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: gen-docs-changelog
        name: gen-docs-changelog
        entry: python hooks/gen_docs/gen_docs_changelog.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Improve incomplete type hints
  kpops/components/common/topic.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Improve incomplete type hints
  kpops/component_handlers/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Improve incomplete type hints
  kpops/component_handlers/kafka_connect/connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Improve incomplete type hints
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/utils/dict_differ.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Improve incomplete type hints
  kpops/utils/dict_differ.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Improve incomplete type hints
  tests/utils/test_diff.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Revert "Update Pydantic"
  poetry.lock
  pyproject.toml
Due: none

Fix
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Rename TypeVars
  kpops/utils/dict_differ.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Improve incomplete type hints
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Remove noqa directive
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update Ruff
  poetry.lock
  pyproject.toml
Due: none

Replace networkx with rustworkx
  kpops/pipeline/__init__.py
  poetry.lock
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update CI for Ruff
  .github/ruff-matcher.json
  .github/workflows/ci.yaml
Due: none

Remove networkx
  poetry.lock
  pyproject.toml
Due: none

Improve incomplete type hints (#515)
  .github/ruff-matcher.json
  .github/workflows/ci.yaml
  kpops/component_handlers/__init__.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/component_handlers/topic/utils.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_app.py
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/pipeline/__init__.py
  kpops/utils/__init__.py
  kpops/utils/dict_differ.py
  kpops/utils/yaml.py
  poetry.lock
  pyproject.toml
  tests/utils/test_diff.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Remove Pyright directive
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed b565e5e to main with MkDocs 1.5.3 and mike 1.1.2
  main/developer/api/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Replace kubernetes-asyncio with lightkube
  poetry.lock
  pyproject.toml
Due: none

Refactor implementation using lightkube
  kpops/component_handlers/kubernetes/pvc_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Make Kubernetes client private
  kpops/component_handlers/kubernetes/pvc_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update PVCHandler init
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Improve logging
  kpops/component_handlers/kubernetes/pvc_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Simplify implementation
  kpops/component_handlers/kubernetes/pvc_handler.py
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Simplify implementation
  kpops/component_handlers/kubernetes/pvc_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Set namespace as default
  kpops/component_handlers/kubernetes/pvc_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add support for streams-bootstrap-v3
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap_v3/__init__.py
  kpops/components/streams_bootstrap_v3/app_type.py
  kpops/components/streams_bootstrap_v3/kafka_app.py
  kpops/components/streams_bootstrap_v3/producer/__init__.py
  kpops/components/streams_bootstrap_v3/producer/model.py
  kpops/components/streams_bootstrap_v3/producer/producer_app.py
  kpops/components/streams_bootstrap_v3/streams/__init__.py
  kpops/components/streams_bootstrap_v3/streams/model.py
  kpops/components/streams_bootstrap_v3/streams/streams_app.py
  tests/api/test_registry.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 6a3f10e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

add tests
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  kpops/components/streams_bootstrap_v3/kafka_app.py
  kpops/components/streams_bootstrap_v3/producer/producer_app.py
  kpops/components/streams_bootstrap_v3/streams/model.py
  tests/pipeline/resources/streams-bootstrap-v3/defaults.yaml
  tests/pipeline/resources/streams-bootstrap-v3/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_manifest_streams_bootstrap_v3/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap_v3/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_v3/manifest.yaml
  tests/pipeline/test_components/__init__.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  tests/pipeline/snapshots/test_generate/test_manifest_streams_bootstrap_v3/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed f3dbaea to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/sitemap.xml.gz
Due: none

Update files
  kpops/components/streams_bootstrap_v3/kafka_app.py
  kpops/components/streams_bootstrap_v3/streams/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed dc55119 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

add v3 base class and remove kafka app
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap_v3/base.py
  kpops/components/streams_bootstrap_v3/producer/model.py
  kpops/components/streams_bootstrap_v3/producer/producer_app.py
  kpops/components/streams_bootstrap_v3/streams/model.py
  kpops/components/streams_bootstrap_v3/streams/streams_app.py
  tests/pipeline/resources/streams-bootstrap-v3/defaults.yaml
  tests/pipeline/resources/streams-bootstrap-v3/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap_v3/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_v3/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 10e91e8 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none
