Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Implement changes
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Format message
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 0909d8f to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Fix iterator
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed a4091b6 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Execute operations in parallel (#372)
  docs/docs/user/references/cli-commands.md
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/pipeline.py
  poetry.lock
  pyproject.toml
  tests/cli/test_pipeline_steps.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_helm_app.py
  tests/components/test_kafka_connector.py
  tests/pipeline/resources/parallel-pipeline/config.yaml
  tests/pipeline/resources/parallel-pipeline/defaults.yaml
  tests/pipeline/resources/parallel-pipeline/pipeline.yaml
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed bcd3865 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Fix "enriching component of type `None`" log
  kpops/components/base_components/base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Add failing test
  tests/components/resources/defaults.yaml
  tests/components/test_base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Implement fix
  kpops/utils/dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Refactor
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update test
  tests/components/test_base_defaults_component.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update test components
  tests/pipeline/test_components/components.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add test case
  tests/utils/test_dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Improve wording
  tests/utils/test_dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Move special model serialization code path to enrichment method in BaseDefaultsComponent
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/utils/dict_ops.py
  tests/utils/test_dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Improve type hints in parametrized test
  tests/utils/test_dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Delete unused method
  kpops/components/base_components/helm_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed f9aae5c to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed bcd3865 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

Extract consts in tests
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Rename kafka-sink-connector defaults in test
  tests/pipeline/resources/defaults.yaml
Due: none

Deployed 3bd1f0d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kafka-source-connector.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kafka-source-connector/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/migration-guide/v2-v3/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed 3bd1f0d to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add paragraph to migration guide
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

Deployed 9ea5459 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/migration-guide/v2-v3/index.html
Due: none

Improve JsonType
  kpops/component_handlers/kubernetes/model.py
  kpops/utils/dict_ops.py
  kpops/utils/types.py
  tests/utils/test_dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Fix type
  kpops/pipeline.py
  kpops/utils/dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Improve type
  kpops/utils/dict_ops.py
  tests/utils/test_dict_ops.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Move name to pipeline-component defaults
  tests/pipeline/resources/defaults.yaml
Due: none

Fix test
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed ad6ee5b to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Refactor test
  tests/components/test_kafka_sink_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 605c375 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

docs: update config example
  docs/docs/resources/pipeline-config/config.yaml
Due: none

docs: Update substitution var doc
  docs/docs/user/core-concepts/variables/substitution.md
Due: dprint

Deployed 1dbd7be to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-config/config.yaml
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/core-concepts/config/index.html
  dev/user/core-concepts/variables/substitution/index.html
  dev/user/references/cli-commands/index.html
Due: none

test: update substitution variables in test resources
  tests/pipeline/resources/dotenv/config.yaml
  tests/pipeline/resources/env-specific-config-only/config_production.yaml
  tests/pipeline/resources/multi-config/config.yaml
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
