Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

ruff:
  name: ruff
  entry: ruff check .
  args:
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Add paralellizable tasks
  kpops/cli/main.py
  kpops/pipeline_generator/pipeline.py
  test.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix ruff
  kpops/cli/main.py
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix pyright
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix concurrency problem
  kpops/pipeline_generator/pipeline.py
  test.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix maccabe complexity
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix black format
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix frozen graph
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Debugging
  kpops/pipeline_generator/pipeline.py
  test.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Use create tasks and not gather
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Change gather awaiting
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Change async
  kpops/pipeline_generator/pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Delete tests
  test.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

More debugging
  kpops/cli/main.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Revert "Bump version 2.0.9 → 2.0.10"
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Revert "Enable transparent OS environment lookups from internal environment (#368)"
  kpops/utils/environment.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/utils/test_environment.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Revert "Print details on connector name mismatch error (#369)"
  .gitignore
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_connector.py
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults_development.yaml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Revert "Fix environment variables documentation generation (#362)"
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.md
  hooks/gen_docs/__init__.py
  hooks/gen_docs/gen_docs_cli_usage.py
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  tests/utils/resources/__init__.py
  tests/utils/resources/nested_base_settings.py
  tests/utils/test_doc_gen.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

refactor: Custom schema gen WIP
  kpops/utils/gen_schema.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci: remove potentially harmful rule
  pyproject.toml
Due: none

fix: helm exiting with code 1 is not an error
  kpops/component_handlers/helm_wrapper/helm.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: use env var for namespace
  examples/bakdata/atm-fraud-detection/config.yaml
  examples/bakdata/atm-fraud-detection/pipeline.yaml
Due: none

tests: add fixture that clears os environ
  kpops/component_handlers/helm_wrapper/helm.py
  tests/conftest.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/test_example.py
  tests/pipeline/test_pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: lint and format
  tests/conftest.py
  tests/pipeline/test_example.py
  tests/pipeline/test_pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: update ruff
  poetry.lock
  pyproject.toml
Due: none

refactor: take imports out of type checkign block
  kpops/cli/pipeline_config.py
  kpops/components/base_components/kafka_connector.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: upgrade ruff
  poetry.lock
  pyproject.toml
Due: none

fix: indentation
  docs/docs/user/getting-started/setup.md
Due: dprint

ci(dprint): ignore setup lists
  docs/docs/user/getting-started/setup.md
Due: dprint

Deployed 6c7ea5b to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/resources/architecture/components-hierarchy/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/overview/index.html
  dev/user/getting-started/setup/index.html
Due: none

refactor: revert to `check=False`
  kpops/component_handlers/helm_wrapper/helm.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: more consistent annotation
  tests/pipeline/test_example.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: fixture returns `os.environ`
  tests/conftest.py
  tests/pipeline/test_example.py
  tests/pipeline/test_pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix early exit upon Helm exit code 1 (#376)
  examples/bakdata/atm-fraud-detection/config.yaml
  examples/bakdata/atm-fraud-detection/pipeline.yaml
  kpops/cli/pipeline_config.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/kafka_connector.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/test_example.py
  tests/pipeline/test_pipeline.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 352cf9c to main with MkDocs 1.4.2 and mike 1.1.2
  main/resources/examples/pipeline/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Revert "Revert "Fix environment variables documentation generation (#362)""
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.md
  hooks/gen_docs/__init__.py
  hooks/gen_docs/gen_docs_cli_usage.py
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  tests/utils/resources/__init__.py
  tests/utils/resources/nested_base_settings.py
  tests/utils/test_doc_gen.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Remove deprecated mkdocs-material-extensions
  poetry.lock
  pyproject.toml
Due: none

Save progress
  kpops/cli/main.py
  kpops/pipeline_generator/pipeline.py
  poetry.lock
  pyproject.toml
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Path conditions:
  ruff: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  dprint: any of: \.(md|markdown|mdown)$
