Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

Apply suggestions from code review
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

fix: missing import
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Refactor
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore: run
  kpops/cli/pipeline_config.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/topic/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: commit bump-pydantic log
  log.txt
Due: none

Mark todo
  kpops/component_handlers/kafka_connect/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: Do not document usage of `null`
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/from_.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-short-topics/defaults.yaml
Due: gen-docs-components

Add alias generator and connector class validator
  kpops/component_handlers/kafka_connect/model.py
  kpops/utils/pydantic.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor connector name handling
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Update snapshot
  tests/pipeline/snapshots/snap_test_example.py
Due: none

Update snapshot
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: none

Update tests
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Hide connector config name field from schema because it is optional
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor connector tests
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor connector tests
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor connector tests
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Make dry_run a kw-only argument
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: fix typo
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/from_.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
Due: gen-docs-components

Fix edge case where connector config name is set to empty string
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_connector.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Fix test assertions
  tests/components/test_kafka_connector.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Fix connector name not containing prefix
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_connector.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Rename parameter
  kpops/components/base_components/kafka_connector.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Print invalid connector class
  kpops/component_handlers/kafka_connect/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Extract local variable
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: update editor integration schema links
  docs/docs/resources/editor_integration/settings.json
Due: none

Remove :type and :rtype from docstrings
  docs/docs/schema/pipeline.json
  hooks/gen_schema.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/dict_ops.py
  kpops/utils/docstring.py
  kpops/utils/gen_schema.py
  kpops/utils/yaml_loading.py
  poetry.lock
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Update files
  kpops/utils/docstring.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update files
  poetry.lock
Due: none

Refactor
  kpops/component_handlers/kafka_connect/connect_wrapper.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Refactor input/output types (#232)
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer-app.yaml
  docs/docs/resources/pipeline-components/sections/from_.yaml
  docs/docs/resources/pipeline-components/sections/to.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  docs/docs/schema/pipeline.json
  examples/bakdata/atm-fraud-detection/defaults.yaml
  examples/bakdata/atm-fraud-detection/pipeline.yaml
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/resources/no-input-topic-pipeline/pipeline.yaml
  tests/pipeline/resources/pipeline-with-short-topics/defaults.yaml
  tests/pipeline/resources/pipeline-with-short-topics/pipeline.yaml
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Add KPOps Runner GitHub Action to the documentation
  actions/kpops-runner/README.md
  docs/docs/user/references/ci-integration/github-actions.md
Due: none

chore: remove unused file
  docs/docs/resources/editor_integration/settings_template.json
Due: none

Fix editor integration example in docs (#273)
  docs/docs/resources/editor_integration/settings.json
Due: none

Add component full_name property
  kpops/cli/main.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Update tests
  tests/components/test_kafka_app.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_components/components.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update files
  docs/docs/user/references/ci-integration/github-actions.md
Due: none

Update files
  docs/mkdocs.yml
Due: none

Update files
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/streams/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Path conditions:
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

