Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args:
          [
            --force-exclude,
            --config,
            pyproject.toml,
            --fix,
            --show-fixes,
            --exit-non-zero-on-fix,
          ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [--force-exclude, --config, pyproject.toml]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
      - id: gen-schema
        name: gen-schema
        entry: python -m hooks.gen_schema
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python -m hooks.gen_docs.gen_docs_cli_usage
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python -m hooks.gen_docs.gen_docs_env_vars
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python -m hooks.gen_docs.gen_docs_components
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: dprint
        name: dprint
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

refactor: use lower case initial state for user config
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: update Connect wrapper tests
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: update description for initial state
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

test: update snapshots
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Due: none

test: update
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 59b6ae23 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/developer/api/index.html
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

test: add test case for initial state paused & stopped
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(kafka-connect): make initial_state nullable
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

feat(kafka-connect): set state on connector update
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

test: update kafka connect handler tests
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed a375e843 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

refactor: adjust order
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: resume connector after updating its config
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: update param
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed bb2e2e4c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: none

docs: fix param
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kafka_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 93878ad7 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/schema/defaults.json
  dev/schema/pipeline.json
Due: none

fix(kafka-connect): handle API response correctly
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix(kafka-connect): correctly raise exception when response body doesn't contain JSON
  kpops/component_handlers/utils/exception.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test(connect-wrapper): add tests
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: setup KPOps logger globally
  tests/conftest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test: refactor & assert log on state change
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test(connect-wrapper): assert connector create without initial state
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

feat: check actual connector state before update
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

feat(kafka-connect): log update state during dry-run
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

test(kafka-connect): add tests for dry-run
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor(kafka-connect): set constraints when a state change should be performed
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Support streams-bootstrap v4
  kpops/components/streams_bootstrap/base.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Support streams-bootstrap v4
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Support streams-bootstrap v4 (#617)
  kpops/components/streams_bootstrap/base.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Bump version 10.0.3 → 10.0.4
  .bumpversion.cfg
  docs/docs/user/changelog.md
  kpops/const/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, dprint

Deployed 32a4506a to 10.0 with MkDocs 1.6.1 and mike 2.1.3
  10.0/search/search_index.json
  10.0/sitemap.xml
  10.0/sitemap.xml.gz
  10.0/user/changelog/index.html
Due: none

Deployed 597e6994 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 32a4506a to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/user/changelog/index.html
Due: none

test: fix missing connector type
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed ab525e6c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
Due: none

test: use more narrow return type annotation for fixture
  tests/components/test_helm_app.py
  tests/components/test_kafka_connector.py
  tests/pipeline/test_clean.py
  tests/pipeline/test_deploy.py
  tests/pipeline/test_destroy.py
  tests/pipeline/test_reset.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: apply feedback
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars
