Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args: [ --force-exclude, --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [ --force-exclude, --config, pyproject.toml ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: gen-docs-contributing
        name: gen-docs-contributing
        entry: python hooks/gen_docs/gen_docs_contributing.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: gen-docs-changelog
        name: gen-docs-changelog
        entry: python hooks/gen_docs/gen_docs_changelog.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Deployed ceb102b to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Change from.components.<component-name>.type to input
  docs/docs/resources/pipeline-components/helm-app.yaml
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/from_.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
Due: gen-docs-components

Deployed 428bbae to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/resources/pipeline-components/helm-app.yaml
  dev/resources/pipeline-components/kafka-app.yaml
  dev/resources/pipeline-components/kafka-connector.yaml
  dev/resources/pipeline-components/kafka-sink-connector.yaml
  dev/resources/pipeline-components/kubernetes-app.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/sections/from_.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-kafka-app.yaml
  dev/resources/pipeline-defaults/defaults-kafka-connector.yaml
  dev/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/components/helm-app/index.html
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/kafka-sink-connector/index.html
  dev/user/core-concepts/components/kubernetes-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
Due: none

fix(docs): Correct `from.components.<component-name>.type` to input (#473)
  docs/docs/resources/pipeline-components/helm-app.yaml
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/sections/from_.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
Due: gen-docs-components

Bump version 4.1.1 → 4.1.2
  docs/docs/user/changelog.md
  kpops/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 791a7981 to 4.1 with MkDocs 1.5.3 and mike 1.1.2
  4.1/resources/pipeline-components/helm-app.yaml
  4.1/resources/pipeline-components/kafka-app.yaml
  4.1/resources/pipeline-components/kafka-connector.yaml
  4.1/resources/pipeline-components/kafka-sink-connector.yaml
  4.1/resources/pipeline-components/kubernetes-app.yaml
  4.1/resources/pipeline-components/pipeline.yaml
  4.1/resources/pipeline-components/pipeline/index.html
  4.1/resources/pipeline-components/sections/from_.yaml
  4.1/resources/pipeline-components/streams-app.yaml
  4.1/resources/pipeline-defaults/defaults-kafka-app.yaml
  4.1/resources/pipeline-defaults/defaults-kafka-connector.yaml
  4.1/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  4.1/resources/pipeline-defaults/defaults.yaml
  4.1/resources/pipeline-defaults/defaults/index.html
  4.1/search/search_index.json
  4.1/sitemap.xml.gz
  4.1/user/changelog/index.html
  4.1/user/core-concepts/components/helm-app/index.html
  4.1/user/core-concepts/components/kafka-app/index.html
  4.1/user/core-concepts/components/kafka-sink-connector/index.html
  4.1/user/core-concepts/components/kubernetes-app/index.html
  4.1/user/core-concepts/components/streams-app/index.html
  4.1/user/core-concepts/defaults/index.html
Due: none

Deployed 5e32bba to main with MkDocs 1.5.3 and mike 1.1.2
  main/resources/pipeline-components/helm-app.yaml
  main/resources/pipeline-components/kafka-app.yaml
  main/resources/pipeline-components/kafka-connector.yaml
  main/resources/pipeline-components/kafka-sink-connector.yaml
  main/resources/pipeline-components/kubernetes-app.yaml
  main/resources/pipeline-components/pipeline.yaml
  main/resources/pipeline-components/pipeline/index.html
  main/resources/pipeline-components/sections/from_.yaml
  main/resources/pipeline-components/streams-app.yaml
  main/resources/pipeline-defaults/defaults-kafka-app.yaml
  main/resources/pipeline-defaults/defaults-kafka-connector.yaml
  main/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  main/resources/pipeline-defaults/defaults.yaml
  main/resources/pipeline-defaults/defaults/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/core-concepts/components/helm-app/index.html
  main/user/core-concepts/components/kafka-app/index.html
  main/user/core-concepts/components/kafka-sink-connector/index.html
  main/user/core-concepts/components/kubernetes-app/index.html
  main/user/core-concepts/components/streams-app/index.html
  main/user/core-concepts/defaults/index.html
Due: none

Deployed 791a798 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Lint docs using vale
  .vale.ini
  .vale/config/vocabularies/kpops/accept.txt
Due: none

Fix capitalization of PyPI
  README.md
Due: dprint

Improve type annotations
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update Ruff
  poetry.lock
  pyproject.toml
Due: none

Update Ruff config
  pyproject.toml
Due: none

Format
  hooks/__init__.py
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  hooks/gen_schema.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/schema_handler/schema_provider.py
  kpops/components/base_components/helm_app.py
  kpops/utils/gen_schema.py
  tests/cli/test_registry.py
  tests/cli/test_schema_generation.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_components_without_schema_handler/components.py
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Fix Ruff warning
  tests/cli/test_init.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Fix Ruff warning using AnyIO
  poetry.lock
  pyproject.toml
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Fix Ruff warning using AnyIO
  tests/component_handlers/topic/test_proxy_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Refactor
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Fix Ruff warning using AnyIO
  tests/component_handlers/topic/test_topic_handler.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update Ruff (#475)
  hooks/__init__.py
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  hooks/gen_schema.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/schema_handler/schema_provider.py
  kpops/components/base_components/helm_app.py
  kpops/utils/gen_schema.py
  poetry.lock
  pyproject.toml
  tests/cli/test_init.py
  tests/cli/test_registry.py
  tests/cli/test_schema_generation.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/component_handlers/topic/test_topic_handler.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_components_without_schema_handler/components.py
  tests/pipeline/test_generate.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 6d42170 to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Improve type annotations for parallel pipeline jobs (#476)
  kpops/pipeline.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 1798bfa to main with MkDocs 1.5.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Set Pyright to warn on unknown types
  pyproject.toml
Due: none

Fix pyproject
  pyproject.toml
Due: none

test matcher
  kpops/components/base_components/kafka_connector.py
  poetry.lock
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Enable ruff matcher in CI
  .github/workflows/ci.yaml
Due: none

test
  kpops/components/base_components/kafka_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Fix pyright matcher
  .github/pyright-matcher.json
Due: none

Introduce error for test purposes
  kpops/components/base_components/helm_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Remove unneeded changes
  .github/workflows/ci.yaml
  kpops/components/base_components/kafka_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Make matcher loop
  .github/pyright-matcher.json
Due: none

Improve matcher regex
  .github/pyright-matcher.json
Due: none

Remove Ruff error
  kpops/components/base_components/kafka_connector.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Format
  kpops/components/base_components/helm_app.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Remove first pattern
  .github/pyright-matcher.json
Due: none

Remove loop
  .github/pyright-matcher.json
Due: none

Fix matching of filename
  .github/pyright-matcher.json
Due: none

Set Pyright to warn on unknown types (#480)
  pyproject.toml
Due: none
