Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

ruff-lint:
  name: ruff-lint
  entry: ruff check
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  - --fix
  - --show-fixes
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  args:
  - --force-exclude
  - --config
  - pyproject.toml
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

gen-docs-contributing:
  name: gen-docs-contributing
  entry: python hooks/gen_docs/gen_docs_contributing.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-changelog:
  name: gen-docs-changelog
  entry: python hooks/gen_docs/gen_docs_changelog.py
  language: system
  require_serial: true
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint fmt
  language: system
  require_serial: true
  pass_filenames: false

Configure api docs gen
  docs/mkdocs.yml
Due: none

Cosmetic
  kpops/utils/gen_schema.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Fix `kpops --version`
  kpops/cli/main.py
  kpops/const/__init__.py
  pyproject.toml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 951cfde to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add test ensuring namespace compatibility
  tests/api/test_registry.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed f87d71a to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Remove local settings
  docs/docs/developer/api.md
Due: dprint

Change comment
  docs/mkdocs.yml
Due: none

Deployed bded0d4 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Add links to future options
  docs/mkdocs.yml
Due: none

Deployed e0143bf to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Omit `setup_handlers` and `create_pipeline`
  docs/docs/developer/api.md
Due: dprint

Add docstrings in API
  kpops/api/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed b6830a1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update migration guide
  docs/docs/user/migration-guide/v6-v7.md
Due: dprint

Update codeowners
  CODEOWNERS
Due: none

Exclude private functions prefixed with `_`
  docs/docs/developer/api.md
Due: dprint

Rename functions
  kpops/api/__init__.py
  tests/api/test_handlers.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Add back `Pipeline`
  docs/docs/developer/api.md
Due: dprint

Exclude Pipeline private methods
  docs/docs/developer/api.md
Due: dprint

Exclude Pydantic model config
  docs/docs/developer/api.md
Due: dprint

Rename
  docs/docs/developer/api.md
Due: dprint

Deployed 8cc6645 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Deployed 8cc6645 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Update config
  config.yaml
  docs/docs/resources/pipeline-config/config.yaml
  tests/cli/resources/config.yaml
  tests/cli/resources/empty_module/config.yaml
Due: none

Update config
  docs/docs/resources/pipeline-config/config.yaml
Due: none

Remove unnecessary test resources
  tests/cli/resources/empty_module/__init__.py
  tests/cli/resources/empty_module/config.yaml
  tests/cli/resources/no_module/config.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 31636ca to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Refactor module name
  kpops/api/registry.py
  kpops/const/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 475f2ce to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Update files
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

  gen-docs-contributing: any of: \.py$
  gen-docs-changelog: any of: \.py$
  dprint: any of: \.(md|markdown|mdown)$
