Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

pyright:
  name: pyright
  entry: pyright
  language: system
  require_serial: true

gen-schema:
  name: gen-schema
  entry: python hooks/gen_schema.py
  language: system
  require_serial: true
  pass_filenames: false

gen-docs-cli:
  name: gen-docs-cli
  entry: python hooks/gen_docs/gen_docs_cli_usage.py
  language: system
  require_serial: true

gen-docs-env-vars:
  name: gen-docs-env-vars
  entry: python hooks/gen_docs/gen_docs_env_vars.py
  language: system
  require_serial: true

gen-docs-components:
  name: gen-docs-components
  entry: python hooks/gen_docs/gen_docs_components.py
  language: system
  require_serial: true

chore: update docs
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.md
Due: none

chore: lint and format
  tests/utils/test_doc_gen.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

style: string concatenation
  tests/utils/test_doc_gen.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

refactor: remove unreachable code
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

style: improve naming and typing
  hooks/gen_docs/__init__.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: tests in windows
  tests/utils/test_doc_gen.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 5dfd27e to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/developer/auto-generation/index.html
  dev/resources/examples/defaults/index.html
  dev/resources/pipeline-components/kafka-app.yaml
  dev/resources/pipeline-components/pipeline.yaml
  dev/resources/pipeline-components/pipeline/index.html
  dev/resources/pipeline-components/producer-app.yaml
  dev/resources/pipeline-components/sections/app-kafka-app.yaml
  dev/resources/pipeline-components/sections/app-producer-app.yaml
  dev/resources/pipeline-components/sections/app-streams-app.yaml
  dev/resources/pipeline-components/streams-app.yaml
  dev/resources/pipeline-defaults/defaults-kafka-app.yaml
  dev/resources/pipeline-defaults/defaults-producer-app.yaml
  dev/resources/pipeline-defaults/defaults-streams-app.yaml
  dev/resources/pipeline-defaults/defaults.yaml
  dev/resources/pipeline-defaults/defaults/index.html
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-app/index.html
  dev/user/core-concepts/components/producer-app/index.html
  dev/user/core-concepts/components/streams-app/index.html
  dev/user/core-concepts/defaults/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/migration-guide/v2-v3/index.html
Due: none

fix: typing
  hooks/gen_docs/gen_docs_env_vars.py
  tests/utils/test_doc_gen.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

style: improve docstr
  hooks/gen_docs/__init__.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

fix: typing
  hooks/gen_docs/gen_docs_env_vars.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 15a799b to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

fix: docstr, typing
  hooks/gen_docs/__init__.py
  tests/utils/test_doc_gen.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed 5d623c5 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Fix environment variables documentation generation (#362)
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.md
  hooks/gen_docs/__init__.py
  hooks/gen_docs/gen_docs_cli_usage.py
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  tests/utils/resources/__init__.py
  tests/utils/resources/nested_base_settings.py
  tests/utils/test_doc_gen.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed a61c4e4 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

ci: introduce ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

ci: exclude snapshots
  pyproject.toml
Due: none

ci(ruff): ignore F401 in tests/*/__init__.py
  pyproject.toml
Due: none

ci(ruff): fix order
  pyproject.toml
Due: none

ci(ruff): comment out rules in nursery, remove comment
  pyproject.toml
Due: none

ci(ruff): Autofix "D"
  hooks/__init__.py
  hooks/gen_schema.py
  kpops/cli/registry.py
  kpops/component_handlers/helm_wrapper/dry_run_handler.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/utils.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/dict_differ.py
  kpops/utils/dict_ops.py
  kpops/utils/docstring.py
  kpops/utils/gen_schema.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

ci(ruff): improve comments
  pyproject.toml
Due: none

ci(ruff-pydocstyle): improve rule selection
  pyproject.toml
Due: none

ci(ruff): autofix "D"
  kpops/cli/registry.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/utils.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/pipeline_component.py
  kpops/utils/gen_schema.py
  tests/cli/test_schema_generation.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: fix docstrings flagged by "D"
  hooks/gen_schema.py
  kpops/cli/registry.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/utils.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  kpops/utils/dict_differ.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

ci(ruff-pyupgrade): autofix
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kafka_connect/timeout.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/utils/dict_differ.py
  kpops/utils/dict_ops.py
  kpops/utils/environment.py
  kpops/utils/gen_schema.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: manually fix code flagged by "UP"
  kpops/components/streams_bootstrap/streams/model.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: update snapshots
  tests/cli/snapshots/snap_test_schema_generation.py
Due: none

ci(ruff): add rule ignores for "B"
  pyproject.toml
Due: none

ci(ruff): configure "B"
  pyproject.toml
Due: none

chore: manually fix code flagged by "B"
  kpops/cli/registry.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

chore: fix code flagged by "INP"
  .github/scripts/__init__.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(ruff): fix code flagged by "BLE"
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/pipeline_generator/pipeline.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

chore(ruff-comprehensions): ignore "C408" on certain lines due to conflict with pyright
  kpops/utils/gen_schema.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci(ruff-errmsg): autofix "EM"
  kpops/cli/registry.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/dict_differ.py
  kpops/utils/dict_ops.py
  kpops/utils/gen_schema.py
  kpops/utils/yaml_loading.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

ci(ruff-pie): autofix
  kpops/components/base_components/base_defaults_component.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

ci(ruff-pie): exclude "PIE804"
  pyproject.toml
Due: none

ci(ruff-pytest): autofix "PT"
  tests/component_handlers/helm_wrapper/test_dry_run_handler.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/components/test_base_defaults_component.py
  tests/components/test_kafka_app.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/test_template.py
  tests/utils/test_environment.py
Due: pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Path conditions:
  pyright: any of: \.py$, but not: ^tests/.*snapshots/
  gen-schema: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-cli: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-env-vars: any of: \.py$, but not: ^tests/.*snapshots/
  gen-docs-components: any of: (?x)^(
  .gitignore
  | hooks/gen_docs\.py
  | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/headers/.*\.yaml
  | docs/docs/resources/pipeline-components/sections/.*\.yaml
  | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
  | kpops/cli/main\.py
  | kpops/components/.*\.py
)$

