Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check .
        args: [ --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-ci
        name: ruff-ci
        entry: ruff check .
        args: [ --config, pyproject.toml, --output-format, text, --no-fix]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
        stages: [manual]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

fix: problem matcher regex
  .github/ruff-matcher.json
Due: none

fix: regex problem matchr
  .github/ruff-matcher.json
Due: none

Update files
  docs/docs/changelog.md
Due: dprint

Update files
  kpops/cli/config.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

ci: only lint once with ruff
  .github/workflows/ci.yaml
Due: none

chore: lint ci
  .github/workflows/ci.yaml
Due: none

use config fixture
  tests/component_handlers/schema_handler/test_schema_handler.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Update files
  docs/docs/user/migration-guide/v2-v3.md
Due: dprint

fix(ci): deduplicate pre-commit run
  .pre-commit-config.yaml
Due: none

ci: always run ruff
  .github/workflows/ci.yaml
Due: none

Deployed 61a6760 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

fix(ci): windows
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

chore: lint and format
  kpops/component_handlers/helm_wrapper/helm.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

docs: add ruff badge
  README.md
Due: dprint

Deployed 966dd85 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci(ruff): configure isort
  pyproject.toml
Due: none

Deployed 2712048 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

chore(ruff): remove comment
  pyproject.toml
Due: none

Add reviews
  docs/docs/schema/config.json
  docs/docs/user/migration-guide/v2-v3.md
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/base_defaults_component.py
  kpops/config.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/gen_schema.py
  tests/cli/test_handlers.py
  tests/cli/test_kpops_config.py
  tests/compiler/test_pipeline_name.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/test_base_defaults_component.py
  tests/components/test_kafka_app.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, dprint

tests: rewrite snapshots
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
Due: ruff

ci: better access to python version
  .github/workflows/ci.yaml
Due: none

Deployed b255ea3 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

ci: remove ruff-ci pre-commit hook
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

Deployed d1aeac5 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci: remove repeating repo definitions pre-commit
  .pre-commit-config.yaml
Due: none

chore: typing
  tests/component_handlers/schema_handler/test_schema_handler.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars

Deployed a2c5a7f to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci: replace black with ruff
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

ci: remove black
  poetry.lock
  pyproject.toml
Due: none

ci: update ruff
  poetry.lock
  pyproject.toml
Due: none

Deployed 1d7a04b to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

ci: format with ruff
  hooks/gen_docs/gen_docs_components.py
  kpops/cli/main.py
Due: ruff, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components

Deployed 8190be7 to dev with MkDocs 1.4.2 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

ci: enable some pyright rules
  pyproject.toml
Due: none

ci: pyright matcher WIP
  .github/pyright-matcher.json
Due: none
