Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        args: [ --force-exclude, --config, pyproject.toml, --fix, --show-fixes, --exit-non-zero-on-fix ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: [ --force-exclude, --config, pyproject.toml ]
        language: system
        types_or: [python]
        require_serial: true # run once for all files
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs-cli
        name: gen-docs-cli
        entry: python hooks/gen_docs/gen_docs_cli_usage.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-env-vars
        name: gen-docs-env-vars
        entry: python hooks/gen_docs/gen_docs_env_vars.py
        language: system
        types: [python]
        require_serial: true
        exclude: ^tests/.*snapshots/
        pass_filenames: false
      - id: gen-docs-components
        name: gen-docs-components
        entry: python hooks/gen_docs/gen_docs_components.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true
      - id: gen-docs-contributing
        name: gen-docs-contributing
        entry: python hooks/gen_docs/gen_docs_contributing.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: gen-docs-changelog
        name: gen-docs-changelog
        entry: python hooks/gen_docs/gen_docs_changelog.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: dprint
        name: dprint 
        entry: dprint fmt
        language: system
        types: [markdown]
        require_serial: true
        pass_filenames: false

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  poetry.lock
  pyproject.toml
  tests/components/streams_bootstrap/test_producer_app.py
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed e90d446 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Extend StreamsBootstrap model
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 67f17fa to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/sitemap.xml.gz
Due: none

Extend StreamsBootstrap model (#534)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  poetry.lock
  pyproject.toml
  tests/components/streams_bootstrap/test_producer_app.py
  tests/components/streams_bootstrap/test_streams_app.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Bump version 8.0.1 → 8.1.0
  docs/docs/user/changelog.md
  pyproject.toml
Due: dprint

Deployed ffe4072 to main with MkDocs 1.5.3 and mike 1.1.2
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 4ba3b81 to main with MkDocs 1.5.3 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user/changelog/index.html
Due: none

Manifest resouces in different oppeartions
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_deploy/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_manifest_clean/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_manifest_destroy/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_manifest_reset/manifest.yaml
Due: none

Update files
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/base_components/kubernetes_app.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  tests/cli/test_init.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Update files
  kpops/components/streams_bootstrap/strimzi_model.py
  kpops/pipeline/__init__.py
  tests/cli/snapshots/test_init/test_init_project/config_include_opt.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  kpops/components/streams_bootstrap/strimzi_model.py
  kpops/pipeline/__init__.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 0085ce8 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/changelog/index.html
  dev/user/core-concepts/variables/environment_variables/index.html
Due: none

Update files
  kpops/api/__init__.py
  tests/pipeline/resources/streams-bootstrap-argo/defaults.yaml
  tests/pipeline/resources/streams-bootstrap-argo/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_deploy/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-contributing, gen-docs-changelog

Deployed 600f709 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update files
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/components/base_components/helm_app.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/pipeline/__init__.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_folder_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline_with_multiple_pipeline_paths/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_model_serialization/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_prefix_pipeline_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_command/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_patch/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_python_api/resources
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_manifest_clean/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap_manifest_reset/manifest.yaml
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed 3770a8e to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/references/cli-commands/index.html
Due: none

Update files
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/pipeline/snapshots/test_manifest/test_pause/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_sync/manifest.yaml
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Deployed c23cfb2 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/user/references/cli-commands/index.html
Due: none

Update files
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/components/base_components/helm_app.py
  kpops/config/__init__.py
  tests/pipeline/resources/streams-bootstrap-argo/config.yaml
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Introduce KPOps operation and manifest resources for deployment
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/api/operation.py
  kpops/cli/main.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/models/resource.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/config/__init__.py
  kpops/manifestors/__init__.py
  kpops/manifestors/helm_app_manifestor.py
  kpops/manifestors/manifestor.py
  kpops/manifestors/streams_app_manifestor.py
  tests/cli/snapshots/test_init/test_init_project/config_include_opt.yaml
  tests/conftest.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint

Introduce KPOps operation and manifest resources for deployment
  tests/pipeline/snapshots/test_manifest/test_deploy_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_manifest_mode/manifest.yaml
Due: none

Propose refactoring for #541
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/models/resource.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/manifestors/helm_app_manifestor.py
  kpops/manifestors/manifestor.py
  kpops/manifestors/streams_app_manifestor.py
  kpops/manifests/__init__.py
  kpops/manifests/argo.py
  kpops/manifests/kubernetes.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Replace `manifest` method with `manifest_deploy`
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/pipeline/test_manifest.py
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Fix files value type in Streamsboostrap compnent
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Update files
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: none

Deployed 299e2de to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/developer/api/index.html
  dev/objects.inv
  dev/resources/pipeline-components/dependencies/kpops_structure.yaml
  dev/resources/variables/config_env_vars.env
  dev/resources/variables/config_env_vars/index.html
  dev/schema/config.json
  dev/schema/defaults.json
  dev/schema/pipeline.json
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/variables/environment_variables/index.html
  dev/user/references/cli-commands/index.html
Due: none

Deployed a41dfa7 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/sitemap.xml.gz
Due: none

Fix `files` field value type in Streamsboostrap component (#542)
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/streams_bootstrap/model.py
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Allow enum values when dumping models
  kpops/components/common/kubernetes_model.py
  kpops/utils/pydantic.py
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog

Deployed 917e8ea to main with MkDocs 1.5.3 and mike 1.1.2
  main/schema/defaults.json
  main/schema/pipeline.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Allow enum values when dumping models
  docs/docs/user/core-concepts/components/kafka-source-connector.md
Due: dprint

Deployed 625d2d1 to dev with MkDocs 1.5.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/user/core-concepts/components/kafka-source-connector/index.html
Due: none

Fix: Use enum values when dumping models (#543)
  docs/docs/user/core-concepts/components/kafka-source-connector.md
  kpops/components/common/kubernetes_model.py
  kpops/utils/pydantic.py
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Due: ruff-lint, ruff-format, pyright, gen-schema, gen-docs-cli, gen-docs-env-vars, gen-docs-components, gen-docs-contributing, gen-docs-changelog, dprint
