Repository bakdata/kpops: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, gen-schema, gen-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--settings", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ["--config", "setup.cfg"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        require_serial: true # run once for all files
        exclude: ^tests/.*snapshots/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        stages: [manual]
        args: ["--py310-plus"]
        exclude: ^tests/.*snapshots/
  - repo: local
    hooks:
      - id: gen-schema
        name: gen-schema
        entry: python hooks/gen_schema.py
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        exclude: ^tests/.*snapshots/
      - id: gen-docs
        name: gen-docs
        entry: python hooks/gen_docs.py
        language: system
        # .gitignore -- indicates whether the script is ran with `--all-files`
        # hooks/gen_docs.py -- hook's behavior is possibly changed
        # kpops/cli/main.py -- typer-cli has to generate the CLI Usage reference
        # docs/.../.yaml -- examples changed or dependencies edited
        # kpops/components/... -- KPOps components possibly changed
        files: >
          (?x)^(
            .gitignore
            | hooks/gen_docs\.py
            | docs/docs/resources/pipeline-defaults/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/headers/.*\.yaml
            | docs/docs/resources/pipeline-components/sections/.*\.yaml
            | docs/docs/resources/pipeline-components/dependencies/.*\.yaml
            | kpops/cli/main\.py
            | kpops/components/.*\.py
          )$
        require_serial: true

Update files
  kpops/component_handlers/helm_wrapper/model.py
Due: pyright, gen-schema

refactor: move towards using more paths
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

refactor: WIP paths instead of str
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

refactor: WIP replace strs with paths
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

chore: lint
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

feat: add redifying util
  kpops/utils/colorify.py
Due: pyright, gen-schema

refactor: use redify
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

refactor: yellowify
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

chore: format
  hooks/gen_docs.py
  kpops/utils/colorify.py
Due: pyright, gen-schema, gen-docs

style: fix spelling
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

refactor: Order fields as they are defined
  docs/docs/resources/pipeline-components/dependencies/defaults_pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/dependencies/kpops_structure.yaml
  docs/docs/resources/pipeline-components/dependencies/pipeline_component_dependencies.yaml
  docs/docs/resources/pipeline-components/kafka-app.yaml
  docs/docs/resources/pipeline-components/kafka-connector.yaml
  docs/docs/resources/pipeline-components/kafka-sink-connector.yaml
  docs/docs/resources/pipeline-components/kafka-source-connector.yaml
  docs/docs/resources/pipeline-components/kubernetes-app.yaml
  docs/docs/resources/pipeline-components/pipeline.yaml
  docs/docs/resources/pipeline-components/producer.yaml
  docs/docs/resources/pipeline-components/streams-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-kafka-connector.yaml
  docs/docs/resources/pipeline-defaults/defaults-kubernetes-app.yaml
  docs/docs/resources/pipeline-defaults/defaults-producer.yaml
  docs/docs/resources/pipeline-defaults/defaults.yaml
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

style: change name of script args constant
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

style: document, simplify WIP
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

Update files
  kpops/component_handlers/helm_wrapper/exception.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: pyright, gen-schema

Update files
  kpops/component_handlers/helm_wrapper/model.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: pyright, gen-schema

Update files
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
Due: pyright, gen-schema

Update files
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema

Exclude Helm tests from dry-run diff (#293)
  kpops/component_handlers/helm_wrapper/exception.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/model.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/components/test_kubernetes_app.py
Due: pyright, gen-schema

Bump version 1.3.1 → 1.3.2
  CHANGELOG.md
  kpops/__init__.py
  pyproject.toml
Due: pyright, gen-schema

Deployed 813b6bd to 1.3 with MkDocs 1.4.2 and mike 1.1.2
  1.3/sitemap.xml
  1.3/sitemap.xml.gz
Due: none

Update Black
  poetry.lock
  pyproject.toml
Due: none

Call local Black in pre-commit hook to avoid version discrepancy
  .pre-commit-config.yaml
Due: none

Fix vulnerability in mkdocs-material
  poetry.lock
Due: none

Revert "Use field alias in docstring"
  kpops/components/base_components/pipeline_component.py
Due: pyright, gen-schema, gen-docs

Update Black (#294)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Fix vulnerability in mkdocs-material (#295)
  poetry.lock
Due: none

Convert extra fields to camel case
  kpops/components/base_components/kubernetes_app.py
Due: pyright, gen-schema, gen-docs

Remove redundant config class
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
Due: pyright, gen-schema, gen-docs

Refactor
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/utils/pydantic.py
Due: pyright, gen-schema, gen-docs

Resolve todo
  kpops/components/base_components/pipeline_component.py
Due: pyright, gen-schema, gen-docs

Refactor using dict comprehension
  kpops/utils/pydantic.py
Due: pyright, gen-schema

Move breaking changes section upper in the change log config (#287)
  .github/changelog-config.json
Due: none

style: move const declaration
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs

refactor: remove needless sort
  hooks/gen_docs.py
Due: pyright, gen-schema, gen-docs
